[2013-07-23 20:34] csmoore opened #1 "2525C Symbols Reported as not displaying correctly in ArcGIS Runtime"
Customer reports in NIM092427 that some symbols do not display in ArcGIS Runtime 10.1.1. Source of the problem is missing or erroneous symbols in the Style Files (and derived symbol dictionary).

Here are the issues reported with the symbols that do not display:

| Number | Issue Reported | Source | Notes | Heirarchy Name | Symbol Id | Name |
| --- | --- | --- | --- | --- | --- | --- |
| 1 | Does

[2013-08-20 14:18] csmoore opened #2 "Rename 2525 Style Files to Prepend with "Mil2525 " to make consistent with APP6"
The APP6 Style files all start with "APP6 " and this makes them easy to locate in the ArcGIS Style Manager.

A similar convention should be used for 2525 Style Files to make the naming for 2525 & APP6 consistent.

Consider Changing their names to add a "Mil2525 " to the beginning and remove the "C2 UEI"

Here are the proposed naming changes:
1. "C2 Military Operations.style" ==> "Mil2525 Military

[2013-08-21 00:50] csmoore opened #3 "APP6B Style File Issues"
Incorrect SIDC in Tags:

| SIDC | Issue | Notes |
| --- | --- | --- |
| G*CPPBYCG------ |  | Extra 'P' in SIDC, should be G*CPBYCG------- |
| SFUAPWM--------- | length = 16 |  |
| SFGPEWAH------ | length = 14 |  |
| SHGPEWAH------ | length = 14 |  |
| SNGPEWAH------ | length = 14 |  |
| SUGPEWAH------ | length = 14 |  |
| SFGPEVEE----- | length = 13 |  |
| SHGPEVEE----- | length = 13 |  |
| SNGPEV

[2013-08-21 13:01] csmoore opened #4 "Mil2525 Style File Issues"
Incorrect SIDC in Tags:

| Item Name | SIDC | Issue/Notes |
| --- | --- | --- |
| Orbit - Random Closed F | GFGPGPAN----X | length = 13 |
| Orbit - Random Closed H | GHGPGPAN----X | length = 13 |
| Orbit - Random Closed N | GNGPGPAN----X | length = 13 |
| Orbit - Random Closed U | GUGPGPAN----X | length = 13 |
| Station ASW Ship H | SHSPA--------- | length = 14 |

[2013-08-28 17:35] csmoore opened #5 "2525 Style Files are much larger than they should be"
Many of the style files in data\mil2525c\stylefiles are larger than they should be (double the size) - they should be compacted & this will significantly reduce the size.

You can compare the sizes of the 2525 files to the App6 files which look more reasonable.

[2013-11-05 15:59] eacheson opened #6 "discrepancies between .dat and pngs output by ExportSymbols.java"
Number of pngs output in my test run of ExportSymbols was 6,667, number of rows in mil2525c.dat viewed through sqlite manager is 6912. 28 rows at the start don't appear to have anything under 'Name', 'StyleFile', or 'Category'.
That is still over 200 symbols difference.

When running the test app I get some error console output:
--> Unexpected Bad JSON string for Id: SINSTALLU
--> Unexpected Bad J

[2013-12-27 17:07] conklinbd opened #7 "Valid APP6 Symbol ID Codes (SIDCs) do not export with symboldictionary.getSymbolImage"
Copied from
runtimecore/cim_rule_engine/issues/3 need to have access to the internal repo to view original issue

Valid APP6 SIDCs do not export with symboldictionary.getSymbolImage

To reproduce, either export one of the SIDCs listed below

-or-
Run Test Driver from:
https://github.com/Esri/military-features-data/tree/master/test/TestExportSymbolsAll

java -classpath dist -jar dist/ExportSymbols.

[2013-12-27 17:08] conklinbd opened #8 "Some symbols in Mil2525C symbol dictionary have an empty name and SIC code."
Copied from issue
runtimecore/cim_rule_engine/issues/5

Some symbols in Mil2525C symbol dictionary have an empty name and SIC code.
When the runtimecore symbol dictionary (Mil2525C) is queried with no keywords and filters, I see it returning all symbols (6912 in all) but some of them have no name and SIC code. But only have a geometryType set to Line.

Here’s what I see when I print them from the

[2014-01-02 12:22] #6 closed, assigned to nobody

[2014-01-14 22:12] csmoore opened #9 "APP6 Symbols not working as of Runtime 10.2.2"
UPDATE (CSM): I have tested on 100.2 and latest stylx and added a ~~strikethrough~~ for the symbols now drawing  see [comment below with images](https://github.com/Esri/military-features-data/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc#issuecomment-357349742) - a more comprehensive list of symbol issues with the stylx is in #291

These symbols do not draw:

~~SHGPUUACRW~~ (Empty Symbol - upd

[2014-01-23 17:24] #2 closed, assigned to nobody

[2014-01-30 20:27] #8 closed, assigned to csmoore

[2014-02-06 19:27] csmoore opened #11 "FEBA Symbols Too Faint to Easily see on Map"
Forward Edge of Battle Area (FEBA) Symbols:

GUCPMMDF--(APP6B)  & GUGPDLF-- (2525C)

Here is how this now draws at 10.2 (was slightly brighter in prior versions)

![feba-fubar](https://f.cloud.github.com/assets/3090809/2102857/72d8075c-8f64-11e3-80be-307968c35bb4.png)

have line thicknesses that are too small and make viewing on the map difficult (particularly unknown/yellow, hostile/red) . Please

[2014-02-07 02:11] csmoore opened #12 "Wavy Line Weather/METOC Symbols do not display curves in Desktop/Runtime Export"
Lines with curved effect do not display in Desktop or Runtime Dictionary.GetSymbolImage (they were working with MessageProcessor on Map though)

Marginal Visual Flight Rule (MVFR),WA-DBAMV----A-- (Mil2525C)
W*A*FV----*****	Visual Ceiling (APP6B)

As a workaround, the Curved Effect has been removed from the Representation Rule until this issue is addressed in Desktop (10.3+).  Now draws with straig

[2014-02-07 17:34] dfoll opened #13 "SIGNAL INTELLIGENCE (SIGINT) ELECTRONIC WARFARE JAMMING symbol not displaying correctly"
SIGNAL INTELLIGENCE (SIGINT)/ELECTRONIC WARFARE/JAMMING this symbol contains wavy lines that should be contained within the frame, however with the symbol being generated, the wavy lines extend beyond the frame.

====2525C SYMBOLS====
SFGPUUMSEJ-----
SHGPUUMSEJ-----
SNGPUUMSEJ-----
SUGPUUMSEJ-----
![sfgpuumsej-----](https://f.cloud.github.com/assets/5322669/2112392/0938d5be-901e-11e3-989d-995d4a33

[2014-02-07 17:36] dfoll opened #14 "Electronic Warfare Jamming symbol wavy lines outside frame"
2525c//SIGNAL INTELLIGENCE (SIGINT)/ELECTRONIC WARFARE/JAMMING this symbol contains wavy lines that should be contained within the frame, however with the symbol being generated, the wavy lines extend beyond the frame.
SFGPUUMSEJ-----
SHGPUUMSEJ-----
SNGPUUMSEJ-----
SUGPUUMSEJ-----
![sfgpuumsej-----](https://f.cloud.github.com/assets/5322669/2112392/0938d5be-901e-11e3-989d-995d4a33fb64.png)
![shgp

[2014-02-07 17:36] #13 closed, assigned to nobody

[2014-02-07 17:52] #7 closed, assigned to csmoore

[2014-02-07 17:54] #3 closed, assigned to csmoore

[2014-02-07 18:00] #5 closed, assigned to csmoore

[2014-02-07 18:01] #4 closed, assigned to csmoore

[2014-02-07 18:02] #1 closed, assigned to csmoore

[2014-02-13 21:41] csmoore opened #15 "Dictionary Label Rule Conversion failing for several label rule names"
The Dictionary Label Rule Conversion is failing for several label rule names that contain the strings (“Irregular” / “Circular” / “Rectangular”) and a couple other cases where the Label names and the Symbol names do not match up exactly.

This results in the dictionary having a "-1" entry in the LabelRules column and the labels not being drawn for that symbol in Runtime.

[2014-02-19 18:06] jmhauck opened #16 "NIM097957 - ArcGIS Runtine 10.2 Java MIL2525C symbol antitank ditch orientation is incorrect."
Works at 10.1 but 10.2 does not.

MIL2525C symbol Tactical Graphics > Mobility/Survivability > Obstacles > Antitank Obstacles > Antitank Ditch > Complete orientation does not match the specification when using the point order specified in Runtime 10.2

![atdc](https://f.cloud.github.com/assets/2170893/2209898/5b0dc746-9992-11e3-96a4-000324ad903c.JPG)

When enter points as specified in the MIL2525C

[2014-02-19 18:32] jmhauck opened #17 "NIM097965 - ArcGIS Runtime 10.2 Java MIL2525C some symbols appear to be off in Runtime."
The following MIL2525C Symbols do not render properly:

WA-DIPFF---L---	METOC.AMPHC.ISP.ODFF	               OPERATOR-DEFINED FREEFORM
WAS-WP----P----	METOC.AMPHC.WND.PLT	                Wind Plot
WOS-HHDR---L---	METOC.OCA.HYDGRY.DANHAZ.REEF	REEF
WO-DMCA----L---	METOC.OCA.MMD.SUBCBL	                SUBMARINE CABLE

This is what the symbols should look like according to MIL2525C Specification:

![od

[2014-02-26 19:59] csmoore opened #19 "Get Style Files Updated in the next installer"
These have not been updated in an installer or SP since 10.1. The solutions team would like to update the Military Feature Style Files in the next full installer (10.3):

C2 Military Operations.style
C2 UEI Air Track.style
C2 UEI Ground Track Equipment.style
C2 UEI Ground Track Installations.style
C2 UEI Ground Track Units.style
C2 UEI Sea Surface Track.style
C2 UEI Space Track.style
C2 UEI Specia

[2014-03-06 14:54] jmhauck opened #21 "NIM099552 - Runtime MessageLayer/SymbolDictionary ignore 2525C status flag (Dashed Frames Missing)"
When creating 2525C symbols using either a MessageLayer or a SymbolDictionary, the status flag is ignored. The 2525C standard dictates that the fourth character (status) can be "P" for Present, or "A" for Anticipated.

When the flag is "P", a solid line will be drawn around the symbol. When the flag is "A", a dotted line should be used.

![ap](https://f.cloud.github.com/assets/2170893/2346186/1e1f

[2014-03-13 21:26] joebayles opened #22 "Symbol Validation"
As a military symbology user I can export all of the symbols from Runtime and see if they are correct.

The Runtime and Solutions teams have 2 separate test apps used to test and validate the symbol dictionaries when there is a change. During the last round of testing it was difficult to work with the Runtime Test App because the solutions team could not actually run it and their app was generatin

[2014-03-13 23:28] lfunkhouser opened #23 "APP-6(B) lines that aren't drawing"
:boom: This issue was submitted by @kerryrobinson These symbols do not always draw in Runtime and instead are drawn with an unknown symbol (depending on the number of points used)

GFCPBOAEB--L--G
GFCPBOA-------G
GFCPBOAIG-----G
GFCPBOAIL-----G
GFCPBOAIN-----G
GFCPBOAP------G
GFCPBOARP-----G
GFCPBOATO-----G
GFCPBOATW-----G
GFCPBOAU---L--G
GFCPBOAWB-----G
GFCPBOAWC-----G
GFCPBOAWD-----G
GFCPBOAWH--

[2014-03-19 13:16] csmoore opened #24 "2525C Symbols not drawing correctly in Runtime as of 10.2.2"
This issue will capture a list of all the 2525C symbols not drawing in Runtime as of 10.2.2 (just to get these all in one place), links to other/duplicate/linked issues recorded in Notes:

| ID | Name | Issue/Notes |
| --- | --- | --- |
| SFGPEVCF------- | Small/light flatbed trailer tractor trailer truck | Unknown Symbol (for all affiliations/frame) |
| WA-DIPFF---L--- | OPERATOR-DEFINED FREEFORM

[2014-03-31 15:28] garysheppardjr opened #25 "Documentation for military symbol properties?"
Is there documentation for the properties on military symbols? Developers need to know which properties (e.g. additionalinformation, uniquedesignation, etc.) are used and how they are used.

[2014-04-16 21:35] #25 closed, assigned to lfunkhouser

[2014-04-25 09:36] #23 closed, assigned to lfunkhouser

[2014-05-22 14:14] caporossi opened #29 "NIM102115 - APP6(B) AND 2525C symbol width GCT_ARROWWITHOFFSET always same width"
The symbol with sic GHCPMOLAF -****\* in according with the APP6  specification should be an arrow formed of N points of which the last point represents the width .
Looking inside the file APP6.dat with SqlLite Viewer we can see that in the table "LnAException " that tracks is of type GCT_ARROWWITHOFFSET , the symbol wants at least 3 anchor point , but the last anchor point , is required but not u

[2014-05-22 18:33] #22 closed, assigned to lfunkhouser

[2014-05-22 21:36] #19 closed, assigned to lfunkhouser

[2014-07-28 13:20] csmoore opened #31 "2525C data has three invalid Symbol IDs"
These IDs are in the 2525C tags and dictionary but are not valid:

S_SPS-----_****
S_SPNN----_****
S_UPSS----_****

Just listing here as a known issue (since we noticed this when testing 2525D), but this likely won't be fixed

[2014-09-11 18:46] csmoore opened #32 "Add ArcGIS Professional Stylx Files"
Runtime 10.2.4 and ArcGIS Professional now use the same style/dictionary file (.stylx) - update this repo with this & manage here.

[2014-09-11 19:29] #32 closed, assigned to csmoore

[2014-09-26 14:31] hokkos opened #34 "Where are the control points that parametrise the symbols of type line and area ?"
Hi,
not sure if it the right place, as it is more a question.
What are the parameters that produce VALIDATED_IMAGES_APP6... I guess there isn't any for points but for line and area there must be some values.
Thanks.

[2014-09-26 15:41] #34 closed, assigned to nobody

[2014-10-21 11:58] #29 closed, assigned to csmoore

[2015-01-02 18:03] jrweakland commented on #21
@jmhauck - Is this still a valid issue?

[2015-01-02 18:07] jrweakland commented on #17
@jmhauck - Is this still a valid issue?

[2015-01-02 18:08] jrweakland commented on #16
@jmhauck - Is this still a valid issue?

[2015-01-08 22:01] csmoore opened #37 "Fix anti-tank ditch symbol (backward teeth)"
|2525C ID|2525D ID|Status|Title|Full Support Issue Description Link|
|---|---|---|---|---|
|GFM*OADC----**X|25290202|Needs fixed in data|NIM097957 The Antitank Ditch MIL2525C symbol orientation is incorrect in ArcGIS Runtime SDK 10.2 for Java| https://github.com/Esri/military-features-data/issues/16 runtimecore/cim_rule_engine/issues/39  runtime/java-se-api/issues/761 https://github.com/Esri/milit

[2015-01-08 22:04] csmoore opened #38 "Fire Area (and Others) Symbols missing labels"
Many of the Fire Area symbols are missing labels/associations - I checked the 2525C dictionary and this same defect is present there also.

For mil2525d, these will need fixed in the file mil2525d-lines-areas-labels-base-template.stylx

Here is an screenshot/example:
![image](https://cloud.githubusercontent.com/assets/3090809/4149013/d5f05d5c-342e-11e4-889b-6a3380a125b0.png)

And here is the list

[2015-01-08 22:06] csmoore opened #39 "Missing 2525D New Lines/Areas in .Stylx"
Numerous new line/area symbols seem to be missing in mil2525d. It looks like we need to add the Line/Area symbols that are tagged "NEW_AT_2525D" to the stylx.

Here is the list of these tagged symbols:

|done|count|styleItemName|styleItemCategory|styleItemUniqueId|
|---|---|---|---|---|
|<ul><li>- [ ] </li></ul>|1|Maneuver Lines : Forward Edge of the Battle Area : Proposed or On Order|Control Meas

[2015-01-09 12:57] csmoore commented on #16
This is still an open issue as of mil2525D: https://github.com/Esri/military-features-data/issues/37

[2015-01-09 13:45] csmoore commented on #21
This issue is addressed - but in mil2525d only (i.e. you will need that version of the dictionary/plugin to test this) - there are no plans to address this in the older standard versions (2525c, app6b) at this time.

So this issue is ready to verify in mil2525d (note: mil2525d is currently only available in Pro, but should be available in next runtime release)

[2015-01-09 13:50] csmoore commented on #17
The 2 remaining open items from this issue have been move to #37 - so this issue can be closed when desired.

[2015-01-09 13:53] csmoore commented on #38
Related to #15

[2015-02-04 21:11] joebayles opened #41 "2525D Symbol Dictionary Field Glossary"
We should create a short definition for each of these fields:
![image](https://cloud.githubusercontent.com/assets/5016557/6049758/32d3445e-ac6f-11e4-8b63-337369faa9a3.png)
![image](https://cloud.githubusercontent.com/assets/5016557/6049757/2fd34862-ac6f-11e4-8b58-7c4584066829.png)

... and include that glossary here on GitHub and in the HTML documentation.

[2015-02-04 21:42] csmoore commented on #41
https://github.com/Esri/military-features-data/tree/master/data/mil2525d/core_data/gdbs#symbol-display-attributes

https://github.com/Esri/military-features-data/tree/master/data/mil2525d/core_data/gdbs#modifier-label-attributes

[2015-02-04 21:45] joebayles commented on #41
Perfect. Let's add a link to the Repo Readme that explains that location.

[2015-02-04 21:47] csmoore commented on #41
https://github.com/Esri/military-features-data/tree/master/data/mil2525d#general-instructions

[2015-02-04 21:49] #41 closed

[2015-02-12 16:53] csmoore opened #42 "Update mil2525d.stylx with latest updates from JointMilSym Repo"
Just adding an issue as a reminder that at some point (within the next month or so) we'll want to sync the mil2525d stylx with the latest updates from https://github.com/Esri/joint-military-symbology-xml :

Updates/Commits Ex:
https://github.com/Esri/joint-military-symbology-xml/compare/5dfa89ca1535b5a55c51e06c1adcbe8c78c8e92f...master

NOTE: I believe the current stylx was generated from [this co

[2015-02-27 13:43] csmoore commented on #42
@abouffard @jrweakland - just seeing if this can get added to a nearer-term sprint

[2015-02-27 16:52] abouffard commented on #42
The current sprint is full, with the EPC, Dev Summit, the SSMC/JSP meeting, and the prep for those.  The stylx update will occur in the next sprint.

[2015-02-27 18:12] csmoore commented on #42
Thanks for the update - next sprint sounds good.

There is no immediate/pressing rush for this - just wanted to make sure it is in the Backlog somewhere (like is there an Asana link?) and see if/when could expect on the near-horizon (like April-time frame?).

Also, we want to be able to keep the style data updated on regular internals (quarterly?) and in a relatively turnkey manner with the latest

[2015-04-01 12:22] csmoore opened #43 "Dictionary/stylx Label Text Symbols should use generic font family"
Similar to an issue we have with [the SVG fonts](https://github.com/Esri/joint-military-symbology-xml/issues/16#issuecomment-40620691), the runtime team wanted us to know that the fonts specified in the dictionary text symbols (that are authored in Desktop) may not always be available (_Note: I thought the only font used was "Arial" but that is still a proprietary font that is not always available

[2015-04-02 17:46] csmoore commented on #42
Just checking if this made it into the backlog/next sprint

[2015-04-02 19:05] abouffard commented on #42
Yes, as a matter of fact it is on my list of things to do within the next 48 business hours. :-)

[2015-04-08 20:44] csmoore commented on #39
@conklinbd @lfunkhouser - this would be a good task for the carto intern to learn mil-symbology when ready.

Just a reminder the lines/areas/labels are stored here: https://github.com/Esri/military-features-data/blob/master/data/mil2525d/core_data/stylxfiles/mil2525d-lines-areas-labels-base-template.stylx & then merged with the SVGs/points

[2015-04-13 17:37] joebayles opened #45 "Add "00" domain values to schema geodatabase"
In reference to https://github.com/Esri/joint-military-symbology-xml/issues/170, we need to update the schema to recognize 00 values sector 1 and sector 2 modifiers.

<b>Sector 1 Modifier: Status</b>
- [x] Activities: Unspecified
- [x] Air: Not Applicable
- [x] Air Missile: Unspecified
- [x] Space Missile: Unspecified
- [x] ControlMeasuresAreas: does not exist in 2525D
- [x] ControlMeasuresLines:

[2015-04-13 20:11] jrweakland opened #46 "Incorrect geometry assigned to feature"
The following are in areas domains and should be in lines:
- [ ] Maneuver Areas - Attack by Fire Position
- [ ] Protection Areas - Bridge or Gap
- [ ] Protection Areas - Roadblocks - Craters and Blown Bridges - Roadblock Complete

@abouffard can these be changed in the source data or did you want to keep them as areas in the source

[2015-04-13 20:12] jrweakland opened #47 "Some mission tasks do not draw"
Some of the mission tasks do not draw correct symbols. This is most likely due to the incorrect geometry being assigned to the feature.

- [ ] Destroy
- [ ] Interdict

[2015-04-13 21:53] jrweakland commented on #11
@csmoore - is this for runtime or, desktop, or both?

[2015-04-13 22:07] csmoore commented on #11
There shouldn't be a major difference between Runtime or Pro renderering, but it is possible, here is Pro screenshot - so looks like an issue in both.  But this is a general/global issue with all of these smaller-lined/yellow symbols

![image](https://cloud.githubusercontent.com/assets/3090809/7126475/85dda2f2-e207-11e4-9d01-640d7b190a10.png)

![image](https://cloud.githubusercontent.com/assets/30

[2015-04-16 21:21] abouffard opened #50 "Add Special Entity Subtypes to be Unit attributes"
_From @lfunkhouser on November 5, 2014 21:37_

Any suggestions on how we are going to handle the special entity subtypes? I don't believe they are in our solution.

These "codes" are
xxxx95 for Headquarters element
xxxx96 for Division and below support
xxxx97 for Corps support
xxxx98 for Theater/echelons above Corps support

![specialentitytypes](https://cloud.githubusercontent.com/assets/3800729/

[2015-04-16 21:21] abouffard commented on #50
_From @csmoore on November 5, 2014 21:46_

Can you just have an attribute/field/domain on units with values/strings

95 - Headquarters element
96 - Division and below support
97 - Corps support
98 - Theater/echelons above Corps support

If the attribute is there, I can figure out how to handle (it was a tremendous pain making this crazy/exceptional case work from the SIDC, but I *think* the attrib

[2015-04-16 21:21] abouffard commented on #50
_From @jrweakland on April 13, 2015 22:42_

We can add another domain to the FGDB with the four values.

[2015-04-29 20:03] abouffard commented on #45
I'm slightly confused by what's in the above lists.  Are these "does not exist in 2525D" entries  because the "Unspecified" entry was missing from the tables in each appendix?

These are the corrections based on what is in the appendix A tables, and therefore the way JMSML has been coded..

Sector 1 : Air Missile : Unspecified
Sector 1 : Space Missile : Unspecified
Sector 1 : Land Unit : Unspecifi

[2015-04-29 22:00] jrweakland commented on #45
We will need to update the domain values based on Appendix A instead of the individual appendices  for the standard.

[2015-04-30 15:57] abouffard commented on #45
The naming convention for modifiers in the domain ranges is currently <Category> : <Modifier>.  Since the 00 modifiers don't need categories, they will simply have a a single part name.  "Unspecified" or "Not Applicable".  They will not be exported to the image file name category tag csv files.

[2015-05-08 04:27] jrweakland opened #52 "Air corridors should be in Control Measures Lines (currently in Control Measures Areas)"
_From @lfunkhouser on November 6, 2014 15:50_

@abouffard. I don't know how you want to capture this in https://github.com/Esri/joint-military-symbology-xml  to update the source data.

Per the standard, air corridors are listed as areas with a point 1 and point 2 and a width; however because corridors can have multiple segments (up to a max of 99 points), we handle these as polylines.

I will hav

[2015-05-08 04:27] jrweakland commented on #52
_From @abouffard on November 7, 2014 7:5_

@lfunkhouser, The decision to use a three-tier hierarchy in the first place was just to be able to organize the six digits available in the SIDC for the main part of a framed marker symbol, in a sensible and structured fashion.  The same approach, when applied to control measures, isn't as clean.

The Entity, EntityType, and EntitySubType hierarchy that h

[2015-05-08 04:27] jrweakland commented on #52
_From @abouffard on November 12, 2014 16:55_

@lfunkhouser , please review and confirm the control measures in question have been moved.

[2015-05-08 04:27] jrweakland commented on #52
_From @lfunkhouser on November 14, 2014 15:38_

@abouffard the air corridors have been moved. I have to update the domains to include them now.

[2015-05-08 04:27] jrweakland opened #53 "Add Special Entity Subtypes to be Unit attributes"
_From @lfunkhouser on November 5, 2014 21:37_

Any suggestions on how we are going to handle the special entity subtypes? I don't believe they are in our solution.

These "codes" are
xxxx95 for Headquarters element
xxxx96 for Division and below support
xxxx97 for Corps support
xxxx98 for Theater/echelons above Corps support

![specialentitytypes](https://cloud.githubusercontent.com/assets/3800729/

[2015-05-08 04:27] jrweakland commented on #53
_From @csmoore on November 5, 2014 21:46_

Can you just have an attribute/field/domain on units with values/strings

95 - Headquarters element
96 - Division and below support
97 - Corps support
98 - Theater/echelons above Corps support

If the attribute is there, I can figure out how to handle (it was a tremendous pain making this crazy/exceptional case work from the SIDC, but I *think* the attrib

[2015-05-08 04:27] jrweakland commented on #53
We can add another domain to the FGDB with the four values.

[2015-05-08 04:27] jrweakland commented on #53
_From @abouffard on April 16, 2015 21:21_

This issue was moved to Esri/military-features-data#50

[2015-05-08 04:28] jrweakland opened #54 "lines-areas-labels-base-template.stylx tags are not being updated by conversion process"
_From @abouffard on November 4, 2014 17:51_

When I run the SQLite script here:

https://github.com/ArcGIS/military-features-pro-data/blob/master/source/utilities/style-utilities/merge-stylx-utilities/SqliteMergeStylx.sql

The resulting stylx file is not reflecting the geometry exception tags (gct_arrow, etc) that are now part of the control measures in the points-only stylx file (generated with t

[2015-05-08 04:28] jrweakland commented on #54
_From @csmoore on November 4, 2014 18:48_

So the more generic problem is that the tags from the [mil2525d-lines-areas-labels-base-template.stylx](https://github.com/ArcGIS/military-features-pro-data/blob/master/data/core_data/stylxfiles/mil2525d-lines-areas-labels-base-template.stylx) are not getting updated with the latest tag values from the updated spreadsheets.

The solution might be as simpl

[2015-05-08 04:28] jrweakland opened #55 "Text amplifier/labels are not the correct set or placement for some symbol sets in 2525D"
Update (clarifying this issue):

Text amplifier/labels are not the correct set or placement for some symbol sets in 2525D. For instance equipment symbols (symbol set 15) has a different set of labels/placement than unit symbols (symbol set 10) - the labels/placements should be check for each appendix/symbol set to verify they are correctly displayed.

Original:
_From @lfunkhouser on November 4, 20

[2015-05-08 04:28] jrweakland commented on #55
_From @csmoore on November 4, 2014 15:31_

Just so I remember what this issue is, the labels associated with the frames are being set here:
https://github.com/ArcGIS/military-features-pro-data/blob/master/source/utilities/style-utilities/merge-stylx-utilities/SqliteMergeStylx.sql#L69

We just need to refine this update statement a bit to add some additional cases ex. "Frame" and "Air" get {this se

[2015-05-08 04:29] jrweakland opened #56 "Missing 2525D New Lines/Areas in .Stylx"
_From @csmoore on October 21, 2014 16:23_

It looks like we need to add the Line/Area symbols for the "NEW_AT_2525D" tagged symbols to the stylx (Warning: make sure you update the [lines-ares template version](https://github.com/ArcGIS/military-features-pro-data/blob/master/data/core_data/stylxfiles/mil2525d-lines-areas-labels-base-template.stylx) )

Here is the list of these tagged symbols (I onl

[2015-05-08 04:29] jrweakland opened #57 "Create Readme for models in UpdateDomains.tbx"
_From @lfunkhouser on October 15, 2014 18:45_

_Copied from original issue: ArcGIS/military-features-pro-data_RETIRED_DONT_USE#77_

[2015-05-08 04:29] jrweakland commented on #57
@lfunkhouser - have we created the readme files yet?

[2015-05-08 04:30] jrweakland opened #58 "Fire Area (and Others) Symbols missing labels"
_From @csmoore on September 4, 2014 12:48_

While testing the 2525D dictionary/stylx, I noticed that many/most/all of the Fire Area symbols are missing labels/associations - I checked the 2525C dictionary and this same defect is present there also.

This will need fixed in https://github.com/ArcGIS/military-features-pro-data/blob/master/data/core_data/stylxfiles/mil2525d-lines-areas-labels-base-te

[2015-05-08 04:30] jrweakland commented on #58
@abouffard Is this something that Mike could help by providing us with the corrected images?

[2015-05-08 04:30] jrweakland commented on #58
_From @csmoore on September 26, 2014 15:56_

I just noticed this open issue that explains the source of this bug/missing labels (the label names and symbol names didn't match up when the dictionary was created) and provides a list of other symbols that need checked for missing labels:

https://github.com/Esri/military-features-data/issues/15

Make sure we consult that issue also for the full list

[2015-05-08 04:31] jrweakland opened #59 "Document/capture process of creating GDB schema/domains from source data"
_From @csmoore on September 3, 2014 12:45_

We have not recorded the steps. tools, scripts, source data, etc. used to show how the JMSX source data is used to create/set/generate the [MilitaryOverlay.gdb file](https://github.com/ArcGIS/military-features-pro-data/tree/master/data/core_data/gdbs)

These steps, scripts, etc. should be added to a new folder here: https://github.com/ArcGIS/military-fea

[2015-05-08 04:31] jrweakland commented on #59
@abouffard - is this still valid?

[2015-05-08 04:31] jrweakland commented on #59
_From @csmoore on April 13, 2015 20:45_

Toolbox got added here: https://github.com/Esri/military-features-data/tree/master/data/mil2525d/utilities/military-features-utilities/update-domain-toolbox but I don't think the process got doc'd

[2015-05-08 04:31] jrweakland commented on #59
@lfunkhouser - have you finished the doc for this?

[2015-05-08 04:32] jrweakland opened #60 "Pro 2525D/Runtime Renderer Dependencies"
_From @csmoore on August 25, 2014 21:26_

This is a placeholder to capture/communicate the dependencies needed to get the 2525D renderer completed/working in ArcGIS Pro - update the [Task List](https://github.com/blog/1375%0A-task-lists-in-gfm-issues-pulls-comments) as wok/dependencies are completed :

- [x] Complete/test/design review the 2525D Military Features Overlay/Schema ( @lfunkhouser )
-

[2015-05-08 04:32] jrweakland commented on #60
_From @csmoore on October 14, 2014 13:1_

Updated task list with the current completion state & a few additional tasks now on the horizon (let me know if you think anything else needs added + feel free to add)

[2015-05-08 04:32] jrweakland commented on #60
_From @csmoore on October 31, 2014 13:2_

Updated list with current state - the only thing I haven't heard about in a while is the timeline/availability of the updated plugins in the Java Runtime 10.2.5 so I need to check with @mbcoder on that

[2015-05-08 04:32] jrweakland commented on #60
_From @csmoore on October 31, 2014 13:6_

Also, there is some additional/amplifying information to this list in the 10/16/14 meeting notes so linking that in here in case needed: https://esri.box.com/s/dt0sw3b1aypnsv831l91

[2015-05-08 04:32] jrweakland commented on #60
_From @csmoore on December 2, 2014 11:54_

This issue won't be migrated so just let me know if there are any task/issues above that still need to be tracked/recorded as new issues.

[2015-05-08 04:33] jrweakland opened #61 "Data/Style-Related Open Support Issues/NIMs that are still open at 2525D"
_From @csmoore on August 19, 2014 21:26_

These are the data/style-related open support tickets that are still issues in the 2525D(Delta) Stylx/dictionary. (We were able to close an additional 14 issues).

Let me know if these should be addressed as part of 2525D (& assign to the PE will be doing the edits/investigation).

|2525C ID|2525D ID|Status|Title|Full Issue Description Link|
|---|---|---|-

[2015-05-08 04:33] jrweakland commented on #61
_From @lfunkhouser on September 18, 2014 15:5_

@csmoore assigning to myself. I now have access to the devtopia repos.

[2015-05-08 04:33] jrweakland commented on #61
_From @csmoore on October 31, 2014 13:11_

@lfunkhouser @jrweakland - if these aren't getting addressed with 2525D release (which is probably unlikely at this point), we should probably identify a milestone/release in case support asks (and they will likely ask about those CJMTK ones).

[2015-05-08 04:33] jrweakland commented on #61
_From @csmoore on December 2, 2014 11:52_

Migrating this issue to public repo (we should still probably identify a milestone)

**This comment is just a reminder to replace devtopia links with text/screenshot**

[2015-05-08 04:33] jrweakland opened #62 "Stylx has many duplicate label entries (text symbol&placement pairs)"
_From @csmoore on July 18, 2014 14:33_

Because the Stylx reuses Charlie labels (which were designed with many, many different layers/labels/classes), there are now a lot of redundant labels (many with the same name adding to the confusion).

Just recording this as a known issue for now. This set should eventually be pruned & checked for usability.  There are currently 842 label text symbol & plac

[2015-05-08 04:33] jrweakland commented on #62
_From @mbriat on July 18, 2014 14:51_

If you run a SELECT DISTINCT CONTENT on the label rule table from the old dictionary, you will find something like 20 unique entries, way less than the numbers mentioned above.

[2015-05-08 04:33] jrweakland commented on #62
_From @csmoore on July 18, 2014 14:54_

We might need to come up with a better naming scheme as well.  There are more than 20 unique symbol/placement pairs - for instance "Name" attribute might be placed differently on 100 different symbols (but still has the name "Name") -so perhaps a new naming scheme could capture some of these distinctions as well.

[2015-05-08 04:34] jrweakland opened #63 "2525C and APP-6B Dictionary Categories should be revisited"
_From @conklinbd on May 30, 2014 20:41_

The 2525C and APP-6B Categories should be revisited. Since the categories assumed the symbols were stored in multiple files, the category names are too fined grained. Need to probably reduce the # of categories but include Style file name in the category.

![image](https://cloud.githubusercontent.com/assets/2582674/3135938/c46dd4a0-e83a-11e3-867e-851bdf24f3

[2015-05-08 04:34] jrweakland commented on #63
_From @csmoore on October 16, 2014 15:6_

This one might also need to be moved to the repo with the data: https://github.com/Esri/military-features-data/tree/master/data/mil2525c/stylxfiles

Milestone (due in 2 days) still valid?

[2015-05-08 04:34] jrweakland commented on #63
_From @lfunkhouser on October 28, 2014 20:11_

 @conklinbd @jrweakland Would it be OK to complete this after the release since 2525D is the priority?

[2015-05-08 04:35] jrweakland opened #64 "All Feature Classes, Feature Datasets and GDBs Need Metadata (Pro)"
_From @conklinbd on May 29, 2014 21:38_

In Pro all Feature Classes, Feature Datasets and GDBs need item metadata. We need to test to determine if this makes the GDB incompatible with 10.X clients before we completely implement.

![image](https://cloud.githubusercontent.com/assets/2582674/3124094/8c5a9592-e779-11e3-9901-997eb3009f64.png)

_Copied from original issue: ArcGIS/military-features-pro-d

[2015-05-08 04:35] jrweakland commented on #64
_From @csmoore on October 29, 2014 15:2_

I'm not able to view GDB metadata on the project pane with recent builds (I am using 1566 now but did see it in last week's build also) - can anyone repro with a build from the last week?

![image](https://cloud.githubusercontent.com/assets/3090809/4827939/254e89d2-5f7c-11e4-92c4-c4b89deafcad.png)

[2015-05-11 11:35] csmoore commented on #61
Closing - this issue is a repeat/duplicate of #37

These issues were already migrated: https://github.com/ArcGIS/military-features-pro-data_RETIRED_DONT_USE/issues?q=milestone%3A%22Issues+to+migrate+to+military-features-data%22+is%3Aclosed

[2015-05-11 11:35] #61 closed

[2015-05-11 11:43] csmoore commented on #58
Closing - this issue is a repeat/duplicate of #38

[2015-05-11 11:43] #58 closed

[2015-05-11 11:45] csmoore commented on #56
Closing, duplicate of #39

[2015-05-11 11:46] #56 closed

[2015-05-11 11:51] csmoore commented on #60
This task list is no longer needed/valid

[2015-05-11 11:51] #60 closed

[2015-05-11 11:54] csmoore commented on #59
Related to #57

[2015-05-11 11:58] csmoore commented on #63
Is this a valid issue? Are we making significant/breaking updates to 2525c/app6b styles?

[2015-05-11 13:35] conklinbd commented on #63
We don't need to do this. Agree that we don't plan any updates for 2525C and APP6

[2015-05-11 13:35] #63 closed

[2015-05-11 18:43] csmoore commented on #37
I retested the above with Pro 1.0 - mil2525 dictionary/renderer and updated the original list - these items were removed:

|2525C ID|2525D ID|Status|Title|Full Support Issue Description Link|
|---|---|---|---|---|
|WA-DWS-----L---|45140400|Fixed|NIM102738 A message processor Component failed to render symbol correctly for METOC.AMPHC.WND.SMLNE as per MIL2525C specification| runtime/java-se-api/iss

[2015-05-11 22:28] jrweakland commented on #45
@abouffard - you have two land civilians above in the sector 2 group. please let me know what is the status of the second sector 2 land civilian.

[2015-05-12 02:34] jrweakland commented on #50
This issue was duplicated when migrating the issues. Closing this issue.

[2015-05-12 02:34] #50 closed

[2015-05-12 02:41] jrweakland commented on #39
https://github.com/Esri/military-features-data/issues/39

[2015-05-12 02:48] #17 closed

[2015-05-12 09:30] jrweakland commented on #12
This issue was moved to Esri/joint-military-symbology-xml#184

[2015-05-12 09:30] #12 closed

[2015-05-12 14:11] jrweakland opened #65 "Wavy Line Weather/METOC Symbols do not display curves in Desktop/Runtime Export"
_From @jrweakland on May 12, 2015 9:30_

_From @csmoore on February 7, 2014 2:11_

Lines with curved effect do not display in Desktop or Runtime Dictionary.GetSymbolImage (they were working with MessageProcessor on Map though)

Marginal Visual Flight Rule (MVFR),WA-DBAMV----A-- (Mil2525C)
W*A*FV----*****	Visual Ceiling (APP6B)

As a workaround, the Curved Effect has been removed from the Represent

[2015-05-12 14:11] jrweakland commented on #65
_From @wmcgrane on May 12, 2015 10:50_

Jim:
Was the Curved Effect a capability that was available in 2525 Charlie but now not functional in 2525 Delta?
Or is it due to a Desktop/Runtime Export issue?

In other words, is the problem with the standard or with the program?

Regards,

Bill McGrane
Chair, Symbology Standards Management Committee
DISA EE212
Messaging Standards Section
Ft. Meade, MD
301

[2015-05-12 14:11] jrweakland commented on #65
_From @csmoore on May 12, 2015 12:18_

This is an issue with this actual ArcGIS Style/implementation (so should probably be moved back to the other repo).

Note: this is still an issue with the polygon symbol in current 2525D style/x.

![image](https://cloud.githubusercontent.com/assets/3090809/7586964/4ecf74e0-f880-11e4-82da-814abb329565.png)

Left (from standard/SVG) - Right (in 2525D in ArcGIS

[2015-05-12 20:19] csmoore opened #66 "Echelon Indicators not showing up on Control Measure Lines/Areas in Pro"
@BobBooth noticed this while working on a template, just logging the issue here until we decide where to move/address ( @mbriat mentioned we may need to modify/update how we define these labels )

Symbols like Phase Line, Battle Position should have the echelon indicator overlaid on the line

![image](https://cloud.githubusercontent.com/assets/3090809/7597156/998e6c9a-f8bf-11e4-9159-8f062ac40197.p

[2015-05-13 15:31] abouffard commented on #45
The second Land Civilian : does not exist in 2525D was a typo in the above list.  That line should be ommitted and I modified the list above accordingly.

[2015-05-13 18:06] jrweakland commented on #45
:+1:

[2015-05-13 18:53] BobBooth opened #67 "Create feature - no default editing template available with dictionary renderer"
version: Pro 1.0
![image](https://cloud.githubusercontent.com/assets/3801392/7618323/65c07e60-f97f-11e4-8a92-32dd46364411.png)

When adding a new feature if using dictionary renderer, no feature template, so can't create...
Jim told me to use a single symbol renderer, attribute the features, then switch to the dictionary renderer. This is an adequate work-around, but the workflow is awkward and an

[2015-05-13 19:00] BobBooth opened #68 "Labeling issues with Engagement Area template"
Encountered a couple of labeling issues while building Engagement Area Pro 1.0 template.

1. Control Measures Target Points not being labeled with Target Designator field
![image](https://cloud.githubusercontent.com/assets/3801392/7618475/5d3d24ae-f980-11e4-8143-750145cb42a2.png)

2. For Battle Position features, Unique Designation field has labeling on, but label appears near edge, not centered (

[2015-05-13 19:11] BobBooth opened #69 "Labels, odd graphical issues, show up at full extent with DictionaryRenderer in Pro"
In ArcGIS Pro 1.0, Engagement Area template, when I zoom to full extent I see labels for the Phase Lines radiating from the small AOI where the features are drawn.
![image](https://cloud.githubusercontent.com/assets/3801392/7618689/d86f76bc-f981-11e4-8589-7fb2853b6be3.png)
Also, strange graphic lines showing up. These lines are not selectable with feature selection tools and do not respond to clic

[2015-05-13 19:14] BobBooth commented on #66
Data Here: https://esri.app.box.com/files/0/f/3538111917/1/f_30056997353

[2015-05-13 19:35] csmoore opened #70 "Upside down labels on Military Lines in Pro/Runtime"
Depending on how you order the points / draw the line (ex. right to left, left to right) - the line labels may be upside down.  Not sure if there is any way to control this behavior with the label rules/classes or if this is a label engine issue.

Occurs in Pro <=1.1/Runtime<=10.2.5

![image](https://cloud.githubusercontent.com/assets/3090809/7619127/acfe4cee-f984-11e4-80d1-444f45f412ea.png)
Examp

[2015-05-13 19:43] csmoore commented on #67
Another workaround available that doesn't require you to constantly switch the renderer is to load the feature class twice & have 1 layer use the default (single symbol) renderer & the other layer use the dictionary renderer. When you go to edit this allows you to pick the edit template for the single symbol layer.

![image](https://cloud.githubusercontent.com/assets/3090809/7619391/6b4953aa-f986-

[2015-05-13 19:50] jrweakland commented on #45
Update and pushed the commit to the repo. https://github.com/Esri/military-features-data/commits?author=jrweakland

[2015-05-13 19:59] BobBooth commented on #67
This may be the better workaround.  It would still be nice to have a default simple geometry editing template available with the dictionary renderer.

[2015-05-13 20:02] conklinbd commented on #67
I am not a fan of this workaround. We should raise this issue with the editing team and try to stick with a single layer solution.

[2015-05-13 20:08] csmoore commented on #67
It should definitely be added as a Pro editing issue to be fixed (I think it was fixed in PR & re-broke once already) - just stating an available workaround until that time.

[2015-05-13 23:00] jrweakland commented on #67
:+1:

[2015-05-14 00:25] jrweakland commented on #45
@BobBooth - please verify the changes that were made for this GitHub issue.

[2015-05-14 01:13] jrweakland commented on #70
@csmoore - Please assign a milestone and an importance level for this issue based on your opinion of the issue's importance.

[2015-05-14 01:21] jrweakland commented on #66
@csmoore - Please add a milestone and labels based on the importance of this issue. @BobBooth - Please continue to add these issues as you encounter them so that we, as a team, can start to address them as they arise.

[2015-05-14 01:24] jrweakland commented on #69
@csmoore - Please add a milestone and labels for the importance of this issue.

[2015-05-14 11:05] caporossi opened #71 "ExportSymbol.java works only using the name"
I have tested the code found in
https://github.com/Esri/military-features-data/tree/master/test/TestExportSymbol

with both symbol dictionary  2525 and APP6

but with the SIC for example SFGPUCI ----- USG the symbol is not generated.

[2015-05-14 13:49] csmoore commented on #71
Do you have a version of runtime this is occurring with (I haven't tested this example since 10.2 myself)?

Also note that is your example above there are some extra spaces in the SIC: SFGPUCI{space}-----{space}USG - but if you were just running the example mentioned above the sidc should be correct there.

[2015-05-14 14:07] caporossi commented on #71
We use
  - ArcGIS Runtime SDK for Java 10.2.4
  - Dictionary app6b.dat version 1390944071
The code seems to work only with the names, for example, using "Light Armored Vehicle F" is generated symbol.
![light armored vehicle f](https://cloud.githubusercontent.com/assets/292378/7633225/28ffc8a8-fa53-11e4-9e5b-88e5ab305885.png)
corresponding to Symbol ID "SFGPEVAL-------"

with any valid Symbol ID is

[2015-05-14 14:08] csmoore commented on #71
I do see this issue with Java Runtime 10.2.4.

It looks like the SDK may have changed the behavior of this method to only use the name so using the export with the SIC returns an "unknown" symbol (below).  I would say a workaround might be to map SICs to names, but this won't allow you to export a symbol with all of the modifiers. So this issue should be reported to customer support if the modifie

[2015-05-14 14:16] caporossi commented on #71
Perfect you have understood the problem.

We visualize correctly the symbols on the map with modifiers through MessageProcessor, but when the operator executes the identify in the result we need to represent the symbol with modifiers.

By mapping the names with symbol ID we have only the first 10 characters of the SIDC.

[2015-05-14 15:29] BobBooth opened #72 "Meteorological is misspelled in the METOC subtypes and symbol sets"
Typo in METOC subtypes and symbol sets in the military features geodatabase.
![image](https://cloud.githubusercontent.com/assets/3801392/7634987/57d504f8-fa2c-11e4-9932-ec7fa56a7799.png)

[2015-05-14 15:33] jrweakland commented on #72
:+1:

[2015-05-14 21:04] BobBooth commented on #45
Three potential issues, I think only the first one is real:
1. Land Equipment Modifier Ones has range of values from 1-9, no 0 Unspecified domain value. @jrweakland - could you look at that one?
2. I don't see a SIGINT domain - there are SIGINT Mobility, Space_SIGINT, Subsurface SIGINT domains, but not a just plain SIGINT domain. @abouffard - can you confirm/direct me which one is intended, in you

[2015-05-14 21:28] jrweakland commented on #45
@BobBooth - answers to your questions.
1. I missed that one. Updated in next pull request. Good catch.
2. Should be all SIGINT domains (Land, Space, etc.)
3. The proper name is Land Unit Civilian.

@abouffard - Please confirm.

[2015-05-14 21:57] abouffard commented on #45
@jrweakland  and @BobBooth : Confirmed.  There is no plain SiGINT.  There are multiple SIGINT symbol sets, one per common domain/dimension.

Land Unit Civilian is the proper name.  Its part of the Land Unit dimension.  Symbol set 11 to differentiate it from Land Unit which is symbol set 10.

[2015-05-15 00:35] jrweakland commented on #45
@abouffard - thanks for confirming.
@BobBooth  - I have made the change for question 1. Are there any requested changes for questions 2 and 3?

[2015-05-15 12:25] caporossi opened #73 "APP6B issue in 1.x.1 Space Track and 1.X.2 Air Track"
We are reviewing all the symbols represented dall'App6B and I would like to present in this repository  the various issue that we find.

The tests were carried out with:
- ArcGIS Runtime SDK for Java 10.2.4
- dictionary app6b.dat version 1390944071

The families of symbols as grouped in the same Hierarchy find in  APP-06 (B) Joint Symbology.pdf
- **1.x.1 Space Track**
  symbols represented correct

[2015-05-15 13:12] csmoore commented on #73
Thanks for the information - feel free to add to/edit this issue.

An important note: the updates/fixes are being done in the next version of the standard 2525D/APP6C (which combine the 2 standards - and I have not seen this issue there). However 2525D won't be available in Runtime until the next release.

@abouffard - this does raise the issue if we have a way to convert an App6B SIDC to 2525D/AP

[2015-05-15 13:35] csmoore commented on #67
@jrweakland - Here is the CR for this issue that was fixed before in case you are able to just reopen this one: 300610

[2015-05-15 14:07] jrweakland commented on #72
I have corrected this in the geodatabase. @BobBooth - Please review pull request https://github.com/Esri/military-features-data/pull/74 and close this issue.

[2015-05-15 14:07] jrweakland commented on #45
I have corrected this in the geodatabase. @BobBooth - Please review pull request https://github.com/Esri/military-features-data/pull/74 and close this issue.

[2015-05-15 14:26] BobBooth commented on #45
@jrweakland
Space_SIGINT_modifier ones is missing 0 - Unspecified value.
Subsurface_SIGINT_modifier ones is missing 0 - Unspecified value.
Surface_SIGINT_modifier ones is missing 0 - Unspecified value.
(Land and Air _SIGINT_modifier ones are OK).
After those are fixed should be good to go.

[2015-05-15 14:51] abouffard commented on #73
@csmoore , we do not currently have a way to convert APP-6(B) to 2525D/APP-6(C), just as we don't have a way to convert 2525B (in any of its variants).

We have an issue on the JMSML repo to add these backward compatibility capabilities to our data, so it is on the to-do list.  The question is prioritizing this against other tasks on our list.

[2015-05-15 14:59] jrweakland commented on #45
@BobBooth - fixed in https://github.com/Esri/military-features-data/pull/74

[2015-05-15 16:35] BobBooth commented on #45
Verified 00 domain values.

[2015-05-15 16:35] #45 closed

[2015-05-15 16:37] BobBooth commented on #72
@jrweakland - It doesn't look like the spelling change took effect (where are the subtypes or symbol classes being pulled from in the GDB?).

[2015-05-15 17:29] BobBooth commented on #72
The 0 domain values are updated in this GDB, but the Meteorological spelling issue remains.
![image](https://cloud.githubusercontent.com/assets/3801392/7658226/59b9ede4-fb06-11e4-85c4-f5ff3eee83c9.png)

[2015-05-15 21:01] jrweakland commented on #72
@BobBooth - check https://github.com/Esri/military-features-data/pull/74

[2015-05-16 04:32] jrweakland commented on #64
@csmoore and @abouffard - I can draft some text for the metadata.

[2015-05-18 13:04] caporossi commented on #73
@csmoore Thanks for the information
1) We are currently setting up several tables, similar to the previous one, for all the APP-6(B) symbol families (1.x.3 , 1.x4, 1.x4, 1.x5, 2.x.1, 2.x.2, 2.x.3), some of them contain a lot of symbols with rendering problems, putting all these tables in this issue would make it long and unreadable, so I'd rather open a single issue per family. Let me know how to

[2015-05-18 13:31] caporossi commented on #71
The customer support it confirmed that can not be used getSymbolImage with SIDC  in ArcGIS Runtime for Java 10.2.4 but only with the Name.

The support has opened an enhancement request ENH-000087693.

[2015-05-18 14:06] csmoore commented on #73
One issue per major section/area will be fine - I was just hoping to avoid too many new, or fine-grained, issues (something like <= 10)

On doing the fixes, changes in the next standard version - that is a legitimate, important issue for the fielded legacy systems that will need addressed (hopefully by the standards committee since the only openly available, licensed dataset, with the fixes, is th

[2015-05-18 14:15] BobBooth commented on #72
@jrweakland - Closing issue, fixed in #74.

[2015-05-18 14:15] #72 closed

[2015-05-18 17:52] BobBooth commented on #39
Missing "Unspecified Mines" modifier (empty circles fill for minefield Protection Area - Minefield Completed).
![image](https://cloud.githubusercontent.com/assets/3801392/7686559/98b55e74-fd64-11e4-9e17-41ea4817b2a2.png)

Missing "Scatterable" modifier (S label for minefield Protection Area - Minefield Completed).
![image](https://cloud.githubusercontent.com/assets/3801392/7686563/a390ee4e-fd64-11

[2015-05-18 19:08] csmoore commented on #39
@BobBooth ( @abouffard @lfunkhouser please check/verify this statement) - for the minefield you are trying to create above - it was my understanding (perhaps incorrect) that the minefield polygon symbol and the minefield type symbol actually require 2 separate symbols types:

1. (Polygon) Completed Minefield ( Control Measure / Protection Areas / Minefield / Completed )
2. (Point/Marker(s)) Unspec

[2015-05-18 19:16] BobBooth commented on #39
@csmoore - I suppose that could be how it is designed.
Looking at the scan here (https://s3.amazonaws.com/prod_object_assets/assets/34494176068377/CommandAndControlMobilityAndSurvivability.JPG?AWSAccessKeyId=AKIAI7NUHQYARXR2GGCQ&Expires=1431976356&Signature=8sin4juFpguRrlrmaeFTAi%2Fw8sQ%3D#_=_)
![image](https://cloud.githubusercontent.com/assets/3801392/7688127/255a7d40-fd70-11e4-9cf2-1e1e737d2827

[2015-05-18 19:36] BobBooth commented on #39
Forward Edge of the Battle Area line end decorations draw, but the actual line doesn't.
![image](https://cloud.githubusercontent.com/assets/3801392/7688590/931687cc-fd73-11e4-8800-99f520f420bb.png)
VS
![image](https://cloud.githubusercontent.com/assets/3801392/7688561/60f2e452-fd73-11e4-8e85-8c2e34ca4bfd.png)
Geometry is there, shows up when selected:
![image](https://cloud.githubusercontent.com/a

[2015-05-18 20:01] BobBooth commented on #39
Assault Position labels on edge of feature, not centered.  ASLT automatic prefix is rendering on top of beginning of positon name.
![image](https://cloud.githubusercontent.com/assets/3801392/7689015/26492e20-fd77-11e4-9ad9-86b32408587f.png)

[2015-05-18 20:05] abouffard commented on #39
The standard is confusing doctrine with specification/definition.  The doctrine is that the A field should be used to determine which mine pattern to use to fill the area.  In practice, since the minefield symbol and each of the individual types of mines (point symbols) have separate SIDCs, there is currently a disconnect between what the doctrine is and how the symbols is defined/communicated in

[2015-05-18 20:31] ottenw commented on #39
The contents of the minefield graphic has been a source of confusion amongst implementers for some time.  In researching the doctrine, FM 20-32 (distribution A - approved for public release), a minefield can have more than one type of mine.  From an Army material developer perspective, our implementation guidance for the minefield symbol has been "Note:  The internal circles depicted can be place

[2015-05-18 20:46] ottenw commented on #39
Cover page of FM 20-32 Change 4, with an extract of page
![fm 20-32 extract page 3-25](https://cloud.githubusercontent.com/assets/6909159/7689839/f0bb44ac-fd74-11e4-8c69-8873189d9423.jpg)
3-25.

[2015-05-18 20:51] csmoore commented on #39
@BobBooth FEBA was another one of those symbols where the standard (in the case of your doctrine screenshot - 2525C) and real-world usage slightly diverged - I think this is somewhat addressed in 2525D - so just make sure you also include 2525D version of the symbol (versus just the doctrine screenshot)

[2015-05-18 20:51] abouffard commented on #39
Thank you for contributing, @ottenw.  The point mine symbols show a rectangle with three circles inside.  Those are literally three examples of individual mine types, describing which types of mines are at that location?

[2015-05-18 21:38] jrweakland commented on #39
All,

Please create your own table and add to your individual table form missing 2525D New Lines/Areas in .Stylx. (see @csmoore example at the beginning of this issue).

[2015-05-19 16:49] ottenw commented on #39
@abouffard WRT the point mine symbols, the circles depict the type(s) of mine(s) employed within the minefield, when known.  For our systems, the empty circle is the default since that is what is pictured in the standard, and tested during system certification.  When known, the minefield should contain the actual mine type(s), which as you correctly stated are separate control measure symbols each

[2015-05-19 18:12] csmoore commented on #39
Note/update: Added checkboxes to original table.

One formatting note for anyone who needs to create checkboxes in a table like this, this is a little wonky in markdown so a markdown table column looks like this: `| <ul><li>- [ ] </li></ul> |`

[2015-05-20 01:50] jrweakland commented on #39
@csmoore - thanks for the formatting tip! :+1:

[2015-05-20 17:22] ottenw commented on #39
@abouffard I am drafting a CP to address multiple issues with minefield symbols in MS2525D.  WRT mine type within a mine field, if a new amplifier is approved (Mine Type) for use only with minefields, is an entire 20 digit SIDC required or can the assumption be made that the first 10 characters are the same as that of the minefield, characters 11-16 define the mine type, and characters 17-20 will

[2015-05-20 17:40] abouffard commented on #39
@ottenw I think just using 10 digits would be sufficient,  In fact, I'd make it even easier and shorten it to six digits, essentially digits 11-16.  That eliminates the possibility that someone will put inconsistent data into a feature/message.

280200, 280201, 280202, 280203, 280300, 280400, 280500, and 280600

However, would a user ever want to see mines color coded by standard identity?  Would

[2015-05-20 18:57] csmoore commented on #64
Note: Editing GDB Meta data in Pro does not appear to affect compatibility with 10.X (shows up in "Item Description" there)
![image](https://cloud.githubusercontent.com/assets/3090809/7733824/c971a530-feff-11e4-867f-cbc6556945cd.png)

I do notice that when I add the feature class with metadata in Pro, the metadata doesn't seem to be added/transferred to the layer's metadata, so that might be a bug

[2015-05-21 18:31] BobBooth commented on #39
Here is a table of issues I found while doing the LPKXs:
|done|count|styleItemName|styleItemCategory|styleItemUniqueId|issue|
|---|---|---|---|---|
|<ul><li>- [ ] </li></ul>|1|Maneuver Areas : Attack By Fire Position |Control Measure : Area|25-152000|symbol|
|<ul><li>- [ ] </li></ul>|2|Maneuver Areas : Support By Fire Position |Control Measure : Area|25-152100|symbol|
|<ul><li>- [ ] </li></ul>|3|F

[2015-05-22 12:02] csmoore commented on #73
Assigned support ID: BUG-000087786

[2015-05-26 16:53] csmoore commented on #53
Note: adding this now - with gdb meta data updates ( #64 )

![image](https://cloud.githubusercontent.com/assets/3090809/7817878/09ecd24c-03a6-11e5-8c7b-071efcc80a6a.png)

![image](https://cloud.githubusercontent.com/assets/3090809/7817887/19c2e990-03a6-11e5-9b75-9fa83a8bc77c.png)

[2015-05-26 17:01] jrweakland commented on #53
:+1:

[2015-05-27 11:46] csmoore commented on #42
Done in #76 (& will be updated approximately every iteration / 6 weeks going forward)

[2015-05-27 11:46] #42 closed

[2015-05-27 14:31] csmoore commented on #64
Here is a sample of the updated/added feature class item description (ArcMap 10.x) / metadata (Pro).

![image](https://cloud.githubusercontent.com/assets/3090809/7838434/e08f0838-045a-11e5-99b0-fe47012dbf36.png)

[2015-05-27 15:56] abouffard commented on #64
Looks good to me.

[2015-05-27 19:49] jrweakland commented on #64
:+1:

[2015-05-28 21:58] BobBooth commented on #64
I like the thumbnails, that's a nice touch.
I see that the GDB and the feature dataset don't have Descriptions, just Summaries. Seems like they could have both.
Also, the Summary text:
Military Features Military Overlay is a template for creating a geodatabase of military features for Planning, Operations, and Intelligence use. It contains ArcGIS feature templates that let you quickly create Milit

[2015-05-29 12:16] csmoore commented on #64
I'll correct those 2 issues & recommit (I am actually never sure how the summary/description differ or why they are 2 separate metadata fields)

[2015-05-29 13:47] csmoore commented on #64
Feedback addressed in https://github.com/csmoore/military-features-data/commit/1fa4acf5ae73ab3fb7c61cd9fc81b21a8001b76f

![image](https://cloud.githubusercontent.com/assets/3090809/7883859/a8490ea4-05e7-11e5-91cc-64d5d50dc63e.png)

[2015-05-29 15:30] BobBooth commented on #64
Verified Fixed.Pull #77 merged.

[2015-05-29 15:30] #64 closed

[2015-05-29 15:48] BobBooth commented on #53
Verified fixed.

[2015-05-29 15:48] #53 closed

[2015-05-29 23:11] BobBooth opened #79 "Missing labels 2525D symbols from creating Layer Packages"
In addition to the symbology issues, a number of label issues were identified in the process of making the layer packages.
For some area features the issues were labels appearing on edge instead of centered. Some features are missing labels altogether, some are missing label fields.

|done|count|styleItemName|styleItemCategory|styleItemUniqueId|issue|Testing Comments______Testing Comments |
|---|-

[2015-05-29 23:13] BobBooth commented on #79
|done|count|styleItemName|styleItemCategory|styleItemUniqueId|issue|
|---|---|---|---|---|---|
|<ul><li>- [ ] </li></ul>|1|Fires Areas : Airspace Coordination |Control Measure : Area|25-240100|label|
|<ul><li>- [ ] </li></ul>|2|Fires Areas : Restrictive Fire Line |Control Measure : Line|25-260500|symbol and label|
|<ul><li>- [ ] </li></ul>|3|Air Corridors  : Air Corridor |Control Measure : Area|25

[2015-05-29 23:13] BobBooth commented on #79
@csmoore @abouffard

[2015-05-30 07:30] jrweakland commented on #79
@abouffard - Please set the milestone.

[2015-06-02 17:09] abouffard opened #80 "Update the 2525D MilitaryOverlay domains to match the latest source data from JMSML"
The following area control measures should be moved from the polygon/area GDB domain value list to the polyline/line domain value list.

They are exported correctly in JMSML [here](https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/name_domains_values/Coded_Domain_Control_Measure_Line_Entities.csv)

**Note: this list will grow larger over time, as more of these particular ano

[2015-06-02 18:13] csmoore commented on #80
I'm not sure when those GDB domains were originally created (probably Sept-Oct 2014 timeframe) - but any changes that were made after that would probably not be reflected. Examples:
* Specific change above: https://github.com/Esri/joint-military-symbology-xml/commit/d32c2304d3e36a9e085b531725afcdd35c5722dc
* As a range: https://github.com/Esri/joint-military-symbology-xml/compare/afa1655faab60a3c6

[2015-06-02 18:36] BobBooth commented on #67
Any idea when this issue is going to be fixed?  Should I plan to add a set of redundant feature classes so there will be simple point, line, and area control measures features for people to start with when adding features to an Engagement Area plan?
@jrweakland

[2015-06-02 20:31] abouffard commented on #80
Recreating the domain ranges probably wouldn't be a bad idea, but I would recommend waiting until after the 15-1 change proposals are incorporated into JMSML, since that will add some symbols and remove some others.

As I go through the "grey" area symbols in the pairwise test data, to "fix" them, I just wanted to document somewhere those that would be "fixed" by a domain change.

[2015-06-02 21:14] csmoore commented on #80
OK, I'll rename the issue just to make it a bit clearer that this applies to all the domains that have been changed since Sept 2014 - which looks like about 1/2 the domains from here: https://github.com/Esri/joint-military-symbology-xml/tree/master/samples/name_domains_values

This is the GDB that needs the domains updated:
https://github.com/Esri/military-features-data/blob/master/data/mil2525d/c

[2015-06-02 21:31] abouffard commented on #80
You can do that if you want, but my intent was to create separate issues to document lists of control measures that needed to be recorded from area to line and line to area, if examples like that existed.

I'll now just document in my original comment above ALL the control measures that I determine would be fixed by a recoding.  This would also address #52, #47, #46, and possibly other currently o

[2015-06-02 22:21] csmoore commented on #80
Since we now know the root/source of some of these problems (the domains in the GDB do not match the latest source data) - hopefully this will limit the number of new issues we need to create.

I tried to determine when the GDB domains were last created/generated, and I couldn't really determine from the commit history - the last commit that mentions domain changes is on Sept 26: https://github.co

[2015-06-03 19:55] BobBooth opened #81 "Typo in domain "Principle Direction of Fire" should be "Principal Direction of Fire""
In Control Measures : Maneuver Lines the domain value is "Principle Direction of Fire" with an "le" - should be "Principal Direction of Fire" with an "al".
@csmoore @abouffard

[2015-06-04 11:13] csmoore commented on #81
Good catch - this will need fixed in the JMSML source data ( https://github.com/Esri/joint-military-symbology-xml/search?utf8=%E2%9C%93&q=Principle&type=Code )

& addressed when the domains are regenerated ( #80 )

[2015-06-04 16:37] abouffard commented on #81
This issue was moved to Esri/joint-military-symbology-xml#197

[2015-06-04 16:37] #81 closed

[2015-06-04 17:25] csmoore opened #82 "Capture/Add Version Information in the Military Feature Geodatabase"
We should add a table (unless there are some standard metadata fields that can be used to capture this), similar to the one added to the mil2525d.stylx that identifies version information for any dependent source data/tools used to create the database:

Just an example of possible attributes/values:
"milstd_version" -> "2525D-0.1"
"jmsml_version" -> "1.0.1"
"creation_date" -> "12September2015"

Si

[2015-06-04 20:59] jrweakland commented on #67
@BobBooth - We take a look at this on 06/09/2015 when you get back.

[2015-06-04 21:09] jrweakland commented on #82
@csmoore -  We might be able to use the Maintenance tab in the metadata editor in ArcCatalog. Would that work for you?

![image](https://cloud.githubusercontent.com/assets/5739155/7994569/2c5b0550-0ac3-11e5-8c68-90f2609a9e07.png)

[2015-06-05 13:24] csmoore commented on #82
It might work so long as we told folks how to get to (I'm not actually sure how to get to this page - can you get to from the ArcMap Catalog window?). But so long as the information is captured somewhere and can be gotten to relatively easily/intuitively, storing it anywhere should be fine.

A plain GDB table might be a bit easier if/when we automate creating the MilitaryFeatures GDB from the JMSM

[2015-06-05 16:56] csmoore opened #83 "Upgrade stylx's for Pro 1.1"
I just noticed the Stylx/CIM version changed for Pro 1.1, this is just a reminder to upgrade all of the stylx's in this repo's v.next branch:

- [x] mil2525d ( @abouffard already did this one)
- [x] app6b
- [x] mil2525c

NOTE: If you do happen to use one of the Pro 1.0 stylx files in the dictionary renderer at 1.1 this is how it looks.

![image](https://cloud.githubusercontent.com/assets/3090809/8

[2015-06-08 18:40] jrweakland opened #84 "Missing Dictionary field for ControlMeasuresPoints feature class"
We are missing the <b>targetdesignator</b> field under Text fields to label a Point or Single Target (25240601).

![image](https://cloud.githubusercontent.com/assets/5739155/8042284/147076b0-0dd3-11e5-9b16-78b04e1ef221.png)

[2015-06-08 18:51] csmoore commented on #84
This one will need fixed in the mil2525d plugin code - that is where the list of available text fields and their "well known name" come from.

We also might want to make sure there are no other missing attributes before we make this plugin change (just so we schedule all of the plugin changes together).

(I also just added a plugin label so we can identify which issues are caused by this component

[2015-06-08 19:31] jrweakland commented on #84
I will create a backlog item to check for other missing field in Asana.

[2015-06-10 13:43] csmoore commented on #11
Just an additional note - this symbol changed a bit at 2525Delta - it was made clearer that the Coordination Point was **not** part of the line symbol - so that should be fixed also for all affiliations:

![image](https://cloud.githubusercontent.com/assets/3090809/8083735/c684ef70-0f54-11e5-8926-c0420826fc40.png)

[2015-06-10 17:48] csmoore commented on #84
Sorry about that, I was actually incorrect about where these text attribute comes from in Pro, these attributes are actually derived from all the attributes defined in the **Maplex Labels** for the **mil2525.stylx**

So this will actually need fixed in the .stylx

[2015-06-10 21:31] csmoore commented on #14
This is fixed in any version of [mil2525d.stylx](https://github.com/Esri/military-features-data/blob/master/data/mil2525d/core_data/stylxfiles/mil2525d.stylx)

![image](https://cloud.githubusercontent.com/assets/3090809/8094622/4fc35326-0f96-11e5-8105-d3d3234dbc39.png)

[2015-06-10 21:31] #14 closed

[2015-06-12 10:00] caporossi opened #85 "BUG-000088381 APP6B issue in 1.x.3 GROUND TRACK"
We are reviewing all the symbols represented dall'App6B and I would like to present in this repository the various issue that we find for 1.x.3 Ground Track.
The tests were carried out with:
• ArcGIS Runtime SDK for Java 10.2.4
• dictionary app6b.dat version 1390944071
The families of symbols as grouped in the same Hierarchy find in APP-06 (B) Joint Symbology.pdf
•    **1.x.3 Ground Track**

| Des

[2015-06-12 11:32] csmoore commented on #85
I spot checked a few of those IDs and they are missing from the app6b dictionary/style.

Though, oddly, a few oddly have just U/N versions:
![image](https://cloud.githubusercontent.com/assets/3090809/8129180/76bddeee-10d4-11e5-8342-e6469c91bcfc.png)

[2015-06-12 11:53] csmoore commented on #71
Another issue I noticed with this is that those names are not always unique so you are not able to image-export every symbol just using the name.

[2015-06-12 12:01] caporossi commented on #71
can you send me some examples?
I'm trying to solve this and other issues encountered.
I hope to have meetings during the UC to San Diego

[2015-06-12 12:16] csmoore commented on #71
I was just looking at the difference between `Select Name from SymbolInfo` and `Select Distinct Name from SymbolInfo` - "Infantry F" is one example.

Since this appears to be designated as an enhancement (ENH) I just wanted to make sure they were aware there were multiple issues with just using the name for export (no modifiers displayed, repeated names).

Perhaps the solution would be to add an a

[2015-06-12 16:47] csmoore opened #86 "Updates to MessageType files used by Runtime"
- [ ] Update all the message type files to use the official plugin name
![image](https://cloud.githubusercontent.com/assets/3090809/9524602/b9bda94e-4cad-11e5-8b94-67b87daf9877.png)

- [ ] Change Spot_Report to SpotRep in message type files
This is defined as "Spot_Report" in the file, but apparently our geomessages actually use "spotrep" so perhaps we should change this to eliminate any error-pro

[2015-06-12 20:20] BobBooth opened #87 "Create feature template from feature fails for polyline features"
I am attempting to make feature templates for the control measures features.  I have a feature class of line control measures with 2525D symbology set using a dictionary renderer in ArcGIS Pro 1.0.
In the Manage Templates window I select the line features. In the feature class table window I select a line feature.  I click the New dropdown and click Template from Feature...
![image](https://cloud.

[2015-06-12 21:08] BobBooth commented on #87
This issue appears to be resolved in ArcGIS Pro 1.1.

[2015-06-12 21:08] #87 closed

[2015-06-15 07:50] caporossi commented on #85
Assigned support ID: BUG-000088381

[2015-06-18 15:31] caporossi opened #88 "APP6B issue in Sea Surface. 1.x.4 Sea Subsurface. 1.x.5 Special Operations Force. 1.x.6"
Continue our analysis of the symbology APP6 (B)

The tests were carried out with:

ArcGIS Runtime SDK for Java 10.2.4
dictionary app6b.dat version 1390944071
The families of symbols as grouped in the same Hierarchy find in APP-06 (B) Joint Symbology.pdf
- **Table B-VI. Warfighting symbol ID codes - Sea Surface. 1.x.4**
- **Table B-VII. Warfighting symbol ID codes - Sea Subsurface. 1.x.5**
- **Tabl

[2015-06-20 08:58] caporossi commented on #88
After some mails with the support I have updated the first post

[2015-06-23 14:34] csmoore opened #90 "Delete unused EchelonLabels domain"
UPDATE: 8/25/2015 - this domain is unused and should be deleted from [MilitaryOverlay.gdb](https://github.com/Esri/military-features-data/blob/master/data/mil2525d/core_data/gdbs/MilitaryOverlay.gdb.zip)

-----

Is EchelonLabels domain used anywhere?  We will delete this milestone if no one knows where it is used or what it is used for:

![image](https://cloud.githubusercontent.com/assets/3090809/

[2015-06-23 14:45] csmoore opened #91 "Document current mil2525d style/stylx creation process"
I believe there were a few workarounds/tools added to the process at
https://github.com/Esri/military-features-data/tree/master/data/mil2525d/utilities/style-utilities

Example: the "stroke-dasharray" workaround:
https://github.com/abouffard/manage-2525d-styles/blob/master/source/manage_2525d_styles/frmMain.cs#L390

We should get the current style creation process updated to reflect the current to

[2015-06-23 16:48] csmoore commented on #82
Here was the table I ended up adding to MilitaryOverlay.gdb & will be included in the next PR, let me know if there are any additions/changes needed.

![image](https://cloud.githubusercontent.com/assets/3090809/8311704/fac708a8-19a5-11e5-9db2-526d46cdfd76.png)

[2015-06-23 17:27] csmoore commented on #47
These are fixed with the domain exports and will be fixed in next PR - I am closing this as a duplicate of #80 now that all of the symbols affected are listed there.

![image](https://cloud.githubusercontent.com/assets/3090809/8312593/80624a22-19ab-11e5-80b5-4e4660a70156.png)

[2015-06-23 17:27] #47 closed

[2015-06-23 17:29] csmoore commented on #46
Closing as duplicate of #80

[2015-06-23 17:29] #46 closed

[2015-06-23 17:33] csmoore commented on #52
Closing as duplicate of #80

[2015-06-23 17:33] #52 closed

[2015-06-23 21:54] csmoore commented on #80
I retested the symbols above - most work now, however 2 values (Air Corridors : Safe Lane,170400; Air Corridors : Transit Corridor,170600) are missing an associated symbol in the .stylx file - so won't be usable until @abouffard finishes with the task of adding missing symbols ( #39 ).

![image](https://cloud.githubusercontent.com/assets/3090809/8318135/5fa8310a-19d0-11e5-8d08-817db71963f6.png)

[2015-06-23 22:26] jrweakland commented on #82
@csmoore - I think that works as a easy way to see the versions of the sources for this solution.

[2015-06-25 13:30] csmoore commented on #39
@abouffard - when you have a chance (I know you are out for a bit), can you check off the completed ones from this issue list so we can see the current status - thanks

[2015-06-25 15:07] csmoore opened #93 "Document Process to Create/Update Pairwise Testing Data & Recreate gdb/project"
We don't seem to have the full set of steps/tools needed to go from the

(1) JMSML source data:
https://github.com/Esri/joint-military-symbology-xml

to (2) Pairwise Inputs
https://github.com/Esri/military-features-data/tree/master/data/mil2525d/utilities/pairwise-testing

to (3) Pairwise Outputs GDB
https://github.com/Esri/military-features-data/blob/master/data/mil2525d/sample_data/gdbs/Pairwise

[2015-06-26 14:44] BobBooth commented on #82
Closing.

[2015-06-26 14:44] #82 closed

[2015-06-26 14:44] #57 closed

[2015-06-26 14:50] #59 closed

[2015-06-26 15:35] csmoore commented on #80
This issue is resolved (in https://github.com/csmoore/military-features-data/commit/dcb2632af78dc46a550c70cebbb47b4ab7ac6f46) & can be closed (autoclosing since Andy is out)

The 2 non-displaying (non checked above) symbols from the original list above are already captured in #39:
30	Air Corridors : Safe Lane	Control Measure : Area	25170400
31	Air Corridors : Transit Corridor	Control Measure : Are

[2015-06-26 15:35] #80 closed

[2015-07-07 18:22] csmoore opened #94 "Current Missing/Erroneous Control Measure Symbols (And METOC)"
Control Measure Symbols have been retested by @Dbarnes1 with current [mil2525d.stylx](https://github.com/Esri/military-features-data/blob/v.next/data/mil2525d/core_data/stylxfiles/mil2525d.stylx) as of 7/7/15 and these are the remaining symbols that aren't displaying or that have significant/major issues:

|Fixed|Item|Feature Type|Symbol Name|Symbol Set|Entity|Draws Correctly|Issue(s)|
|---|---|--

[2015-07-07 18:33] csmoore commented on #39
Retiring this issue - current, more comprehensive list of non-display symbols with test repro data here: https://github.com/Esri/military-features-data/issues/94

@Dbarnes1 retested @BobBooth 's list of [symbol-related issues](https://github.com/Esri/military-features-data/issues/39#issuecomment-104379830) and verified that 4, 13, 14 are still issues and the other are fixed.  He is doing a compreh

[2015-07-08 22:01] conklinbd opened #96 "Entity is a reserved keyword or invalid column name for PostGres/SDE"
When copying the military features schema to a postgres database the entity column is changed to database.table.entity because the entity field appears to be a reserved keyword.

This is a serious issue, because any service published from the Military Feature schema will not symbolize correctly if it is a hosted service because the change in column name will make the renderer no longer work.

We n

[2015-07-09 04:25] jrweakland commented on #96
@abouffard and @csmoore - We will need to discuss after UC. There are many waterfall effects from this discovery by Ben. I would like to add this issue to the sprint after UC. Thoughts?

[2015-07-09 11:30] csmoore commented on #96
Are you sure it is a reserved word (&not a copy or other bug)?

http://www.petefreitag.com/tools/sql_reserved_words_checker/?word=Entity
http://www.postgresql.org/docs/current/static/sql-keywords-appendix.html

Ex. can you rename the field or create a new field with that name?

Once you are sure that this is indeed the issue - we can do whenever you want - it is straightforward once you decide on

[2015-07-09 12:49] csmoore commented on #96
I forgot to mention, as a *very short term workaround*, if you just need to view the symbols, you can also create&populate a 20 digit 2525D Symbol ID field: ""sidc".  The plugin will also use this attribute if it is present.

If you need SIDCs from existing data, you can run a tool we have for [converting symbol attributes to SIDCs](https://github.com/Esri/military-feature-toolbox/tree/v.next/tool

[2015-07-09 13:39] conklinbd commented on #96
@csmoore I did look at the sql reserved keywords and it is not present but I was told the behavior was "as designed' because it is reserved. It might be a reserved keyword for SDE or something at a higher level the SQL.

In looking at your above choices, I think EntityCode seems like a great choice, that we we don't need to use _. I personally hate _ in field names if it can be avoided.

I think h

[2015-07-09 13:39] conklinbd commented on #96
Sorry I should add that this is really an issue for 10.4 Server and 1.2 Pro. Not a UC issue, I can work around this issue for UC.

[2015-07-09 17:43] #39 closed

[2015-07-10 08:30] jrweakland commented on #94
@Dbarnes1 - Great work! Thanks for bringing the solution forward.

[2015-07-10 20:27] Dbarnes1 opened #98 "Datamodel Fields to Add/Edit"
For this issue, concerning Control Measure Symbol labeling in 2525D, we have to add specific fields to the points, lines, and areas feature classes. These three fields are: X1 field that represents a second X point, Y1 field that represents a second Y point, and AM1 which represents a second distance. While these three fields are most needed for control measure areas, they should be added to point

[2015-07-10 21:01] Dbarnes1 opened #99 "Fix Military Features Data- Modifier Attribute Table in GitHub"
Various things to fix on the military-features-data gdbs readme:
https://github.com/Esri/military-features-data/tree/master/data/mil2525d/core_data/gdbs
The edits should focus on the Modifier (Label) Attributes table
Items that need to be added:
- [x] N-Hostile
- [x] Q-Direction of Movement Indicator
- [x] Z1
- [x] X1
- [x] Y1
- [x] AM1 (all additional location/altitude depth points, distance as w

[2015-07-10 21:43] Dbarnes1 commented on #99
@csmoore Pretty sure I added the right fields to this table, review it and we can close this issue? Thanks!

[2015-07-11 05:36] jrweakland commented on #99
@Dbarnes1 - Please review the formatting for the checkboxes I created above.You can check them off as you fix the issues. Keep up the great work and please let me know if you have any questions.

[2015-07-13 15:02] csmoore opened #101 "Current Symbol Missing Label Issues (mil2525d.stylx)"
Control Measure Labels have been tested by @Dbarnes1 with current mil2525d.stylx (7/7/15), MilitaryOverlay.gdb.zip (6/23/15). The table below shows symbols that have issues with missing/erroneous labels.

A Pro 1.1 Project Package (1.1.RC) with all Control Measure symbols drawn on the map, table attributes below, and Red outlining of bad labels is here: https://github.com/Esri/military-features-da

[2015-07-13 19:17] csmoore commented on #98
Fixed in #97

[2015-07-13 19:18] csmoore commented on #98
Sorry - closed wrong issue (meant to close #99)

[2015-07-13 19:20] csmoore commented on #99
Verified (fixed in #97)

[2015-07-13 19:20] #99 closed

[2015-07-14 13:48] csmoore commented on #84
This issue will get addressed with https://github.com/Esri/military-features-data/issues/101 (adding missing labeling expressions to stylx) so marking this as duplicate.

[2015-07-14 13:48] #84 closed

[2015-07-14 14:13] csmoore commented on #79
@Dbarnes1 I was going to close this as a duplicate of #101, but just spot checking the table above I noticed there were a few ones in @BobBooth 's list that aren't on the #101 list/table (240100, 130500, 260100).

I *think* this is because Bob was also looking at the orientation rules (an issue @abouffard also mentioned I believe, but I'm not sure if he recorded a defect somewhere), but can you gi

[2015-07-14 16:11] csmoore commented on #62
@Dbarnes1 - when we get to the point of looking at the label fixes ( #101) we'll also see if we can address these redundancies

[2015-07-14 22:51] Dbarnes1 commented on #101
@csmoore I checked to see if there were any symbols with bad labeling that we missed, using Bobs list #79. There are several that he marked as wrong but appear correct after looking at the current dataset in Pro and cross checking with the standard. Therefore, I think our list of incorrectly labeled symbols is complete. Below is a list of symbols with labeling issues in #79 that did not appear her

[2015-07-14 22:56] Dbarnes1 commented on #79
@csmoore Check #101 for updated list of Symbol Labeling Issues

[2015-07-14 23:22] csmoore commented on #101
Thanks for having a look & re-checking/testing these - for the overlapping/orientation label issues mentioned (260100, etc.) we'll eventually open a CR in Pro about the Maplex rules not being honored, but we'll probably hold off on that until we have all of the labels working/added.

[2015-07-14 23:48] csmoore opened #102 "merge-stylx-utilities Readme errors/enhancements"
While going over the [Merge Stylx Readme](https://github.com/Esri/military-features-data/tree/v.next/data/mil2525d/utilities/style-utilities/merge-stylx-utilities) with @Dbarnes1 today we noticed numerous errors that kept the process from working correctly

- [x] "mil2525d-points-only.dat" now called "mil2525d-points-only.stylx"
- [x] [SqliteMergeStylx.sql](https://github.com/Esri/military-feature

[2015-07-15 18:53] csmoore commented on #90
While @Dbarnes1 & I were going over the "amplifier"/attribute tables in 2525D (Table VII and TABLE D-II), we did see all of these additional domains **except EchelonLabels** so I have moved all of these required domain exports to https://github.com/Esri/joint-military-symbology-xml/issues/200

I'll edit/change this issue to be a check/question if "EchelonLabels" domain is used anywhere.

[2015-07-17 21:46] csmoore commented on #54
While I was looking at/debugging SQL merges already, I figured I better take a look at this, addressed in https://github.com/csmoore/military-features-data/commit/bb65f5ee13d87774fbeedd174b532ce650b6da5f - but this script will need tested somewhat closely/diligently to make sure this mass update doesn't have some side effect I didn't notice.

[2015-07-20 17:15] csmoore opened #104 "Newly created symbols/.stylx incompatible with Runtime"
@abouffard 's https://github.com/abouffard/military-features-data/commit/f5b68301ca61d835753091893a48451a12de0447 (& #89) may have inadvertently introduced some runtime incompatibilities with the stylx [mil2525d-lines-areas-labels-base-template.stylx]( https://github.com/Esri/military-features-data/blob/v.next/data/mil2525d/core_data/stylxfiles/mil2525d-lines-areas-labels-base-template.stylx)

Sin

[2015-07-23 12:35] csmoore opened #105 "Pro - New Feature Template does not have a default value for symbol set or populate tags from icon"
Some issues/questions @BobBooth and I had after using the New Feature Template form with the DictionaryRenderer

1. Tags - Should the New Feature template dialog be able to populate the tags from the Stylx icon tags?

2. Feature Class default value - when I create a new feature template for a layer/feature class that does not have a subdomain, but does have a default value - the default value is n

[2015-07-27 21:37] #83 closed

[2015-07-27 21:54] #102 closed

[2015-07-28 16:39] Dbarnes1 commented on #104
@csmoore @jrweakland Who on the Pro Carto Team should I talk to in order to address this issue and move forward? I had fixed about 80% of the symbols before this issue came up and would love to get back on track before the end of the sprint.

[2015-07-30 14:27] csmoore commented on #104
I'm not sure if anyone except for @mbriat is even aware of this flag/dependency so I'll email him today (@jrweakland may have another suggestion).

[2015-07-30 15:05] mbriat commented on #104
The flags that are set to ensure the stylx is compatible with runtime relate to densifying curves, converting all color models to RGB and converting character markers to geometry (plus some geometry  precision thing).
The cartofeatures team would have to verify that they are correctly honored in all the style editing scenarios in pro, but I would think this is not the case at pro1.1. Once this is

[2015-07-30 15:14] csmoore commented on #104
Thanks - so the path to getting this issue fixed is to submit a CR to cartofeatures team with our repro case.

The repro case might be hard for others to understand, but we did try to explain this flag a bit more here: https://github.com/Esri/military-features-data/tree/v.next/data/mil2525d/utilities/style-utilities#important-warning-on-runtime-compatibility-before-you-begin (so hopefully that hel

[2015-07-31 11:52] csmoore commented on #104
Assigning to @jrweakland for now to get the CR written (feel free to let me know if I can help with the CR) but the CR repro case basically is:

1. Pro latest/daily/1.1
2. Set the Runtime Compatibility Flag ("RTCStyles") - see: https://github.com/Esri/military-features-data/tree/v.next/data/mil2525d/utilities/style-utilities#important-warning-on-runtime-compatibility-before-you-begin
3. Add the mi

[2015-07-31 15:08] Dbarnes1 commented on #94
List above updated from efforts I made right before UC and the runtime compatibility issue came to light. Once we get the issue fixed #104 there only remain a small number to fix.

[2015-08-03 15:44] jrweakland commented on #105
@psanchez1327 - can you please enlighten us?

[2015-08-03 15:47] Dbarnes1 opened #107 "Text Symbols Preview Not Displaying for Mil2525D.stylx"
When I try to preview a text symbol for our Military Symbology Stylx's, the symbols don't show up.
![image](https://cloud.githubusercontent.com/assets/13024357/9041221/c6180180-39bb-11e5-8494-3e0f3a6f016a.png)

However, when working with a .stylx from an already provided dataset (For example, ArcGIS 2D), the text symbols preview with no issue.
![image](https://cloud.githubusercontent.com/assets/13

[2015-08-03 16:20] Dbarnes1 commented on #62
When looking at the list of all 847 Text Symbols, we ran this SQL Query `SELECT *  FROM Items WHERE Class == 6.` From here, we ran `SELECT DISTINCT Content FROM Items WHERE Class == 6` and only found 44 distinct Text Symbols, only 5% of symbols are unique. At some point we might look at eliminating those non distinct entries.

[2015-08-04 12:02] csmoore opened #108 "Using Multipoint Geometry to draw Control Measures with unique draw rules/control points"
We were considering using a featureclass with a Multipoint geometry type to indicate to the DictionaryRenderer that the 2525D special draw rules/control points should be used (for example, with an arrow/axis symbol there is a special draw rule that last point indicates the arrowhead width).

However, it doesn't seem we can control the order of the points with multipoint geometries, the vertices al

[2015-08-04 14:29] csmoore commented on #98
@Dbarnes1 - I'm going to work on this issue today - the only thing I wasn't 100% sure of, is what featureclass to add these attributes to - so I added the featureclass in parenthesis in the original issue description above (ex: "(Units)) - can you double check these feature classes are correct before I get started on this fix - thanks

[2015-08-04 14:41] Dbarnes1 commented on #98
@csmoore The featureclasses look good, I just checked my excel table documenting missing datamodel fields for CM Areas, Points, and Lines, and the first three in your list above are the only ones missing. As for the last 4 items on your list, I'm unsure of where we got those from, as they are not a part of Control Measures. Sorry I can't be more helpful with these last 4 feature classes.

[2015-08-04 14:46] csmoore commented on #98
Thanks - for those last 4 I just pulled them from the "Not in Datamodel" ones listed here:    https://github.com/Esri/military-features-data/tree/v.next/data/mil2525d/core_data/gdbs (but I'm reasonably sure those feature classes are correct) - but it does remind me that we will need to update that table also as part of this issue

[2015-08-04 18:58] csmoore commented on #98
Fixed in https://github.com/csmoore/military-features-data/commit/c663d3679c000c45a4f6b390644ed3dd980378ab

Note: when you verify, also check version table of gdb:

![image](https://cloud.githubusercontent.com/assets/3090809/9069658/926eb1be-3ab8-11e5-8e58-d0becdb72d69.png)

[2015-08-04 19:13] csmoore commented on #91
I have some time to look at this, so assigning this to me.  I'd like @Dbarnes1 to verify the *as-documented (as in documented in this repo)* end-to-end process, so I'd like to complete this issue while he is still available to verify.

[2015-08-04 19:36] csmoore commented on #101
I just noticed that this table doesn't include the static portions of the label - so when you start looking at these & fixing these symbols, just be careful to check these static labels also for each affiliation.

For example the static label "MSR" in the Main Supply Route Symbol - is missing for "Sustainment Lines : Alternate Supply Route : One Way Traffic : Hostile" (so I just added it to the ta

[2015-08-04 20:13] abouffard commented on #91
Since I've been away from the daily routine of this for over six weeks, I'd appreciate knowing if there have been any process changes since the last time I ran through the process (ran the manage-2525d-styles) application.  I would also be happy to add the manage-2525d-styles project back into the military-features-data repo, once we understand if the process has changed at all while I have been a

[2015-08-04 20:19] Dbarnes1 commented on #101
@csmoore Thanks for the heads up, I've been double checking against the Standard to ensure I'm not missing any part of the label fixes, once I fix a significant portion of the labeling issues I'll start checking off this list

[2015-08-04 20:29] csmoore commented on #91
@Dbarnes1 only needed to do the [points to lines/areas/labels merge step](https://github.com/Esri/military-features-data/tree/v.next/data/mil2525d/utilities/style-utilities/merge-stylx-utilities), but just in testing that he found some issues - recorded/fixed in #102 (so the process has definitely undergone some minor changes - please see #103 for the warnings to the effect).

For now, maybe we ca

[2015-08-04 22:17] abouffard commented on #91
Sounds good to me.

[2015-08-05 11:45] csmoore commented on #91
@abouffard - I added [a few issues to the manage-2525d-styles repo](https://github.com/abouffard/manage-2525d-styles/issues) based on where we were with this  when we last looked at this app in April - so you have something to start with when you are ready to PR this tool into this repo

[2015-08-05 13:33] csmoore commented on #98
Assigned to @Dbarnes1 to verify with https://github.com/Esri/military-features-data/pull/109

[2015-08-05 17:01] Dbarnes1 commented on #98
Fixed in #109

[2015-08-05 17:01] #98 closed

[2015-08-05 17:01] Dbarnes1 commented on #91
Fixed in #109

[2015-08-05 17:01] #91 closed

[2015-08-05 22:51] abouffard opened #111 "Some linear control measures are not compliant with the 2525/APP-6 standards"
This is related to issue #108 (**Using Multipoint Geometry to draw Control Measures with unique draw rules/control points**)

Several control measures have the same general issue (a list of these control measures needs to be added to this issue), where our current implementation of rendering a symbol using the vertices of a feature doesn't strictly follow the 2525/APP-6 standard.

For example, a D

[2015-08-05 23:15] abouffard opened #112 "Area control measure labels are not being drawn where expected (Maplex Placement Rules Not Honored)"
Despite setting up Maplex label placement items in the stylx file, and connecting those items to area symbol items, the label placement settings appear to not be used by the dictionary renderer.

For example, in our current stylx, the Sensor Zone symbol has the text "SENSOR ZONE" and the feature's Unique Designation field specified as text to be centered in the polygon feature.  Likewise, the date

[2015-08-06 12:52] csmoore commented on #111
Thanks for writing these issues up. The control-points-from-the-standard usage does work in Runtime, but we haven't completely ironed out this usage in Pro yet. But this usage will be important when communicating these graphics over messages so it is good we are tracking it now.

[2015-08-06 15:40] abouffard commented on #111
Just an FYI here.  Over time I plan to work with the SSMC and JSP to simplify control measures like this.  For example, the Disrupt Task could be defined as two points that specify the length and direction of the symbol and a separate amplifier/attribute to define its width, rather than the current kind of odd way it uses three points.  Major changes like this though won't occur until the control

[2015-08-07 18:00] Dbarnes1 commented on #101
List checked off with significant progress on lines and areas, will tackle points next

[2015-08-10 16:27] csmoore commented on #101
Thanks for the update, looks like a good first cut/iteration - maybe try just a few point features just to make sure there are no issues with that type as well.

[2015-08-10 21:31] csmoore opened #114 "Add Status Field to ControlMeasures schema"
- [x] @abouffard adds "Status" domain "0=Present" "1=Planned/Anticipated/Suspect" to domain exports (done in https://github.com/Esri/joint-military-symbology-xml/issues/200)
- [x] Create "Statuses" domain in GDB
- [x] Add Status field to ControlMeasurePoint
- [x] Add Status field to ControlMeasureLine
- [x] Add Status field to ControlMeasureArea
- [x] Add Status field to Activities, Civilian, Unit

[2015-08-11 17:03] csmoore commented on #96
@jrweakland @abouffard @Dbarnes1 - this was another Pro CR that I just remembered we need to add to the Pro CR list ("Change Well-Known-Attribute in Dictionary Renderer Symbology Page from 'Entity' to 'EntityCode'")

[2015-08-11 20:07] csmoore commented on #38
Now a duplicate of #101 - closing

[2015-08-11 20:07] #38 closed

[2015-08-11 20:18] csmoore commented on #54
Update sql script is done, we just need to thoroughly test - moving this to the next milestone

[2015-08-11 20:19] csmoore commented on #55
Assigning to @Dbarnes1 since he is now more familiar with these label rules - also moving to next milestone since we didn't get to

[2015-08-12 14:00] conklinbd opened #116 "Feature Classes do not have Editor Tracking enabled"
Need to enable editor tracking. The fields Created By, Created Time, Edited By and Edited Time are in the schema but are not being automatically populated.

[2015-08-12 14:08] conklinbd opened #117 "Layers should have initial properties set"
There are several layer properties we should set on every layer prior to releasing the layers.
I recommend looking at the previous Military Overlay layers for ideas on the settings.

- [ ] Metadata - Summary Description
- [ ] Thumbnail
- [ ] Time - Using Date Time Valid/Expired Fields
- [ ] Range - Echelon and Altitude

[2015-08-12 14:10] conklinbd opened #118 "Check initial Projection for Military Features Layer"
When I unpacked the Schema Only Layer package I noticed that the projection on my feature class was in Web Mercator. I am not sure if that was due to my Map in my Project or if the source feature classes are in Web Mercator.

The source feature classes should be Geographic/WGS84.

[2015-08-12 14:55] csmoore commented on #117
We will probably also want to decide on:

1. How/when to get the base Pro project package/template and these associated layers added to this repo (so we can tie issues like this to the actual artifact that needs fixed)
2. The workflow for making fixes like this (ex. do we fix in the project package and regenerate the layers from this or visa versa)

[2015-08-12 15:09] csmoore opened #119 "Many lines showing extraneous "PL {name}" (Phase Line) Label (instead of correct abbreviation)"
Using the latest mil2525d.stylx with the DictionaryRenderer, about 15% of the line symbols now show an extaneous "PL {Name}" Label. Ex "PL T" (all of the uniquedesignation attributes have a value of "T") in the ControlMeasuresAll package from this repo:

![image](https://cloud.githubusercontent.com/assets/3090809/9227612/7ef3a196-40e2-11e5-90c6-f316a0097da3.png)

For example the Bridgehead Line ab

[2015-08-12 15:14] conklinbd commented on #117
Here are my attempts at answers:
1) We should try to get this released prior to the 1.2 release. I think we are very close so we should target 1.1.
2)I think we should use a Project Package (not a zip file) and go ahead and add to this repo.
3)All of the derived layers should be generated from the package. We could use a model to do that, so we make sure it happens consistently.

[2015-08-12 15:23] conklinbd opened #120 "Pro: Pop-up Shows code instead of value for some fields"
For some of the fields, the popup shows the raw code instead of the value. This is an issue since the code is essentially useless to an end user. My only observation is this seems to only be for fields where the value has is ':' delimited.

We need to log this with the Pro team and see if we can get addressed in 1.2. The only alternative will be to change our delimiter to some other character. '|'

[2015-08-13 15:57] Dbarnes1 commented on #101
List updated to reflect changes as of end of sprint 8/11/15, with significant improvements. Fixing the remaining labeling errors (about 10% of CM symbols) will rely on resolving #104

[2015-08-13 15:59] csmoore opened #121 "Remove DatabaseVersion table from dictionary/stylx and Update versions in meta table"
Do for:

- [x] mil2525d
- [x] mil2525c
- [x] app6b

We are no longer using/updating this table/entry (which was just a unix time int).

![image](https://cloud.githubusercontent.com/assets/3090809/9254624/8a3390b8-41b2-11e5-9018-0019c24347b1.png)

Remove this table and verify that it does not impact/break the ArcGIS DictionaryRenderer plugins.

Note: as part of our dictionary build process we do no

[2015-08-19 16:00] Dbarnes1 commented on #94
After creating a test dataset for METOC points, lines, and areas, I came up with this list of 12 symbols that need to be fixed.

| **Fixed** | **SIDC** | **Name** | **Feature Type** |
|-----|-----|-----|-----|
|<ul><li>- [ ] </li></ul>| 45110202 | Pressure Systems-High Pressure Center-Tropopause High | Atmospheric Point |
|<ul><li>- [ ] </li></ul>| 45110505 | Pressure Systems-Pressure Tendency-Ste

[2015-08-19 22:24] csmoore opened #123 "Update mil2525d meta table and doc to match new team agreed-upon spec"
@mbriat , raj, and I went over the .stylx meta table fields and here was the reviewed, agreed-upon list for the mil2525d.stylx (Pro 1.2/Quartz version):

We just need to update the names for the [source version table for our mil2525d entries](https://github.com/Esri/military-features-data/blob/v.next/data/mil2525d/utilities/style-utilities/merge-stylx-utilities/versions.csv) and add this table to

[2015-08-20 23:16] csmoore commented on #104
This is fixed in Pro 1.2.4375+ & ready for @Dbarnes1 to verify

[2015-08-20 23:26] csmoore opened #127 "Fix Text Label Halo/Shadowing for Pro 1.2/Runtime Quartz B2"
The way the labels are currently defined are causing some inconsistent behavior between Pro and Runtime. We should recreate the TextSymbol to be simpler and less susceptible to misinterpretation.

Here is how the text symbol draws in Pro (Halo/Shadow first) and the issue we need to fix with the [latest](https://github.com/Esri/military-features-data/pull/126) mil2525d.stylx:

![image](https://clou

[2015-08-21 14:15] csmoore commented on #67
@BobBooth @jrweakland just checking back to see if this is something I still need to get a Pro CR written/reopened for 1.2

[2015-08-21 18:15] Dbarnes1 commented on #107
![image](https://cloud.githubusercontent.com/assets/13024357/9415671/c8389c84-47f5-11e5-832e-393421eee1aa.png)
This issue looks fixed now in pro 1.2.4375.

[2015-08-21 18:15] #107 closed

[2015-08-25 13:01] csmoore commented on #90
I exported all of the current fields/domains used in the mil2525d MilitaryOverlay.gdb and verified that EchelonLabels domain is not used anywhere - so this domain can be deleted and changing the issue title/description

[2015-08-25 18:39] csmoore commented on #117
This issue is related to an issue @BobBooth & I noticed with
 Pro where you add a feature class with metadata & it does not populate the corresponding metadata for the layer - @conklinbd @jrweakland - should it and should we write a bug/CR for this?

FeatureClass metadata:
![image](https://cloud.githubusercontent.com/assets/3090809/9475722/8030b0cc-4b36-11e5-9548-5059046a38fc.png)

Layer metadata:

[2015-08-25 19:07] BobBooth commented on #67
I can still reproduce this issue - I know we are going to point people to the LPKs/Project templates with pre-defined feature templates, but it would be nice for there to be some default feature template when you apply a dictionary renderer on a military features feature class.

[2015-08-26 18:09] Dbarnes1 opened #129 "Some Control Measure Point Symbols missing all affiliations but "Friendly""
There are a few remaining control measure point symbols that render correctly, but only in black for "Friendly" affiliation. These point symbols (mostly maritime points) will likely have to be recreated if we care about having red, green, yellow versions. It is important to note that none of them have label amplifiers of any kind, which means that they will not be an impediment to fixing control m

[2015-08-27 20:58] Dbarnes1 commented on #127
From what I can tell, this was actually a pretty simple label definition fix. See Functioning label example below
![image](https://cloud.githubusercontent.com/assets/13024357/9532954/a37f7c96-4cc3-11e5-8490-66b34b8cf4d1.png)

[2015-08-27 21:00] Dbarnes1 commented on #104
@csmoore Should we close this issue now? It seems like this particular issue has been fixed between Pro and Runtime

[2015-08-27 21:17] csmoore commented on #127
Did you follow MarcO's advice to create(so compatible in runtime also)? Go ahead & share out the test stylx on box & I'll test on Runtime to see if it works both places (I still need to get you your own deployed runtime test app so you can do this)

[2015-08-27 21:34] csmoore commented on #104
It is close - maybe we will keep this open until the RBG color swap issue [noted here](https://github.com/Esri/military-features-data/pull/130#issuecomment-135528036) gets written up

[2015-08-27 21:51] csmoore commented on #127
Runtime before change (has halo):

![image](https://cloud.githubusercontent.com/assets/3090809/9534020/cdef3280-4ce3-11e5-89e2-1341c521be60.png)

Runtime after (no halo):

![image](https://cloud.githubusercontent.com/assets/3090809/9534059/0e5424a2-4ce4-11e5-8f9b-382471ee5ff0.png)

So you may have to re-review MarcO's advice on the best way to make this work in both environments

[2015-08-31 12:31] csmoore commented on #104
Pro CR# CR317283 created & fixed, however we need to notify the team of the color swap issue:

Symbols edited in Pro 1.2 appear to have their RGB's swapped when viewed in Runtime (the ASR one below was supposed to be red instead of green)

![image](https://cloud.githubusercontent.com/assets/3090809/9530466/0119fe94-4cce-11e5-8d92-e378a6e3f5d2.png)

![image](https://cloud.githubusercontent.com/asse

[2015-08-31 12:50] csmoore opened #132 "DictionaryRenderer Symbols Disappear in Pro when zooming in/out"
Pro Version: 1.0-1.2+
Repro-case:
1. Load [sample test dataset/Pro package METOCall](https://github.com/Esri/military-features-data/blob/master/data/mil2525d/sample_data/projects/METOCall.ppkx)
2. Turn on the METOC_Lines layer (and turn off the others)
3. Zoom in and out and notice that the symbols disappear and reappear and different zoom levels

Zoom Level 1 (symbols disappear)
![image](https://

[2015-08-31 13:06] csmoore opened #133 "Update Pro DictionaryRenderer to use latest Plugin API from Quartz"
There have been some small changes in the Runtime/Quartz Plugin API. As a result, the Plugins built on the latest Quartz API no longer load in Pro. Pro DictionaryRenderer should be updated to load newer version of Plugins.

[2015-08-31 13:16] csmoore opened #134 "Button to "Turn off all text labels" on Pro DictionaryRenderer Symbology Pane (Text Field Mapper)"
@conklinbd asked for a button to be able to turn off all of the Pro DictionaryRenderer Text labels at once. There are 15-20 text labels so currently if the user wants to turn off the labels, (s)he needs to set each one to <none> individually (which is an annoyance).

A button similar to the following:

![image](https://cloud.githubusercontent.com/assets/3090809/9579390/43835e7a-4fc0-11e5-859f-7a8a

[2015-08-31 14:02] csmoore opened #135 "Pro DictionaryRenderer symbols not drawing in 3D Scene"
Version: Pro 1.1 Final +
Repro Case:
1. Open a sample package/test dataset from this repo: https://github.com/Esri/military-features-data/tree/master/data/mil2525d/sample_data/projects
2. Convert one of the maps to a 3D Scene
3. DictionaryRenderer symbols draw black or granular/pixelated

![image](https://cloud.githubusercontent.com/assets/3090809/9580356/f7cfcbf6-4fc6-11e5-8c78-e7e7d0f8fbf7.png)

[2015-08-31 15:00] csmoore opened #136 "Provide Jamie Intermediate mil2525d.stylx when available & final before Pro 1.2 Freeze"
@jeconley would like to update display tests, so as soon as a stable/tested .stylx please provide to her.

[2015-08-31 17:27] jeconley commented on #112
CR318568 has been added.

[2015-08-31 17:33] jeconley commented on #132
CR318572 has been added.

[2015-09-01 22:05] jeconley commented on #134
CR318679 has been added.

[2015-09-01 22:06] jeconley commented on #133
CR318680 has been added.

[2015-09-01 23:03] Dbarnes1 commented on #119
I think this is fixed. I went into the Label Rules and removed the extraneous PL's. @csmoore verify with the latest stylx i sent you today.
![image](https://cloud.githubusercontent.com/assets/13024357/9619248/e346c6e2-50c2-11e5-9e97-6369b92561a0.png)

[2015-09-01 23:10] Dbarnes1 commented on #101
List updated to reflect changes as of end of sprint 9/2/15, with all labels rendering properly. @csmoore verify to potentially close issue?

[2015-09-01 23:16] Dbarnes1 commented on #94
List updated to reflect end of spring 9/2/15 with all Control Measure symbols rendering correctly. However, this issue should not yet be closed as the few incorrectly rendering METOC symbols should be addressed at some point.

[2015-09-01 23:24] Dbarnes1 commented on #54
I have been manually updating the tags as I created new symbols, is there a way we can test to make sure the tags updated in the latest version of the mil2525D stylx? Or alternatively @csmoore is there any way I can get the update sql script to run?

[2015-09-01 23:27] Dbarnes1 commented on #62
I've eliminated many of the text symbols, moving down to about 260 from the 800 mentioned above. As a result, the stylx is much easier to understand, however some label rules could still be reduced. My concern at this point is accidentally breaking current working label rules in an attempt to eliminate more redundancies. If we decide to continue on this effort, I'll need to discuss with @csmoore o

[2015-09-02 00:10] mbriat commented on #134
Removing the text fields makes sense. Are we sure we want the ability to also remove the symbology fields? No symbol will show correctly if we do.

[2015-09-02 11:12] csmoore commented on #54
Mentioned in the commit above - but the script to test is here: https://github.com/Esri/military-features-data/blob/master/data/mil2525d/utilities/style-utilities/merge-stylx-utilities/SqliteUpdateTemplateStylxTags.sql

It needs to be tested somewhat thoroughly though, something like: 1) export all the current ITEM tags/table as csv/xls 2) run the script 3) export again as csv & 4) do a diff again

[2015-09-02 13:35] csmoore commented on #101
Sample stylx/test data you sent me looks really good - we'll just need to schedule some (large chunk of) time for someone with a fresh set of eyes (like maybe @BobBooth if available) to (arduously) verify one symbol at a time

[2015-09-02 13:59] csmoore commented on #62
We mainly just wanted to get rid of the separate label rules for each affiliation (4X the needed number of label rules) so sounds like you accomplished that goal and no need to aggressively optimize much further unless you see some other globally repeated pattern.

I believe you mentioned this before, but just so we don't forget to add a task as part of this effort, to go back through and delete t

[2015-09-02 14:08] csmoore commented on #119
This looks fixed - I'll verify with the next PR

[2015-09-02 14:12] csmoore commented on #134
I haven't read the CR, but this was only intended to be a button to set the text fields to <none> like shown in the original issue screenshot (we don't want this to affect the symbol display fields)

Feel free to rename that button to something like "Set All Text Fields to <none>" if it is unclear.

[2015-09-02 14:17] jeconley commented on #134
Hi Chris,

The idea is to set all of the text fields to Null, correct?

The design that was added to the CR was that you would be able to set all the text fields, or all the symbology fields, or all the fields to null essentially removing the mapping for the dictionary fields.  While the military dictionary only has a requirement to remove the mapping for the text fields we thought that other dict

[2015-09-02 14:29] mbriat commented on #134
I think it would be more useful to have an option to turn all the labels back on (based on the same logic used when initializing the renderer).
Turning symbology fields off just creates a simple renderer showing a default symbol. This may show a bug in the symbol dictionary where the default symbol does not always match the geometry type. I'm not sure if this is properly addressed.

[2015-09-02 14:31] csmoore commented on #134
That was the original idea - just setting all the Text Fields to the `<None>` setting in the UI.

I can't anticipate a scenario where someone would want to unset all of the Symbology Fields from the Dictionary Renderer Symbology pane - but if it makes the UI more consistent/future-proof - having 2 buttons - one for the "Symbology fields" and one for the "Text fields" - that would be fine

Also, I'

[2015-09-02 14:48] jeconley commented on #134
I should have said <None> instead of Null.  The design will be to add the More drop down that is in the other renderers and have the options listed there.

From: Chris Moore [mailto:notifications@github.com]
Sent: Wednesday, September 02, 2015 7:31 AM
To: Esri/military-features-data
Cc: Jamie Conley
Subject: Re: [military-features-data] Button to "Turn off all text labels" on Pro DictionaryRendere

[2015-09-02 21:58] Dbarnes1 commented on #62
I just went back through and deleted the unused Text and Placement Symbols, there were about 1,000 unused rows! The data is much cleaner now. @csmoore

[2015-09-02 22:57] mbriat commented on #133
Initial fix in \\cartomap\shared\XI_dlls\4432\CR318680
Note that cim_rule_engine.dll is no longer needed in ArcGIS/bin and the release64 folder is now renamed to win_x64_release
I wasn't able to repro CR318572 (https://github.com/Esri/military-features-data/issues/132) with these dlls

[2015-09-08 16:16] jeconley commented on #135
CR 318989 has been entered.

[2015-09-08 17:09] Dbarnes1 opened #138 "ASR/MSR Control Measure Lines- Text+markers don't scale with line symbol"
Regardless of the size of the line for the ASR/MSR Control Measure Lines, the text markers stay the same size. The symbol definition in the stylx. file needs to be addressed in order to fix this scalability issue.

Here is a visual example of the text markers not scaling properly.
![image](https://cloud.githubusercontent.com/assets/13024357/9741872/b32d2394-5611-11e5-8735-0bfcefbd7094.png)

You ca

[2015-09-08 19:06] csmoore commented on #104
@jeconley - for the [RGB color swap issue noted above](https://github.com/Esri/military-features-data/issues/104#issuecomment-136359397) - were you able to re-open the original CR or would you like me to create a new issue to track this?

[2015-09-08 19:14] jeconley commented on #104
I have entered CR 319000 for the color swap issue.  I figure it would be easier to track if we had a separate CR.

From: Chris Moore [mailto:notifications@github.com]
Sent: Tuesday, September 08, 2015 12:07 PM
To: Esri/military-features-data
Cc: Jamie Conley
Subject: Re: [military-features-data] Newly created symbols/.stylx incompatible with Runtime (#104)

@jeconley<https://github.com/jeconley> -

[2015-09-08 19:24] csmoore opened #139 "Symbols edited in Pro 1.2 appear to have their RGB's swapped when viewed in Runtime"
Symbols edited in Pro 1.2 appear to have their RGB's swapped when viewed in Runtime (the ASR one below was supposed to be red instead of green)

![image](https://cloud.githubusercontent.com/assets/3090809/9530509/4aa509dc-4cce-11e5-955b-773a1011120b.png)

Repro Case:
1. Edit a symbol in the mil2525d.stylx in Pro 1.2
2. View the symbol in Runtime Quartz
3. Note the colors have their RGBs swapped

[2015-09-08 19:24] csmoore commented on #139
CR 319000

[2015-09-08 19:25] csmoore commented on #104
Thanks for the update.

Original issue closed - color swap issue moved to https://github.com/Esri/military-features-data/issues/139

[2015-09-08 19:25] #104 closed

[2015-09-09 14:24] jeconley commented on #108
I discussed this with Craig and what he recalled from the last meeting is that there is an ordering issue with multipoint geometry that would need to be looked at by the geometry team.  They would need to look at the issue first and then we could address any remaining drawing issues after that.  I think it would be best to work directly with the geometry team so I will not enter a CR for this issu

[2015-09-09 15:08] csmoore commented on #108
Thanks for the update/checking - I wasn't sure if we needed a CR first to get it looked at (but I did forget to add that to the action items for the minutes of that meeting)

@conklinbd (or @jrweakland ) - can you check with Sergey if we are able to use Multipoint geometry type to arbitrarily order points like specified in the standard. Right now it appears that-like polygon- multipoint reorders t

[2015-09-11 16:49] csmoore commented on #79
In order to do a relatively quick sanity test of @Dbarnes1 's fixes in the near term during this sprint, we decided to re-open this, & @BobBooth graciously volunteered to independently verify/validate these issues have been addressed in the Engagement Area template.

Requires Pro 1.2 & the [latest/v.next stylx](https://github.com/Esri/military-features-data/tree/v.next/data/mil2525d/core_data/styl

[2015-09-14 22:40] csmoore opened #140 "Support renderer-level configuration settings in the mil2525D DictionaryRenderer"
Here are sample renderer-level configuration settings we would like to support with the mil2525d rule engine plugin :

| Count | Setting | Range | Example |
| --- | --- | --- | --- |
| 1 | ShowFrame | True/False | TRUE |
| 2 | ShowFill | True/False | TRUE |
| 3 | ShowIcon | True/False | TRUE |
| 4 | ShowModifiers | True/False | TRUE |
| 5 | CivilianFramesEnabled | True/False | FALSE |
| 6 | UseMED

[2015-09-16 16:04] abouffard opened #141 "Modifications to Military Features GDB Field Schemas"
Based on work done in exporting military feature field schemas from JMSML, a study of the current baseline field schemas, and the contents of 2525D, suggests the following changes should be made to our military feature class fields..

The contextual impact of these recommended changes are illustrated with the sample, prototype, JMSML output available [here](https://github.com/Esri/joint-military-s

[2015-09-16 16:36] csmoore commented on #141
Thanks for giving the GDB such a thorough review - looks really good & seems good to implement as is to me - but @jrweakland can let us know if he wants to give this a more thorough review and/or have a review meeting given the number of changes.

Most of the changes look like:

1. Changing field lengths
2. Changing field aliases
3. Added a few new/missing fields ("speedunit" field most common)

F

[2015-09-16 16:58] abouffard commented on #141
@csmoore , a CP for speed units is already planned, but not being authored by us.  @ottenw was planning to write it up, I believe.  It would simply remove the reference to MIL-STD-6040 and bring the speed unit format specified therein into 2525D Change 1 itself.

Sure, making speed an 8 character long string is the other option, but a numeric value is useful in the feature class for analytical and

[2015-09-17 12:11] csmoore commented on #54
Assigning to @abouffard to verify (he wrote the original issue).

[2015-09-18 16:41] conklinbd commented on #120
I want to point out that this is a huge issue and we should make sure that this is either addressed in 1.2 or fixed in our schema. I recommend you pull this in to the next sprint and assign it to someone.

[2015-09-18 17:08] csmoore commented on #120
Sorry - it never got added to our list of Pro CRs - I actually didn't clearly know what the issue was or how to create the pop-up described (I usually just use the default selection one which seems to work):

![image](https://cloud.githubusercontent.com/assets/3090809/9965736/45acfd92-5e06-11e5-8345-e25ce2fcd7c3.png)

Can you provide a repro case/screenshot?

[2015-09-18 17:11] conklinbd commented on #120
The screenshot you are sharing wasn't working last time I checked. I will retest and see if is still an issue.

[2015-09-18 17:25] csmoore commented on #120
If testing, I would recommend trying to use the latest militaryfeatures.gdb from this repo, so we can be sure its not just an issue with an old/incorrect GDB.  The screenshot above was from the EngagementArea template @BobBooth did and provided me a few months back (not sure where that lives now)

[2015-09-18 18:17] csmoore commented on #140
Just an update - I confirmed that there is an issue allocated to Quartz final for this: `cim_rule_engine/issues/69` - once that is implemented we'll coordinate/create a Pro CR.

[2015-09-18 20:07] BobBooth commented on #79
Point Target seems to not be labeling correctly.
![image](https://cloud.githubusercontent.com/assets/3801392/9969868/4755109e-5e1f-11e5-8344-ba7d6510c218.png)

[2015-09-18 20:09] BobBooth commented on #79
Engagement Area polygon is labeling with correct attribute but the position is wrong - Unique Designation should be to the right of the EA label, but it is showing up below.
![image](https://cloud.githubusercontent.com/assets/3801392/9969924/aa17e738-5e1f-11e5-86ac-a7ba74045cb4.png)

[2015-09-20 07:10] jrweakland commented on #96
@csmoore - Did this issue get assigned a Pro CR # yet?

[2015-09-21 11:32] csmoore commented on #96
Not yet, I was waiting for #133 to be installed in a daily to see if this can be fixed at the plugin level or if this is a hard-coded value in Pro so let me check on that now, I'll also update the original issue description to make the tasks a little clearer.

[2015-09-21 15:28] BobBooth commented on #79
Linear Target labeling with the code value for Target Designator text modifier, AP, not with the actual value of the Target Designator field.
![image](https://cloud.githubusercontent.com/assets/3801392/9996192/eb93b238-6053-11e5-9a10-20e9e58409c7.png)

[2015-09-21 15:37] BobBooth commented on #79
Fires Area Series of Targets get correct "nickname" label but it is out of place, in the middle, not on the top edge.
Also, Area Target, Circular Target, and Rectangular Target get mis-labeled with AP rather than with the Target Designator Attribute.
![image](https://cloud.githubusercontent.com/assets/3801392/9996426/ddfe19f0-6054-11e5-9e2c-30850eca719e.png)

[2015-09-21 16:23] BobBooth commented on #79
All of the Linear Target features in the Control Measures All test dataset have Target Designator attribute set to AP.  However, when that value is changed, to PDQ or ZZQ, the label does not update.  I suspect that it is labeling with a fixed "AP" string, not the value of the Target Designator field. @csmoore  - is there a way to look at the settings for labeling in the dictionary renderer?

[2015-09-21 16:34] csmoore commented on #79
Thanks for catching this (and also why we independently verify)

There is not yet a way to do this through Pro - but looking at the back end data, your assertion is correct (the `AP` should be `[targetdesignator]`):
![image](https://cloud.githubusercontent.com/assets/3090809/9997769/f7a50e7a-605b-11e5-81ff-dd35f75b9db7.png)

Fortunately, this problem seems isolated to this targets: I only found 1

[2015-09-21 19:22] BobBooth commented on #79
For Air Control Point, the Unique Designation label appears to draw in center of circle, not just below the center.
![image](https://cloud.githubusercontent.com/assets/3801392/10002263/335132a6-6074-11e5-8ff0-6499738477da.png)

[2015-09-21 21:41] BobBooth commented on #79
Convoy and Stopped Convoy features may have hard-coded "A" in label string.  The default position for three text modifiers in on the center of the line. V  A  H items.  The V seems to be connected to the "Type of Equipment" attribute, and the H to the "Additional Information" attribute, but the A does not seem to come from the attributes. It looks, in the standard, as though the A is supposed to b

[2015-09-21 22:03] BobBooth commented on #79
Contact point label appears below symbol rather than on it.
![image](https://cloud.githubusercontent.com/assets/3801392/10006387/095a5114-608b-11e5-80a8-b91821917522.png)

[2015-09-21 22:13] BobBooth commented on #79
Linkup point "Additional Information" (text modifier H) appears in wrong position (lower left, should be on top).
![image](https://cloud.githubusercontent.com/assets/3801392/10006602/7ce7dace-608c-11e5-82e7-7ff5e85c1419.png)

[2015-09-22 12:30] csmoore commented on #79
I do see the hardcoded "A" in the Convoy labels (Note that "A" in the standard is meant to show where you drop a unit symbol on that graphic):

![image](https://cloud.githubusercontent.com/assets/3090809/10018181/af9a1db2-6102-11e5-8e8c-91c29b6e4be1.png)

[2015-09-22 14:00] BobBooth commented on #79
@csmoore - If the standard prescribes a space there, maybe we should hard-code a space character?  Or, perhaps nothing is needed, if the labels will re-position around a units symbol placed there...

[2015-09-22 14:05] csmoore commented on #79
@BobBooth - [it is a problem](https://github.com/Esri/military-features-data/issues/79#issuecomment-142117559) without a straightforward solution or clear-to-implement specification - so we'll probably need to play with the placement rules a bit, ex. anchor one right, the other left.

[2015-09-22 15:13] BobBooth commented on #79
Airspace Coordination Areas have hard-coded "GRIDS" string in the label instead of X and Y location (grid coordinates) attributes.
![image](https://cloud.githubusercontent.com/assets/3801392/10022438/da5f7e9e-611a-11e5-9a9b-4187db399d08.png)

[2015-09-22 15:37] BobBooth commented on #79
Minimum Safe Distance Zone lacks label for distance.
![image](https://cloud.githubusercontent.com/assets/3801392/10023112/515e2466-611e-11e5-8550-90f20ef727c7.png)

[2015-09-22 15:45] BobBooth commented on #79
Chemical Event. Quantity label should be above, is appearing on center. Partial X Y location.
![image](https://cloud.githubusercontent.com/assets/3801392/10023298/60d16ad8-611f-11e5-86f9-790ad0511783.png)

[2015-09-22 15:47] BobBooth commented on #79
Biological Event has placement issues like Chemical Event.
![image](https://cloud.githubusercontent.com/assets/3801392/10023368/c1bbf87c-611f-11e5-97b3-5247b26af7db.png)

[2015-09-22 16:57] BobBooth opened #142 "Missing/Bad labels from military features label spot check."
Missing labels from military features label spot check.
https://github.com/Esri/military-features-data/issues/79

|done|count|styleItemName|styleItemCategory|styleItemUniqueId|issue|Testing Comments |
|---|---|---|---|---|---|---|
|<ul><li>- [x] </li></ul>|1|Fires Areas : Airspace Coordination |Control Measure : Area|25-240100|missing|Airspace Coordination - Altitude/Depth and Altitude/Depth 2 val

[2015-09-22 17:08] BobBooth opened #143 "Label placement issues from military features label spot check."
Label placement issues from military features label spot check.
https://github.com/Esri/military-features-data/issues/79

|done|count|styleItemName|styleItemCategory|styleItemUniqueId|issue|TestingComments_____TestingComments |
|---|---|---|---|---|---|---|
|<ul><li>- [x] </li></ul>|1|Air Corridors : Air Control Point |Control Measure : Point|25-180100|label placement| Unique designation label app

[2015-09-22 17:16] BobBooth commented on #143
Engagement Area polygon is labeling with correct attribute but the position is wrong - Unique Designation should be to the right of the EA label, but it is showing up below.
![image](https://cloud.githubusercontent.com/assets/3801392/9969924/aa17e738-5e1f-11e5-86ac-a7ba74045cb4.png)
Fires Area Series of Targets get correct "nickname" label but it is out of place, in the middle, not on the top edge

[2015-09-22 17:16] BobBooth commented on #142
Missing Target Designator field labels:
![image](https://cloud.githubusercontent.com/assets/3801392/9969868/4755109e-5e1f-11e5-8344-ba7d6510c218.png)
![image](https://cloud.githubusercontent.com/assets/3801392/9996192/eb93b238-6053-11e5-9a10-20e9e58409c7.png)
Hard Coded AP string for Target Designator:
There is not yet a way to do this through Pro - but looking at the back end data, your assertion

[2015-09-22 17:17] #79 closed

[2015-09-22 17:50] csmoore commented on #79
Many thanks for giving this such a thorough review and creating the new issues.

Just an additional note in case anyone is wondering about the potential disconnect between all of the label fixes (mentioned in #101) and these test results. When @Dbarnes1 did this first pass/set of label fixes I told him to focus on the missing labels and to just do his best where the specification wasn't clear (ex.

[2015-09-23 16:03] csmoore commented on #123
Resolved in #144

[2015-09-23 16:03] #123 closed

[2015-09-24 13:25] BobBooth commented on #120
Colon-delimited coded values are showing up correctly in my test Engagement Area dataset.
![image](https://cloud.githubusercontent.com/assets/3801392/10074475/320d38c8-629e-11e5-9430-078eb5581739.png)

[2015-09-24 15:25] csmoore commented on #54
Autoclosing - unverified

[2015-09-24 15:25] #54 closed

[2015-09-25 12:14] conklinbd commented on #120
Thanks Bob. I think this issue is resolve.

[2015-09-25 12:14] #120 closed

[2015-09-28 21:12] jrweakland opened #145 "Need Milestone Dates Identified"
https://github.com/Esri/military-features-data/milestones - Missing the next two version milestone dates.

[2015-09-28 22:09] jrweakland commented on #117
@csmoore and @BobBooth - I would check this issue with the current daily build for 1.2 before you write a bug/CR for this issue. The dev team has been busy with fixes for metadata.

[2015-09-28 22:11] jrweakland commented on #67
@csmoore - i do not have access to reopen issues. please forward request to jaime.

[2015-09-28 22:27] jeconley commented on #67
I have reopened CR300610 and sent a note to Phil on the editing team.

[2015-10-01 16:41] csmoore commented on #145
I added "Version-After Next" tentative date (even though I am not real sure about the driver dates) - but not one for "deferred"

back to @jrweakland to verify

[2015-10-01 16:57] csmoore commented on #69
@BobBooth - just wanted to double check that this is still the link to the latest-and-greatest Engagement Area test project (from May) before I retested this (unless you also don't mind retesting on Pro 1.2).

If it is still an issue, I'll request a CR.

[2015-10-01 16:58] csmoore commented on #119
verified (just forgot to close, oops)

[2015-10-01 16:58] #119 closed

[2015-10-01 16:59] csmoore commented on #140
Changing the milestone since the dev work hasn't started on this yet

[2015-10-01 17:04] BobBooth commented on #69
@csmoore - The one I built is on NSEC:
https://nsec.esri.com/arcgis/home/item.html?id=c696831a9ffa44b58e4cf8ff0dc64ba7
I think that someone else built another one for UC/demos, not sure if @jrweakland wants us to keep testing with this one.
I'm currently running Pro 1.1, trying to wrap up Range Dome packaging issues.

[2015-10-01 17:04] csmoore commented on #90
Assigning to @abouffard since new automated version of GDB should have this removed

[2015-10-01 17:09] csmoore commented on #69
@BobBooth - thanks for the update - I'll retest when I install daily
@jrweakland - just let me know if the one Bob mentions is not the current version (sorry I'm actually not sure if/where we version control the templates prior to release)

[2015-10-01 17:12] csmoore commented on #116
Looks like another step/tool that will need added to GDB auto creation process so assigning to @abouffard

Here is the tool: http://resources.arcgis.com/EN/HELP/MAIN/10.1/index.html#//00170000016p000000

[2015-10-01 17:14] csmoore commented on #93
Reassigning to @Dbarnes1 to work on - time permitting. @lfunkhouser can provide an overview/assistance if needed.

[2015-10-01 17:17] csmoore commented on #138
Linking to another example: https://github.com/Esri/military-features-data/pull/130#issuecomment-135528036

[2015-10-01 17:21] csmoore commented on #66
Assigning to @Dbarnes1 - we will only address in this milestone if there is some straightforward way to change the label rules to handle this case, not if it requires renderer-level changes

[2015-10-01 20:19] csmoore commented on #117
I'll retest on daily this sprint (+ adding to sprint)

[2015-10-01 20:21] csmoore commented on #62
Verified fixed in latest/v.next

[2015-10-01 20:21] #62 closed

[2015-10-02 11:59] csmoore opened #146 "Erroneous METOC Symbols"
While @Dbarnes1 was testing (creating a [test dataset for METOC points, lines, and areas](https://github.com/Esri/military-features-data/blob/master/data/mil2525d/test_data/projects/METOCall.ppkx) ), he found this set of symbols that should be fixed/improved :

| **Fixed** | **SIDC** | **Name** | **Feature Type** |
| --- | --- | --- | --- |
| <ul><li>\- [X] </li></ul> | 45110202 | Pressure Systems

[2015-10-02 12:01] csmoore commented on #94
Verified - METOC ones noted in the comments moved to #146

[2015-10-02 12:01] #94 closed

[2015-10-02 13:46] csmoore opened #147 "Remove Coded_Domain_Land_Unit_Entities "REQUIRED WORKAROUND" step"
Remove **REQUIRED WORKAROUND** steps now that this issue got fixed: https://github.com/Esri/joint-military-symbology-xml/issues/201

Section to remove/fix is below here:
https://github.com/Esri/military-features-data/tree/v.next/data/mil2525d/utilities/military-features-utilities#steps

Assigning to @abouffard since he going to validate & then update this readme to add additional automation steps

[2015-10-06 14:54] jrweakland commented on #145
Verified and closing.

[2015-10-06 14:54] #145 closed

[2015-10-06 17:51] jeconley commented on #134
A fix for CR318679 has been installed and verified.  We have added the ability to clear all the symbology or text fields as well as an option to reset the fields to the defaults.  This is available from the More button that has been added to the renderer.  This is available as of build 4532.  Please let us know if you run into any problems.
![capture](https://cloud.githubusercontent.com/assets/808

[2015-10-06 18:15] csmoore commented on #134
Excellent - thanks for the update - I'll verify this week with the others I need to re-verify on Pro daily - thanks.

[2015-10-06 18:19] jeconley commented on #133
CR318680 has been installed and verified.  Changes are available as of build 4532.

[2015-10-06 18:23] jeconley commented on #132
I was unable to repro this when verifying CR318680 (Update Pro Dictionary Renderer to use latest Plugin API from Quartz).

[2015-10-06 18:37] csmoore commented on #132
Great news - this was our most serious issue - I will also verify.

[2015-10-06 22:29] csmoore commented on #132
Verified on Pro 1.2.4534 - many thanks for fixing

[2015-10-06 22:31] csmoore commented on #134
Verified on 1.2.4534 - looks/works great - many thanks

[2015-10-06 22:31] #134 closed

[2015-10-08 14:19] csmoore commented on #117
Still an issue as of  on 1.2.4534 - @jrweakland - can you get a CR/holistic issue entered for this:

Repro steps:

1. Obtain the MilitaryOverlay GDB from here:
https://github.com/Esri/military-features-data/blob/master/data/mil2525d/core_data/gdbs/MilitaryOverlay.gdb.zip

2. View FeatureClass has metadata in Pro:
![image](https://cloud.githubusercontent.com/assets/3090809/10368893/731774b6-6da5-11

[2015-10-08 14:22] csmoore commented on #147
@abouffard - any update?

[2015-10-08 14:37] csmoore commented on #136
Just an update, we plan to provide a tested intermediate version of the mil2525.stylx (targeting Pro 1.2) to @jeconley on 10/15. This may not be the final version for 1.2 but it should be pretty close and be good to integrate into your unit/image tests.

[2015-10-08 14:38] csmoore commented on #133
Verified - note - we'll need to update this one more time since the plugin API just changed to add a plugin_verify method (to support versioning) - but I'll work with @jeconley and @mbriat to coordinate this when we provide the .stylx next week ( #136 )

[2015-10-08 14:38] #133 closed

[2015-10-08 14:39] jeconley commented on #136
Perfect, thanks.

From: Chris Moore [mailto:notifications@github.com]
Sent: Thursday, October 08, 2015 7:38 AM
To: Esri/military-features-data
Cc: Jamie Conley
Subject: Re: [military-features-data] Provide Jamie Intermediate mil2525d.stylx when available & final before Pro 1.2 Freeze (#136)

Just an update, we plan to provide a tested intermediate version of the mil2525.stylx (targeting Pro 1.2) t

[2015-10-08 14:42] csmoore commented on #21
Addressed in mil2525d stylx/plugin - I never heard back on whether the 2525D-only support is an issue so I'm going to auto-close this (since it has been open so long)

[2015-10-08 14:42] #21 closed

[2015-10-08 14:47] lfunkhouser commented on #93
@csmoore I can work with @Dbarnes1 to help with this.  Basic steps were:
1. PICT 3.3 was used to get the pairwise sampling.
2. The Create Fishnet tool in ArcGIS was used to create the points.
3. Add Join tool in ArcGIS was used to join the PICT output to the points.
4. Append tool in ArcGIS was used to append the data to the Military Features schema

This was the workflow for points.  The Fishnet

[2015-10-08 15:05] csmoore commented on #93
Thanks for the update, this only became an issue because we use this dataset so much for testing (it is a really great stress test) - but there are a few bad entity codes (perhaps because the JMSML data was incorrect or in flux when the source data was created).  But it looks like all @Dbarnes1 might need to do to fix this is update the entity line of the source data (ex: https://github.com/Esri/m

[2015-10-08 17:32] csmoore commented on #69
Retested on Pro 1.2.4534 and this is still an issue. @jeconley can we get you to create a Carto CR for this (just to get it entered/tracked, I don't think it is a priority at this point)?

Priority (1.2) = No ( unless someone like @jrweakland disagrees)
Repro steps:
1. Load the Pro project (with 3 layers that use the dictionaryrenderer)
https://esri.box.com/s/6e7nuxzpp2am2pm444ygcy2284fguzgl
2. Zo

[2015-10-08 17:59] csmoore commented on #101
Marking this a verified for now.  Additional errors introduced found during regression testing noted in #142

[2015-10-08 17:59] #101 closed

[2015-10-08 19:24] jeconley commented on #69
CR 320900 has been logged as priority No for 1.2

[2015-10-08 19:52] csmoore commented on #118
The source feature classes (in [MilitaryOverlay.gdb](https://github.com/Esri/military-features-data/blob/master/data/mil2525d/core_data/gdbs/MilitaryOverlay.gdb.zip) at least) are in WGS84/WKID 4326.

Can I have a link to these layer packages to confirm they are built from this source feature class? ( + reminder I believe we wanted to get these layer packages added to this repo at some point) - as

[2015-10-08 20:18] csmoore commented on #114
Assigning to @abouffard to add this missing field as part of the GDB automation task.

Optionally, you can also add this as part of #141 if you like.

[2015-10-08 20:21] csmoore commented on #112
This should be fixed - assigning to @abouffard to verify on Pro 1.2 daily (I gave quick test on 1.2.4534)

[2015-10-08 20:30] csmoore commented on #68
Closing as a repeat/duplicate of #142 (that now target label shows up but is erroneous hardcoded "AP")

[2015-10-08 20:30] #68 closed

[2015-10-08 20:37] csmoore commented on #37
METOC errors removed from this issue since a repeat of #146 & changing the tile just to "Fix Anti-tank Ditch" since that is the only issue remaining. Also assigning to @Dbarnes1

[2015-10-08 20:40] csmoore commented on #31
2525C Issue - changing milestone to deferred

[2015-10-08 20:41] csmoore commented on #24
2525C Issue - changing milestone to deferred

[2015-10-08 20:42] csmoore commented on #16
Repeat/duplicate of #37

[2015-10-08 20:42] #16 closed

[2015-10-08 20:44] csmoore commented on #15
2525C issue changing milestone to deferred

[2015-10-08 20:49] csmoore commented on #11
2525C issue - changing milestone to deferred (Note: in 2525D the symbol was clarified to show that it does not include those Coordination Point Circle-X's - so this symbol was actually incorrect anyway)

[2015-10-08 20:54] csmoore commented on #43
This is not a priority, since no defect has ever been recorded concerning these fonts so moving to deferred milestone

[2015-10-09 14:20] ChristinaElaine commented on #21
I just came across this... What customers do you have that support 2525D? Our Army customer is still using 2525B and is only just now *considering* moving to 2525C. Just because the standard is available doesn't mean that anyone is actually using it yet. At this point we've already decided not to use Esri's MessageLayers because they are so lacking for our purposes, but I really would like to know

[2015-10-09 14:30] csmoore commented on #21
That is a legitimate issue, we are working with the SSMC (the committee that maintains 2525) to increase the forward-backward compatibility of the standard so that 2525B/C SIDCs will be represented as closely as possible with the D data in this repo ( @abouffard @joebayles ).

[2015-10-09 22:12] csmoore commented on #142
I'm going to push a fix for those accidentally hard-coded "AP" target labels but IMPORTANT: **you will need to remove and re-add the layer before the `Target Designator` field is available on the symbology tab**:

![image](https://cloud.githubusercontent.com/assets/3090809/10406768/e10abbf2-6eb0-11e5-92a8-689308c763b1.png)

[2015-10-10 00:39] ottenw commented on #142
There was a CP approved that changed/corrected Target Designator to Target Number; also a CP approved that added new amplifier for Target Number Extension - applicable onto to single/point target.

V/R

Bill Otten

Senior Professional Systems Engineer
Interoperability & Geospatial
SETA contractor support (CSC) to
PM Mission Command TMD / PD FSC2
Army rep to MCG&I ESG (CJMTK)
Office: 256-842-1948
B

[2015-10-12 15:45] csmoore commented on #142
@ottenw - thanks for letting us know about this change in terminology - @abouffard - please create any issues needed for any impacts to our datamodel: https://github.com/Esri/military-features-data/blob/master/data/mil2525d/core_data/gdbs/README.md

[2015-10-12 19:56] jrweakland commented on #117
@csmoore - I have verified that this has not been fixed as of ArcGIS Pro 1.2.4552 (10/12/2015). @jeconley - Please submit a CR for this issue.
Thanks! - Jim

[2015-10-12 20:51] jeconley commented on #117
CR 321092 has been added.  I spoke with the Map Authoring team and they felt this was something they would be able to fix for 1.2.

[2015-10-12 21:21] jrweakland commented on #117
Excellent! Thank you for your help @jeconley!!!

[2015-10-13 21:26] Dbarnes1 commented on #132
I just looked at the METOC Points layer, and while the problem is no longer nearly as apparent as it was before, there are still several points that disappear and reappear as you zoom in and out. For example:
One zoom level
![image](https://cloud.githubusercontent.com/assets/13024357/10468829/36eda356-71b6-11e5-8524-70a8ebd2735e.png)
Next zoom level
![image](https://cloud.githubusercontent.com/ass

[2015-10-13 21:34] BobBooth opened #150 "Delete Required Workaround text, this is now fixed"
@abouffard - could you submit your pull request to remove lines 43-46 of the MD file for military-features-data / data / mil2525d / utilities / military-features-utilities (https://github.com/Esri/military-features-data/tree/master/data/mil2525d/utilities/military-features-utilities)
"...
* **REQUIRED WORKAROUND**
    * There is currently an issue with one of the [source csv files - Coded_Domain_L

[2015-10-13 21:38] BobBooth commented on #150
This is a duplicate of https://github.com/Esri/military-features-data/issues/147
My bad.
Closing.

[2015-10-13 21:38] #150 closed

[2015-10-13 21:40] abouffard commented on #150
What exactly is a "technical debt"?

--Andy

-:-Sent from my iPhone-:-

On Oct 13, 2015, at 22:34, Bob Booth <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #150<https://github.com/Esri/military-features-data/issues/150> to @abouffard<https://github.com/abouffard>.

—
Reply to this email directly or view it on GitHub<https://github.com/Esri/military-features-data/issue

[2015-10-13 21:49] csmoore commented on #150
Probably does not apply for something as simple as a readme change (so may have been applied in error).

But generally something that should have been done, but gets harder the longer you put it off (the interest on the debt) - we only have one open issue tagged with this - https://github.com/Esri/military-features-data/issues?q=is%3Aopen+is%3Aissue+label%3A%22technical+debt%22 - but it is a prett

[2015-10-14 00:23] csmoore commented on #136
@jeconley the current (v.next branch) mil2525d.stylx is ready to use for display testing / capturing results : https://github.com/Esri/military-features-data/blob/v.next/data/mil2525d/core_data/stylxfiles/mil2525d.stylx
(reminder: click "view raw" to download - this is a little counter intuitive)

This version should be fairly tested/stable, the only expected changes are related to the stylx-relat

[2015-10-14 01:57] jrweakland commented on #136
:+1:

[2015-10-14 14:20] jeconley commented on #136
Great, I will run the display tests today and let you know when it is installed in the daily build.

[2015-10-14 15:50] jeconley commented on #132
I have reopened CR318572.

[2015-10-14 21:30] Dbarnes1 opened #152 "Pro 1.2 error when packaging Military Overlay group layer"
When trying to package Military Overlay group layers in Pro 1.2, I ran into this error:
![image](https://cloud.githubusercontent.com/assets/13024357/10497989/f5bd8004-727d-11e5-920d-fa28312e5512.png)

Pro Version: 1.2.0.4552
Priority (1.2): No
Repro Steps:
1. Open the pro project found here: https://github.com/Esri/military-features-data/blob/master/data/mil2525d/sample_data/projects/MilitaryFeatu

[2015-10-14 22:13] Dbarnes1 opened #153 "Pro 1.2 Unable to create METOC editing templates"
The METOC editing templates seem to be missing.

Pro Version: 1.2.0.4552
Priority (1.2): No
Repro Steps:

1.  Open the pro project found here: https://github.com/Esri/military-features-data/blob/master/data/mil2525d/sample_data/projects/MilitaryFeatures.ppkx

2. Under the "Edit" tab, select the "Create Feature" icon. You'll see that there are missing feature templates:
![image](https://cloud.githu

[2015-10-15 21:12] jeconley opened #154 "Dash and font differences in mil2525d stylx"
With the display tests there are noticeable differences with the dashes and the fonts for many of the points symbols.  These should be investigated.

The SVG looks the same as the before image however, the point symbol in the .style file looks like the after image.
Before:
![capture1](https://cloud.githubusercontent.com/assets/8083702/10527628/729c3214-7346-11e5-9721-8b7b1fe6cb24.PNG)
After:
![cap

[2015-10-16 16:00] jeconley commented on #152
I have entered CR321357 for the Sharing team.  The problem appears to be with the 'Control Measures' group.  They found that if you renamed the group to something else then it works fine.  Also you can use the GP Package Layer tool without having to rename that group or remove all the groups.  The GP tool does not show the error.

[2015-10-16 22:25] jeconley commented on #153
@Dbarnes1 Can you please review the domains and subtypes for the METOC layers, specifically for the METOC Space ones?  These seem to be missing values.  Phil on the editing team has taken a look and is not sure what the issue is but saw that the domains and subtypes look suspect.  The hope is that adding these values will fix the issue.

For the Control Measure layers, these were just set to not b

[2015-10-16 23:00] jrweakland commented on #118
@csmoore - this is an old issue from post-uc. please verify this issue with https://github.com/Esri/military-features-data/blob/master/data/mil2525d/sample_data/layerpackages/MIL-STD-2525D.lpkx

[2015-10-17 03:49] csmoore commented on #118
I used a WGC84 GCS basemap (I actually had a hard time finding one of these) and the lpkx has that spatial reference(SR), so the unpacked lpkx's must follow the SR of the base map:

![image](https://cloud.githubusercontent.com/assets/3090809/10556796/8c21aa12-745d-11e5-9252-700026ce4dfc.png)

[2015-10-17 03:49] #118 closed

[2015-10-17 04:03] csmoore commented on #152
@jeconley - thanks for having a look, the problem/workaround I found was slightly different. It was that the group layers,**under** the top level group layer did not have descriptions, after I added layer descriptions to all of the sub-layers the packaging worked. So perhaps the fix/CR is to have "Analyze" check all of the sublayers (not just top-level layers) for descriptions (since this causes i

[2015-10-19 20:17] Dbarnes1 commented on #154
More testing needs to be done, but for now it looks like changing the inkscape to version 048.5.10040 fixed these issues.
![image](https://cloud.githubusercontent.com/assets/13024357/10590108/bf5697be-7663-11e5-8ac0-5fd02924dcaa.png)

I'll update when I have a new tested style available, thanks for the advice @jeconley

[2015-10-20 16:38] jeconley commented on #153
The issue of the attributes missing from the attribute pane and template pane has been fixed and should be available in the daily build.  This doesn't fix the issue of the templates not being created but will allow you to create them manually.  The hope is that populating the domain will fix the issue of the templates not being created automatically.

From Phil Sanchez:
"John installed a fix yeste

[2015-10-20 16:39] jeconley commented on #152
A fix for CR321357 has been installed by the Sharing team and should be available in the daily build.

[2015-10-20 18:18] Dbarnes1 commented on #154
Several of these issues have now been addressed, thanks to @jeconley reviews and an updated .stylx creation process with inkscape 048.510040.

1. Font changes are fixed with new .stylx file, note the numbers below in a test dataset for subsurface icons:
![image](https://cloud.githubusercontent.com/assets/13024357/10613700/1e8cafd2-770b-11e5-8a82-ab95de96f40a.png)

2. Dash amplifier above symbol fr

[2015-10-20 21:09] jeconley commented on #154
Great news.  I will rerun the tests with the updated stylx when you are ready.

[2015-10-20 22:47] Dbarnes1 commented on #154
Updated changes are working in Runtime as well. Will be ready once I check with Chris tomorrow

[2015-10-21 12:10] csmoore commented on #112
@abouffard - can you verify this today please (and check your github notifications).

[2015-10-21 12:32] csmoore commented on #154
I also checked the "dashed" frames with Dan's latest (this was the original problem I noticed when this saga began last May) and they look good. Again thanks/kudos to @jeconley for letting us know it was likely the Inkscape version that was causing us problems all along, we likely would have never figure this out without her help (due to all the other changes in the source SVGs). We should have th

[2015-10-21 20:19] Dbarnes1 commented on #154
Updated .stylx posted [here] (https://github.com/Dbarnes1/military-features-data/blob/v.next/data/mil2525d/core_data/stylxfiles/mil2525d.stylx)

[2015-10-21 22:29] abouffard commented on #112
My notifications are working just fine.  I have not had an opportunity to verify this yet (I have been rather busy working on other things).

[2015-10-22 11:48] csmoore commented on #112
Reminder to everyone - the "autoclose after a week" policy is primarily intended for those folks (sales, other teams, etc.) who aren't assigned to this team for a significant portion of their time. Otherwise if you open an issue you are expected to verify it (and verify it promptly, i.e. <= a few days) when asked - especially something like this that is little more effort than opening a Pro packag

[2015-10-22 12:33] csmoore commented on #54
Just an update to officially close this out as verified - @Dbarnes1 did verify this, found an issue, and made a fix with #156

[2015-10-22 12:46] csmoore commented on #121
This is complete and merged with #151 ( @Dbarnes1 also verified here: https://github.com/Esri/military-features-data/pull/151#issuecomment-149274836 )

[2015-10-22 12:46] #121 closed

[2015-10-22 14:52] csmoore opened #158 "Bad link to official/public Military Standard docs in Readme"
I just noticed that this link on our readme to the MIL-STD-2525 docs is no longer valid:

http://www.assistdocs.com/search/document_details.cfm?ident_number=114934  (this doc website was apparently retired)

Linked to from here in our readme: https://github.com/Esri/military-features-data#resources

@abouffard - please provide the updated public link to these docs-if available- & then I will updat

[2015-10-22 15:06] conklinbd commented on #158
@jrweakland might also know the official source for these documents.
If there isn't a realiable location we should see if we can just rehost these on our own location.

[2015-10-22 15:15] ottenw commented on #158
Google search - followed results:

The Assistdocs.com web site has been discontinued.
Please use the public ASSIST Quick Search web site at http://quicksearch.dla.mil

Then click on Text Search tab, then under Find Documents ..., type MIL-STD-2525C into the With all These Words box.

This worked for me (just now).

[2015-10-22 15:36] conklinbd commented on #96
@csmoore I wanted to point out that I tried this again today with build 4582 and this problem still exists and it makes the layers break when using SDE. This is something we need to fix either on our end or on the Pro side.

[2015-10-22 16:02] csmoore commented on #96
OK, let me try to get a Pro 1.2 Plugin Build environment set up and see if I can change this on the plugin side and/or if there are any other issues building for Pro 1.2.

[2015-10-22 16:10] abouffard commented on #158
Thank you BIll.

[2015-10-22 16:24] abouffard commented on #112
Note to everyone - don't know about anyone else, but assigning an issue to someone in the middle of a sprint does not guarantee that person will stop the many other things they are doing and address that issue.  Not when other tasks being worked need to get done first.  Jumping around from task to task may be "agile" but it also leads to "chaos".  In fact, having to stop and reply to things like t

[2015-10-22 16:27] csmoore commented on #158
Am I getting different results? Also this is only 2525C - I wanted the link to 2525BC2, 2525C, 2525D

![image](https://cloud.githubusercontent.com/assets/3090809/10671348/245f8e44-78b8-11e5-878a-691674e8d61a.png)

[2015-10-22 16:31] csmoore commented on #158
Nevermind - found 2nd tab & updated link - thanks again for the help:

This is the link I was looking for with all the versions:

http://quicksearch.dla.mil/qsDocDetails.aspx?ident_number=114934

![image](https://cloud.githubusercontent.com/assets/3090809/10671432/82b7873a-78b8-11e5-8770-12c8ab2a5517.png)

[2015-10-22 19:51] #158 closed

[2015-10-22 20:48] csmoore commented on #154
@jeconley - this is merged and ready to test from here: https://github.com/Esri/military-features-data/blob/v.next/data/mil2525d/core_data/stylxfiles/mil2525d.stylx
 whenever you get a chance to run your display tests again. Also @Dbarnes1 can come have a look if you run into any more display issues - many thanks again for catching these issues early so we had a chance to fix.

Like Starteam, we u

[2015-10-22 21:27] abouffard commented on #112
Tested this afternoon with today's daily Pro 1.2 build 4582 on Windows 8..

Found many of the area control measures now have text correctly drawing in the center of the rectangle, using the latest version of https://github.com/Esri/military-features-data/blob/master/data/mil2525d/sample_data/gdbs/PairwiseTestData.gdb.zip, but the text for all Sensor Zones appears to be missing, particularly the co

[2015-10-22 22:30] jeconley commented on #154
The display test results look good.  Other than one other 'A' showing for the control measure lines the only differences I see are the ones we discussed as valid.

I did see that there is still an 'A' for one of the line test cases.  Is this expected?
![image4](https://cloud.githubusercontent.com/assets/8083702/10678830/99353050-78c9-11e5-9f5d-045527364710.PNG)

We will probably look at installing

[2015-10-23 12:19] csmoore commented on #112
@abouffard - thanks for giving this a really good check

If the original global issue-that the Maplex Placement Rules for polygons was not being honored-is resolved than we can still close this as verified and write up the other issues you found (good catches) - try to group with an existing catch-all label issue if possible (ex. #142 or #143).

Alternately if you feel these are serious enough to

[2015-10-23 15:46] csmoore commented on #142
Added to list above - Spurious "A" on Convoy noted here: https://github.com/Esri/military-features-data/issues/154#issuecomment-150374031

![image4](https://cloud.githubusercontent.com/assets/8083702/10678830/99353050-78c9-11e5-9f5d-045527364710.PNG)

[2015-10-23 15:47] csmoore commented on #154
That leftover/stray "A" was an oops - if OK we will put that on the [list of fixes](https://github.com/Esri/military-features-data/issues/142#issuecomment-150612909) for final mid-Nov version and close this issue?

[2015-10-23 15:53] jeconley commented on #154
That is fine with me.

[2015-10-23 15:53] #154 closed

[2015-10-23 17:44] jeconley commented on #136
Updated sytylx has been installed and will be available in build 4586.

[2015-10-23 17:52] csmoore commented on #136
Thanks again for your extra time helping debug and stabilize.

[2015-10-26 14:36] csmoore opened #163 "UpdateDomains.tbx\Import or Replace All Domains (Military Features) fails on Text Domains"
@abouffard has been having an issue using the "Import or Replace All Domains (Military Features)" in [this toolbox](https://github.com/Esri/military-features-data/tree/master/data/mil2525d/utilities/military-features-utilities/update-domain-toolbox) failing when he tries to import one of the [new domains that use text values](https://github.com/Esri/joint-military-symbology-xml/blob/master/samples

[2015-10-26 14:55] csmoore commented on #112
@abouffard - please decide on how to proceed with this issue (close & open new issues with new findings or re-assign to @Dbarnes1 to fix )

[2015-10-26 17:19] abouffard commented on #112
Closing on the grounds that the label placement appears to be correct now, on the current version of the pairwise database I tested.  I'm going to open a new issue with the rest of my findings above, so we can take the necessary steps to improve/fix the pairwise database.

[2015-10-26 17:19] #112 closed

[2015-10-26 19:52] csmoore commented on #147
Fixed in https://github.com/Esri/military-features-data/pull/164

[2015-10-26 19:52] #147 closed

[2015-10-26 20:10] csmoore commented on #96
We plan to have a new version of the MilitaryOverlay.gdb that updates this field this sprint. The most generic alternate field name I could think for this of is **symbolentity** in place of **entity** so I plan to use that (in case anyone feel strongly against this alternate name).

After this GDB change, until the rule engine/plugin gets updated you will need to manually set this field map the fi

[2015-10-27 23:30] Dbarnes1 commented on #138
@csmoore Just for clarification, this is only a remaining issue in Runtime. I'll check to see if they're still not working before I attempt a fix.

[2015-10-28 14:50] csmoore commented on #163
@abouffard - just checking back to see if you were able to make forward progress with this approach (and get through your current impediment).

[2015-10-28 15:31] Dbarnes1 commented on #66
@csmoore Adding the echelon indicator would require more than just changing the label rules, because these echelon indicators are not text labels, but rather shapes themselves. In addition, properly adding the echelon indicator would require creating a gap in the boundary line of the area where the indicator could properly be displayed.
Reference:
![image](https://cloud.githubusercontent.com/asset

[2015-10-28 15:44] abouffard commented on #163
Indeed. Automated domain updating is working great (just need to update the README and then create a PR).

This above model was helpful in educating me on what arcpy tools should be used, but as of Pro 1.1 users can no longer export a model as a Python script, as explained [here](https://geonet.esri.com/thread/163291).  Therefore, it became necessary to re-write this and, in so doing, streamline a

[2015-10-28 16:12] joebayles commented on #66
:+1:
However, I'm pretty sure phase lines don't use echelon, @csmoore.

[2015-10-28 16:32] csmoore commented on #163
If you have a new / updated / refactored version/tool that works better&with text domains, we'll definitely want to replace the existing version.

Note: I have some edits to the source csv's for the domains (ex. adding CountryCodes, etc.) - so just let me know if the naming format is changing (but it sounds like you took a different approach than described in the issue anyway & didn't need to rena

[2015-10-28 17:03] ottenw commented on #66
Our implementation guidance for amplifiers is that when an amplifier appears in a control measure template, then it is considered mandatory for implementation and test.  Within Control Measures Appendix for the "B" amplifier, there are only three instances - Boundary Line (very important), Battle Position, and Strong Point (area).  The second part of our guidance is that an operator should be able

[2015-10-28 17:12] Dbarnes1 commented on #143
I was able to do a quick fix for about half of these label placement issues (I checked them off in Bob's table above)

- Air Control Point (180100)
- Communications Check Point (180200)
![image](https://cloud.githubusercontent.com/assets/13024357/10795998/72d5cb24-7d59-11e5-92ad-8af8e99fca2d.png)

Unique Designation (T) is now displaying properly, below the center of the circle.

- Support Sustain

[2015-10-28 17:26] csmoore commented on #66
@ottenw - thanks for the clarification - I definitely did not get that interpretation (that every line/area can/should have an echelon indicator) from the standard before now.

@Dbarnes1 - applying Markers to this lines would definitely be (and in Runtime is) a hard case, I was hoping for a simpler label rule (that might even require a python snippet to do the mapping) that might map echelon value

[2015-10-28 17:33] abouffard commented on #163
No need to rename any files.  The logic in my approach still works the same as the model.  It looks for and adds all the `Coded_Domain_*.csv`  files it finds in the domain folder.  It just uses python's grob and os functions to do what the Esri file iterators were doing in the model.

However, I'm not a fan of this approach.  I would prefer that JMSML identified the domains to be used when it expo

[2015-10-28 17:53] csmoore commented on #163
* Also feel free to combine all of these tools in a single toolbox/folder if that makes your life easier (i.e. so you don't need to load a different toolbox just to load the domain tool).

* Assuming you kept the same domain tool name/behavior hopefully the doc/readme impact is minimal/non-existent

* I really hope there is a python method called "grob" :smiley:

[2015-10-28 20:04] abouffard commented on #163
I was already doing that (putting all the template gdb automation tools under one tbx).

I'm leaving the tbx that was already there and just renaming it "ExportDomains" - it'll just have the optional "Export GDB Domains To Folder" tool within it.  If later we decide to move it too under the automation tbx we can, but that is lower priority right now.

I meant [glob](https://docs.python.org/2/libra

[2015-10-28 22:29] Dbarnes1 commented on #143
After talking to @csmoore I was able to fix the issue mentioned above, concerning top-center orientation of text labels.

- For all Control Measure Points, I fixed the orientation of H and T1
This includes the ones Bob pointed out above, including (131100) and (131200):
![image](https://cloud.githubusercontent.com/assets/13024357/10804145/367d5212-7d83-11e5-8174-fcadeb3de8e4.png)
More examples:
![

[2015-10-28 23:05] joebayles commented on #66
@ottenw, implementation guidance from who? Also, to confirm... what you're saying is the indicator should be possible for all Lines, Areas, and Boundary Lines, but not expected to be used with anything past the three specific instances?

@csmoore, maybe not squads, but definitely platoons. Totally acceptable for now as a known issue, but something that needs to be fixed.

[2015-10-29 11:43] csmoore commented on #142
Assigning to @Dbarnes1 (since I didn't realize this was assigned to me) - just in case he can get to any of these before the 11/15 (1.2) freeze. For any of these (like the Airspace Coordination Area "GRID" one) where the specification may need clarifying, just 1) attempt some workaround (ex. using "additionalinformation" or "optionallabel" attribute) 2) create a new issue for these to be clarified

[2015-10-29 11:53] csmoore commented on #163
Self-assigning to verify with #165

[2015-10-29 16:36] ottenw commented on #66
@joebayles , Army implementation guidance for over a decade.  The tables in 2525 like table H-II show all amplifiers that are authorized / legal possible for the 6 types of control measures.  We view the presence of specific amplifiers in a control measure template as designating the use of that amplifier with that symbol as mandatory. For example, an Air Corridor shall have a name (unique designa

[2015-10-29 17:08] Dbarnes1 commented on #142
__Update__

- Airspace Coordination Area (240100) Min/Max Altitude fields are now populating, and additional information has been added to the "Grids" line:
![image](https://cloud.githubusercontent.com/assets/13024357/10825642/30e548fa-7e23-11e5-9eb8-01e2fff801f9.png)

- All Air Corridors (170900-171900) Min/Mas Altitude Fields are also now populating:
![image](https://cloud.githubusercontent.com/

[2015-10-29 17:13] Dbarnes1 opened #166 "How to properly Display Minimum Safe Distance Zone in Pro 1.2"
Minimum Safe Distance Zone (SIDC 272100) is a complex symbol and will probably require a unique solution compared to the other area symbols for 2525D. Here is how it looks in the standard:
![image](https://cloud.githubusercontent.com/assets/13024357/10825943/886294b0-7e24-11e5-80af-17c8c127ecfa.png)
Here is how it currently renders in Pro:
![image](https://cloud.githubusercontent.com/assets/130243

[2015-10-30 11:56] csmoore opened #168 "Leftover issues from Create Military Feature Geodatabase/Template Toolbox PR review"
A few leftover items from the #165 PR review to be completed after the merge:

Major/Significant Issues:
- [x] Subtype tool/step is not setting domains correctly - see for more info: https://github.com/Esri/military-features-data/pull/169#issuecomment-159670627 (Update: I believe this is not fixed, but haven't personally tested)
- [x] Add Readme steps for (probably manual) remaining missing steps

[2015-10-30 12:09] csmoore commented on #166
For now (as a shorter-term workaround), can you just add a "uniquedesignation" label to the right & we can manually create each ring.

So your workaround version of this symbol will look like below (if "uniquedesignation"="1")

![image](https://cloud.githubusercontent.com/assets/3090809/10845335/5b8b07e2-7edd-11e5-811c-99394935fd66.png)

[2015-11-05 05:08] abouffard commented on #90
Removed

[2015-11-05 05:13] abouffard commented on #141
I think this can be closed in light of the acceptance of what JMSML is now exporting and the new GP tools for creating a template GDB is building.

[2015-11-05 05:17] abouffard commented on #141
I created this issue so I am going to close it.

[2015-11-05 05:17] #141 closed

[2015-11-05 12:57] csmoore commented on #90
Verified

[2015-11-05 12:57] #90 closed

[2015-11-06 18:06] Dbarnes1 opened #170 "Create features pane is automatically fully expanded"
While using Pro 1.2

Currently, the default setting on the Create Features pane is that the feature templates are fully expanded, which is inefficient when scrolling through large Military Symbology sets. Preferably, the default setting would have the feature templates collapsed into their feature groups. Even when I manually collapse the feature templates, navigate to another pane and come back,

[2015-11-06 18:33] Dbarnes1 commented on #153
METOC editing templates have been successfully created manually:
![image](https://cloud.githubusercontent.com/assets/13024357/11005237/8eac3904-8471-11e5-9559-c49b087cbaaa.png)

thanks @jeconley !

[2015-11-06 18:33] #153 closed

[2015-11-09 14:20] csmoore commented on #163
verified

[2015-11-09 14:20] #163 closed

[2015-11-09 14:30] csmoore commented on #96
Just an update - this field has been renamed in the newest gdb/ppk/etc. version at https://github.com/Esri/military-features-data/tree/v.next/data/mil2525d/core_data - this week we need to see what we need to do to get Pro to default to this new symbol field (the other 2 tasks associated with this in the original issue description above).

[2015-11-09 18:03] csmoore commented on #116
Assigning to @Dbarnes1 for now - to add to the items to bring up in the team review (I don't think this got done, so we need to decide if it is still a short-term priority/requirement)

[2015-11-09 18:05] csmoore commented on #86
Postponing while the deployment process for these is still being refined

[2015-11-09 18:07] csmoore commented on #166
@Dbarnes1 - can you implement this suggested workaround with the current set of stylx fixes?

[2015-11-09 18:21] ottenw commented on #166
FYI - at SSMC 2015-1, CP15-009 "Correction to Minimum Safe Distance Control Measure Symbol" was approved.  It removed ring #3.  Not sure when you plan to implement SSMC approved post 2525D publication changes.

[2015-11-09 19:39] csmoore commented on #166
Thanks for the info, good to know this change is coming before we exert too much effort into this exact symbol. The CP I found was "15-**029**-AR Correction to Minimum Safe Distance Control Measure Symbol"

One related note: This symbol also could use a bit of clarification in the point ordering to update/clarify "Center Point" to "Point 1 (Center Point)" and the other points are "Point 2" (Ring 1

[2015-11-09 20:32] Dbarnes1 commented on #166
@csmoore  I was able to put in a unique designation label rule, but it automatically places the label at the center of the polygon. I'm not sure if this is an issue, because it appears as if the "Center Point" of the symbol is where there can be a unique designation according to your point ordering comment above?

Here is the updated symbol with unique designation in the test dataset (ControlMeasu

[2015-11-09 21:26] ottenw commented on #166
@csmoore @Dbarnes1 The center Point is always just that - the center point.  The distance between the center point and PT 1 is the radius of the inner ring and the distance between the center point and PT 2 is the radius of the outer ring.  The numeric "1" and "2" are part of the inner and out ring and should always be present; they are not amplifiers or modifiers.  @abouffard and @joebayles  do y

[2015-11-09 21:39] csmoore commented on #166
The display rules are fine for humans, this issue/ambiguity arises when we try to use this point ordering for a geometry or a message and we don't know if center point should be encoded as point 0 or point n (last) - unless there is other guidance somewhere else for encoding this symbol as a geometry/message.

Like mentioned I believe this is the only symbol depiction that doesn't explicitly use "

[2015-11-09 22:44] Dbarnes1 commented on #166
Update: I've moved the unique designation to as close to the perimeter of the feature geometry as I can using Maplex. While this is a short term solution, I want to figure out a way to actually get the unique designation to overlay on top of the line.

![image](https://cloud.githubusercontent.com/assets/13024357/11048974/cee13ae4-86ef-11e5-8b54-48244c774f2c.png)

[2015-11-10 12:32] csmoore commented on #96
Update: we were able to rename this field ourselves in the Pro plugin - however this will be a breaking change for any existing pre-1.2 project and layer files (doesn't seem to crash though).

The symbols will be broken and the only way to get the new "symbolentity" property to appear on existing pre-1.2 DictionaryRenderer layers (because the field won't appear and the symbols will all be "unknown

[2015-11-10 18:07] joebayles commented on #166
@ottenw I think we absolutely need clarification here. Please feel free to weigh in.

To reiterate the intent behind this symbol, this is a CBRN symbol that annotates Minimum Safe Distance from the source location of an NBC event (read point _or_ area). However, it will only be concentric circles from a fixed point. I will write some issues in JMSML to deconflict that, but in the interim, we need

[2015-11-10 18:12] ottenw commented on #166
@joebayles - I'll draft a CP to clarify draw rules

[2015-11-10 18:19] csmoore commented on #166
Just to further clarify, this is the only recommended change I had (based on the original 2525D.0 symbol shown in the original issue description above):

![image](https://cloud.githubusercontent.com/assets/3090809/11071184/698b25ce-87ad-11e5-9698-48a64fefa5cf.png)

[2015-11-10 18:45] Dbarnes1 commented on #37
![image](https://cloud.githubusercontent.com/assets/13024357/11071719/1fb2f4ec-8797-11e5-813a-f2a60c1e46fa.png)
I reversed the teeth on `Antitank Obstacles : Completed` Entity Code `290202` to fit with the standard. @csmoore This can be verified when I PR the latest version of Mil2525D.stylx

[2015-11-10 18:48] Dbarnes1 commented on #166
![image](https://cloud.githubusercontent.com/assets/13024357/11071966/6234c588-8798-11e5-9d6f-8cca9ba312a6.png)
This is the latest way to render this symbol in Pro, thanks to @joebayles suggestion. Still only a short term solution

[2015-11-10 21:03] Dbarnes1 commented on #170
@jeconley is this something we could get a CR submitted for? Its not crucial, but it would make navigating the Manage Templates pane easier in any situation

[2015-11-10 21:04] BobBooth commented on #143
Engagement area Unique ID now showing up to the right of "EA" text, but seems to be labeling along top edge of feature, looks like should be centered in feature.
![image](https://cloud.githubusercontent.com/assets/3801392/11075697/a4b01d78-87c4-11e5-8e64-76da139e732f.png)

[2015-11-10 21:10] jeconley commented on #170
I will talk to the Editing team about it and add a CR.

[2015-11-10 21:16] csmoore commented on #170
The biggest issue is that the Create Features pane/tree state doesn't persist so if you

1. Collapse the tree items you are not using/don't want to use/get this pane like you want it
2. Click another pane tab
3. Then go back to Create Features pane
4. Everything is expanded again, so this is a bit of an annoying experience

[2015-11-10 21:51] jeconley commented on #170
I spoke with JJ on the editing team and she is going to enter a CR.  I will post the number once I have it for tracking.

There is a work around that you can use to avoid the frustration for now.  If you hold CTRL when you click to collapse a group it will collapse all of the groups.  This appears to be sticking when you switch panes.

[2015-11-10 22:01] csmoore commented on #170
@jeconley - Ctrl-click collapse works/persists - thanks for the tip!

[2015-11-10 22:30] jeconley commented on #170
CR323040 has been entered.

[2015-11-10 22:53] csmoore opened #172 "Military Overlay technical review"
Items from 11/10/15 Tech Review of [Military Overlay](https://github.com/Esri/military-features-data/tree/v.next/data/mil2525d/core_data)

Editing templates
- [x] Editing templates only need to go down to second/EntityType level for some layers (ex. Air - but keep for layers where this was thought out like Units)

Tasks:
- [x] `(1)` Create/Sketching Overlay Task Item (main/primary usage) separate

[2015-11-10 22:54] Dbarnes1 commented on #172
Thanks @csmoore !

[2015-11-11 15:58] BobBooth commented on #142
"Air Corridor" feature template should be renamed "Airspace Control Areas". I was expecting a line feature of code 170100. It is an "Air-to-Air Restricted Operations Zone (AARROZ)" polygon feature.
![image](https://cloud.githubusercontent.com/assets/3801392/11095375/ace79130-8862-11e5-9a6e-ec0276a8f008.png)
Should there also be one or more template of linear feature type for air corridors?

[2015-11-11 16:54] BobBooth commented on #142
Target Designator label not showing up for the Point Target features in the MilitaryOverlay.aptx file.
![image](https://cloud.githubusercontent.com/assets/3801392/11096977/c8e6d280-886a-11e5-9982-e11189165ea9.png)
Also, Altitude/Depth (X text modifier) isn't being drawn from Altitude/Depth field value.

[2015-11-11 16:56] csmoore commented on #166
Dan showed me the workaround & it looks pretty good/flexible.

Since you took another approach to what I was thinking you should just be able to hard code the "1 2 3" into the label rule and not use the "uniquedesignation" field I had originally suggested (unless you think this label will need to change)

![image](https://cloud.githubusercontent.com/assets/3090809/11097017/fa080f14-886a-11e5-87ee-

[2015-11-11 17:05] csmoore commented on #142
@BobBooth & @Dbarnes1 should have a meeting (soon) to make sure these aren't configuration issues (i.e. using the latest/correct stylx) - ping me if needed

[2015-11-11 17:28] jeconley commented on #170
JJ just let me know that the issue has been fixed and is in the daily build.

[2015-11-11 17:29] Dbarnes1 commented on #170
great, thanks!

[2015-11-11 19:09] Dbarnes1 commented on #143
@csmoore This is what it should look like
![image](https://cloud.githubusercontent.com/assets/13024357/11100201/a59c711e-8864-11e5-8a6d-99ab579700e4.png)

[2015-11-11 21:37] Dbarnes1 commented on #138
@csmoore I was able to reduce the size of the ASR/MSR control measure lines so they don't appear larger than the line itself. Changing the symbol definition in the stylx. doesn't work, because the arrow and text are all considered text symbols, not line symbols. Reducing their size is my best-fit solution, and will be in my commit for the final stylx on Friday (11/13)

[2015-11-11 21:39] Dbarnes1 commented on #37
@BobBooth we're you able to verify that this is fixed in my latest PR?

[2015-11-11 22:35] Dbarnes1 commented on #142
Air Corridor has been renamed:
![image](https://cloud.githubusercontent.com/assets/13024357/11105005/0bef5032-8881-11e5-9315-18a5f2697b4d.png)

In addition, the X modifier has been fixed. It is not a text modifier, but it was previously being drawn from the Y modifier attribute. Altitude/Depth field is a Z value, not an X value. However, target designator is not rendering from attributes, despite

[2015-11-12 11:44] csmoore commented on #142
@Dbarnes1 - if a recently added/changed attribute is not showing up - it may have to do with the fact that the dictionaryrenderer pane only checks for these symbol/label attributes the first time (we probably need to eventually submit a CR to make this more robust).

You can test this theory by creating a new layer and testing there (rather than the existing layers you are testing with now). Also:

[2015-11-12 11:51] csmoore commented on #138
Thanks (screenshot of new?) - this may have just been a misunderstanding on my part about how this text label should behave - it now makes sense that it keeps a fixed point size regardless of the geometry/line size for a given scale.

Though speaking of label sizes&scales, we do eventually need to make sure these labels use/obey the same label scale as the layer - similar to an issue noted by Bob

[2015-11-12 15:15] Dbarnes1 commented on #138
You'll see that the text symbols and arrow are now more or less the same size as the text labels of other control measure features:
![image](https://cloud.githubusercontent.com/assets/13024357/11121846/fe2daca0-890c-11e5-98cc-5a6694441c4c.png)
Now, at least, the labels are not oversized and getting in the way when you zoom in and out of the overlay area of interest

[2015-11-12 15:16] csmoore commented on #172
@Dbarnes1 - in order to test the status field for Pro 1.2 I (and you) will need an updated GDB with the status field added to Units, Civilian, Activities

[2015-11-12 15:38] Dbarnes1 commented on #170
verified

[2015-11-12 15:38] #170 closed

[2015-11-12 16:32] jrweakland commented on #108
assigning back to @csmoore for reassignment since i am not on the military symbology team

[2015-11-12 16:34] jrweakland commented on #117
assigning to @csmoore for further assignment since i am not on the military symbology team.

[2015-11-12 17:58] csmoore commented on #108
Just an update, we didn't make it any further on this, last we were told we could submit a CR to try to get multipoint store behavior changed in desktop, but that seemed like perhaps a radical step so our next incremental step in to try to control this with an attribute ("usecontrolpoints") on line features that do keep their ordering.

Changing the milestone since this likely won't be working by

[2015-11-12 18:04] csmoore commented on #117
Thanks (and it still appears to be an issue at 1.2.4634 (11/9/15) )

[2015-11-12 18:29] Dbarnes1 commented on #142
Chris, the solution you outlined above worked! Here is an example control measure point properly rendering the target designator attribute:
![image](https://cloud.githubusercontent.com/assets/13024357/11127231/265379ec-8928-11e5-9fed-1f75a966ff9d.png)

[2015-11-12 19:08] BobBooth commented on #37
@Dbarnes1 - yes, I confirm the anti tank obstacle teeth point up when you digitize a feature from left to right (and down when right to left).

[2015-11-12 19:09] #37 closed

[2015-11-12 20:36] BobBooth commented on #142
Restricted Operation Zone control measure labels Max Lat field from Alt/Depth field, not from Alt/Depth2 field.
![image](https://cloud.githubusercontent.com/assets/3801392/11130361/920ab2c0-8952-11e5-9987-95b9615862bf.png)
This problem seems to affect all of the polygonal airspace control zones
![image](https://cloud.githubusercontent.com/assets/3801392/11130442/13218762-8953-11e5-8c50-7f4caf757e1

[2015-11-12 20:40] BobBooth commented on #142
The Max Alt problem also affects the three Fires Areas: Airspace Coordinating Area features
![image](https://cloud.githubusercontent.com/assets/3801392/11130549/9c90447a-8953-11e5-9dcf-59c40df9daa6.png)

[2015-11-12 20:46] Dbarnes1 commented on #142
@BobBooth good catch, I can fix this pretty quickly, I just fixed the label rules for ACA features seen here:
![image](https://cloud.githubusercontent.com/assets/13024357/11130733/6cc2c58c-893b-11e5-9f65-720773379774.png)

[2015-11-12 21:02] BobBooth commented on #142
Maritime Bearing Lines labeling H text modifier (Additional Information) along line instead of horizontal and offset to right.
![image](https://cloud.githubusercontent.com/assets/3801392/11131056/90476736-8956-11e5-850a-00a2c2ccb2d4.png)
![image](https://cloud.githubusercontent.com/assets/3801392/11131086/afe2ef02-8956-11e5-81e8-beb5453e42df.png)

[2015-11-12 21:53] Dbarnes1 commented on #142
Fixed test example:

![image](https://cloud.githubusercontent.com/assets/13024357/11132411/abdf1b86-8944-11e5-9574-37863082edce.png)

[2015-11-13 15:08] BobBooth commented on #142
@Dbarnes1 - looks good!

[2015-11-13 16:53] BobBooth commented on #142
@Dbarnes1 - Smoke/Smoke Planned symbols not picking up date fields:;
![image](https://cloud.githubusercontent.com/assets/3801392/11151818/2bb833fc-89fd-11e5-9b01-39265cce2614.png)

[2015-11-13 17:11] BobBooth commented on #142
@Dbarnes1 Artillery Target Intelligence Zones date/times should label outside zone to the left, like the Call for Fire zones (note, this is also an issue for Call for Fire Irregular, the other two are right).
![image](https://cloud.githubusercontent.com/assets/3801392/11152267/90d2b166-89ff-11e5-85c4-4fe999f3d110.png)

[2015-11-13 17:36] csmoore commented on #142
@BobBooth - if these are new issues - I'd advise starting a new issue to capture these so we don't delay the release (assuming these aren't critical issues of course, but this last one looks like more of a lower priority placement issue we might want to fix in the next release?)

[2015-11-13 17:39] BobBooth opened #173 "Smoke/Smoke Planned symbols not picking up date fields"
@Dbarnes1 - Smoke/Smoke Planned symbols not picking up date fields:
![image](https://cloud.githubusercontent.com/assets/3801392/11151818/2bb833fc-89fd-11e5-9b01-39265cce2614.png)

[2015-11-13 17:41] BobBooth opened #174 "Military symbology label issues with lines and areas"
@Dbarnes1
Artillery Target Intelligence Zones date/times should label outside zone to the left, like the Call for Fire zones (note, this is also an issue for Call for Fire Irregular, the other two are right).
![image](https://cloud.githubusercontent.com/assets/3801392/11152267/90d2b166-89ff-11e5-85c4-4fe999f3d110.png)
@Dbarnes1 - seems to apply to all of the target acquisition control measures fro

[2015-11-13 17:42] BobBooth commented on #142
@csmoore - agreed, have removed comments and made their own issues.
@Dbarnes1 - FYI.

[2015-11-13 17:53] BobBooth commented on #142
Items from this issue verified fixed.

[2015-11-13 17:57] BobBooth commented on #143
@Dbarnes1 an issue I noted in a comment above (Fires Area Series of Targets get correct "nickname" label but it is out of place, in the middle, not on the top edge.) is not fixed.

[2015-11-13 18:04] Dbarnes1 commented on #173
![image](https://cloud.githubusercontent.com/assets/13024357/11153448/d1c32b7c-89ed-11e5-9b2b-3ead50dc0f19.png)
These symbols are now fixed, thanks Bob!

[2015-11-13 18:10] BobBooth opened #175 "Fires Area Series of Targets Unique Designation (T) field label should be on top edge, not center"
Fires Area Series of Targets get correct "nickname" label but it is out of place, in the middle, not on the top edge.
![image](https://cloud.githubusercontent.com/assets/3801392/9996426/ddfe19f0-6054-11e5-9e2c-30850eca719e.png)

[2015-11-13 18:16] BobBooth commented on #143
Verified fixed.
@Dbarnes1

[2015-11-13 18:24] BobBooth commented on #175
Consolidating this with the other open issue per @csmoore

[2015-11-13 18:24] #175 closed

[2015-11-13 18:26] BobBooth commented on #174
@Dbarnes1 - consolidated and renamed this issue, per advice from @csmoore

[2015-11-13 19:17] #143 closed

[2015-11-13 19:18] #142 closed

[2015-11-13 20:12] csmoore commented on #136
@jeconley - I believe @Dbarnes1 is coordinating getting you the candidate final Pro 1.2 mil2525d.stylx (nice job Dan of meeting this deadline)

One other important related issue for the 1.2 install is that we have an updated version of the **"mil2525d.dll"** "renderering rule engine/plugin" that we would like to update in the 1.2 install staging location.

Updating this was necessary because we ne

[2015-11-13 20:16] csmoore commented on #96
Rule Engine/Plugin is rebuilt & tested - we just need to coordinate getting this into the Pro 1.2 install (and Server also? not sure if/where they are pulling this)

[2015-11-16 17:44] jeconley commented on #136
@csmoore - I have run the test with the latest .stylx and see only a few minor changes.  I am adding a couple more test to ensure I am catching as much as possible.  I can run the test again with the updated .dll so we know if there are any difference specifically from the .dll change.  I think that it can be tracked as part of this issue.  I will just enter a separate CR on our side if Marc-O nee

[2015-11-16 19:06] csmoore commented on #136
@jeconley - thanks for the update & for testing so quickly & just ping me if you want a quick tutorial in resetting the broken layers/packages in your test projects after this (breaking) change

[2015-11-16 19:09] jeconley commented on #136
@csmoore - where can I grab the updated dll?

[2015-11-16 19:16] csmoore commented on #136
I "inboxed you(as the kids would say)" the link.

[2015-11-16 22:32] csmoore opened #176 "Resetting existing DictionaryRenderer Layers that use "entity" field (to reset to "symbolentity")"
Because we recently renamed the well-known symbol-display field "entity" to "symbolentity" at Pro 1.2 (in order to fix an issue publishing to SDE/server #96 ), **all existing (pre-1.2) dictionary renderer layers will not properly display the entity field at Pro 1.2 and appear to be broken**

In order to reset the layer, you must do the following from the Dictionary Renderer Symbology Pane in Pro 1

[2015-11-16 23:55] joebayles commented on #166
Except for the third ring, this is perfect.

[2015-11-17 12:47] csmoore commented on #166
@joebayles - please remember we are implementing the released 2525D (2525D-0.0) not the CPs (2525D-0.3 in this case?) and to try to provide guidance in accordance with the 2525D as published for now (but we do appreciate knowing what is coming - we just need to make those changes in an agreed-upon, controlled way).

[2015-11-17 13:48] csmoore commented on #166
Closing this as a known issue-with workaround for now

[2015-11-17 13:48] #166 closed

[2015-11-17 15:49] csmoore commented on #114
Update-these are in the (manually) updated GDB, I will just wait to verify this with #169 once the csv's are reconciled with that

[2015-11-17 17:13] jeconley commented on #136
The updated "mil2525d.dll" has been installed and should be available in this afternoon's build (4662).  We will install the updated stylx once I meet with @Dbarnes1 to confirm the changes are expected.

[2015-11-18 01:02] csmoore commented on #173
Verified in #171

[2015-11-18 01:02] #173 closed

[2015-11-18 01:14] csmoore opened #177 "Update test projects after "entity" to "symbolentity" change installed in Pro 1.2 daily"
Once this changed is installed in the Pro daily (should be after today see: https://github.com/Esri/military-features-data/issues/136#issuecomment-157439663):

- [x] update/fix the broken layers in all of the mil2525d projects (see #176)
- [x] rename "sample_data" folder to "test_data"

[2015-11-18 02:43] csmoore commented on #117
@Dbarnes1 - see description in the original issue for a few additional things to look at when reviewing/completing MilitaryOverlay.lpkx ( #172 )

[2015-11-18 02:46] csmoore commented on #67
At 1.2 this is more clear (there is now a warning that you need to create a template on these layers) so I'm going to defer for now

[2015-11-18 02:48] csmoore commented on #116
I verified this for a few layers with https://github.com/Esri/military-features-data/blob/v.next/data/mil2525d/core_data/gdbs/MilitaryOverlay.gdb.zip - I'll give @conklinbd the option to verify also & close after a few days

[2015-11-18 02:50] csmoore commented on #127
Shadowing fixed for Pro, but still not compatible with runtime, but deferring until next milestone for now

[2015-11-18 02:52] csmoore commented on #138
verified (that this behaves like the other labels)

[2015-11-18 02:52] #138 closed

[2015-11-18 15:18] jeconley commented on #136
The updated stylx has been installed and should be available in the daily build.

[2015-11-18 15:42] csmoore commented on #136
Thanks for the update and esp. many thanks again for the help testing this.

We'll close this issue once we sanity test in the Pro 1.2 daily.

[2015-11-18 20:18] csmoore commented on #136
Verified mil2525d.stylx/dll in Pro Daily 1.2.4664 - thanks again

[2015-11-18 20:18] #136 closed

[2015-11-18 22:21] joebayles commented on #176
Just to be more clear about this: @Dbarnes1 used this workaround in his MilitaryOverlay Pro Project, packaged it, and sent it to me. When I opened it up, I still had to repeat the workaround (either unselecting and reselecting Dictionary symbology or selecting Restore default fields. I did NOT have to remap the entity field.

[2015-11-19 01:06] csmoore commented on #176
@joebayles - you should not have to do this again after it was saved unless something is wrong - were you both on today's daily build or later (the first install with this update was Pro Daily 1.2.4664+)

[2015-11-19 01:20] csmoore commented on #96
This change has been install in Pro 1.2.4664+. I'll give @conklinbd the option to verify with schema at   https://github.com/Esri/military-features-data/blob/v.next/data/mil2525d/core_data/gdbs/MilitaryOverlay.gdb.zip (since I'm not sure how to test the original issue that was encountered on SDE) & will close after a few days if still open

[2015-11-20 16:53] joebayles commented on #176
Once @Dbarnes1 and I were on the same build, it worked as intended. He selected Restore default fields, packaged it, and sent it to me. I opened it, and the fields were mapped properly.

[2015-11-23 21:41] Dbarnes1 commented on #172
@joebayles After making these changes I passed the project package off to you, they're ready for review now, box link: https://esri.box.com/s/058bmd5fun9f3n3ls7ufyb5h5kckl7wv

[2015-11-23 21:43] #152 closed

[2015-11-24 12:57] csmoore commented on #172
Just a reminder - don't forget to assign the issue to be verified - versus directly closing.

Usually assign to the originator, but sounds like you have an alternate to verify & that's fine, just so long as it gets verified.

[2015-11-30 19:35] csmoore opened #179 "Remove "SVG Dash Workaround" steps and document the correct Inkscape version to use."
Remove  "SVG Dash Workaround" steps and document the correct Inkscape version to use (Inkscape 0.48.5.1) & warn about what will happen if you use Inkscape 0.91 (wrong dashes and fonts, see #154).

https://github.com/Esri/military-features-data/tree/v.next/data/mil2525d/utilities/style-utilities/svg-dash-workaround

https://github.com/Esri/military-features-data/tree/v.next/data/mil2525d/utilities/

[2015-11-30 22:37] Dbarnes1 commented on #179
@csmoore I definitely took care of mentioning the correct Inkscape version in this commit under image conversion utilities: https://github.com/Esri/military-features-data/commit/4720ce2c35b0959b7f9c16e6bd70d6a1a1131469

I'll get rid of the SVG Dash Workaround folder as part of the repo reorganization.

[2015-12-01 15:16] csmoore commented on #179
Thanks for locating [it for me](https://github.com/Esri/military-features-data/tree/v.next/data/mil2525d/utilities/style-utilities/image-conversion-utilities#instructions) - maybe we should move that warning up to the "Caveats" section - SVG Utility line ( https://github.com/Esri/military-features-data/tree/v.next/data/mil2525d/utilities/style-utilities/image-conversion-utilities#important-notesca

[2015-12-01 15:28] jeconley commented on #139
@csmoore can you please provide a more specific repro case or document that shows the issue.  Marc-O does not see any error in the colors when edited in Pro with the correct runtime settings.

Are the colors always swapped?

If the original dictionary is good and then wrong after editing, can you please send the two versions of the dictionary as well as the editing steps?

[2015-12-01 22:16] Dbarnes1 commented on #179
I added the info about Inkscape in the SVG Utility line: https://github.com/Esri/military-features-data/commit/a617ba93991b64e9833f55590c9d89b0e08e445b
If you think it's clear you can close the issue, the SVG Dash Workaround is part of #181

[2015-12-02 15:21] Dbarnes1 commented on #177
This is completed except for two project packages that will go in the "Test Data" location in the repo: ControlMeasuresAll.ppkx and PairwiseTestData.ppkx. When I select "restore default fields," entity is not replaced by symbolentity. I'll have to check with @csmoore to figure this out before this can be marked complete. When I'm sure these projects are complete, I can also update them in the repo

[2015-12-04 19:13] Dbarnes1 commented on #177
@csmoore this can be verified now in PR #181 and closed

[2015-12-07 19:39] BobBooth commented on #172
Verified.
@Dbarnes1

[2015-12-07 19:39] #172 closed

[2015-12-09 21:39] csmoore commented on #139
@jeconley - I couldn't repro this just editing symbols in Pro and looking at the raw CIM (but I can't open the current Pro/CIM 1.2 in RuntimeCore daily currently to verify end-to-end) so I am fine with closing this as "can't repro" for now - It may have just been a temporary issue with daily versions of Runtime and/or Pro.

[2015-12-09 22:09] jeconley commented on #139
Ok, I will close the CR as can't repro.  Let us know if it pops up again.

[2015-12-10 18:40] csmoore commented on #127
Just an update - @mbriat was helping Raj work through an issue in Runtime with the halo/outline in our stylx files. He recommends that we switch to "Enable Halo" instead of using an outline symbol for our text symbol to get a consistent behavior for these across both Pro & Runtime.

@Dbarnes1 - we'll want to make this issue the highest priority fix/change for the next set of stylx edits (this prob

[2015-12-10 18:55] mbriat commented on #127
I did not see a white outline anymore in the 2525d style installed in pro

[2015-12-10 19:13] Dbarnes1 commented on #127
@csmoore Just to clarify, this is now only an issue in Runtime? If so, I'll change the title of this issue so I don't get confused.

[2015-12-10 19:44] csmoore commented on #127
@Dbarnes1 - it is both Runtime and Pro - the issue is we would like a text shadow/halo that works in both Runtime and Pro (I know you don't have a way to test these CIM/Pro 1.2 stylxes in Runtime yet so we can also make creating a suitable Runtime test app part of this issue/task).

Of course it can also be your call whether the text halo is even needed, but I think it makes the labels look more r

[2015-12-11 19:11] csmoore commented on #96
@conklinbd @jrweakland - @jeconley let us know that the templates that show up for Pro 1.2 New Project from Portal have the old schema and broken mil symbol layers and will need updated for 1.2 - any idea where these templates come from and how we update them? For now I'll write an issue in the desktop template repo:

Example: Vehicle Checkpoint

![image](https://cloud.githubusercontent.com/assets

[2015-12-11 19:35] BobBooth commented on #96
They live in the Solution Product Templates group on in public ArcGIS Online:
http://www.arcgis.com/home/group.html?owner=esri_solutions&title=Solution%20Project%20Templates
@lfunkhouser @ACueva should have access to update.

[2015-12-11 19:44] csmoore commented on #177
Verified

[2015-12-11 19:44] #177 closed

[2015-12-11 20:20] csmoore commented on #114
Status added to source data (ex. https://github.com/Esri/joint-military-symbology-xml/blob/master/samples/military_feature_schemas/Fields_ControlMeasuresLines.csv#L6 ) closing

[2015-12-11 20:20] #114 closed

[2015-12-11 20:21] #116 closed

[2015-12-11 20:24] csmoore commented on #96
Closing - remaining dictionary projects/templates that need updated (that we know about anyway) - recorded here: https://github.com/ArcGIS/mil-intel-desktop-solutions-templates/issues/233

[2015-12-11 20:24] #96 closed

[2015-12-15 15:42] csmoore commented on #179
Verified - I don't think we warned about what happens if you use 0.91 (dash and font problems), but I expect we will remember, and maybe Pro will just support importing SVGs into styles directly at some point and this will be OBE