[2015-12-15 15:42] #179 closed

[2015-12-15 15:52] jeconley commented on #132
@csmoore - how serious of an issue is this for you guys?  Is it only seen with points in this one document?  I am trying to determine the priority for fixing this for 1.2.

[2015-12-15 16:09] csmoore commented on #132
It has actually improved significantly from 1.1 so this can be a lower priority. It seems to happen for me when there are lines with complex patterns (like the METOC/weather lines)

[2015-12-17 18:43] Dbarnes1 opened #184 "Ensure that Lines-Areas-Labels-Base-Template/mil2525c/app6b.stylx is updated to reflect "Scale Proportionally" Bug"
Because our workflow in updating the Mil2525D stylx starts with editing a [Lines-Areas-Labels Base template] (https://github.com/Esri/military-features-data/blob/v.next/data/mil2525d/core_data/stylxfiles/mil2525d-lines-areas-labels-base-template.stylx) and then merging it with a Points-Only Stylx to create a new Mil2525D.stylx, my concern is that the .stylx files we currently have in our repositor

[2015-12-17 18:47] mbriat commented on #184
We can run the ScaleProportionanlly update anytime if needed

[2015-12-17 19:31] csmoore commented on #184
Now is probably as good a time as any while we are thinking about, and before we forget. @mbriat can you run this against that stylx ( https://github.com/Esri/military-features-data/blob/v.next/data/mil2525d/core_data/stylxfiles/mil2525d-lines-areas-labels-base-template.stylx ) when you have a chance? Thanks

[2015-12-17 19:48] mbriat commented on #184
Updated version added to \\marcb\Shared\mil2525d

[2015-12-17 20:26] csmoore commented on #184
Many thanks - we'll give this updated version a quick check-out & add it to GitHub

[2015-12-18 17:22] csmoore commented on #184
I added mil2525c + app6b to this issue since these styles will likely need updated also. @mbriat - sorry I didn't realize this yesterday - can we get you to run your "ScaleProportionanlly" utility against these also:

https://github.com/Esri/military-features-data/blob/v.next/data/mil2525c/stylxfiles/mil2525c.stylx
https://github.com/Esri/military-features-data/blob/v.next/data/app6b/stylxfiles/ap

[2015-12-18 17:47] mbriat commented on #184
We installed an extension to the Pro SDK so that this can be done with an Add-in Deepinder wrote. I'd prefer to try this approach as you could also get the code in case you need to do more of that kind of work.

[2015-12-18 17:51] csmoore commented on #184
That would be great - we'd probably add right to this repo

[2015-12-22 14:32] csmoore commented on #184
This is assigned to me now to update mil2525c+app6b with this change (waiting to get access to the new location of the daily Pro SDK build so I can run the update plugin provided)

[2016-01-06 18:02] jeconley commented on #117
Issue has been fixed and is available in build 4910 or later.

[2016-01-06 18:07] csmoore commented on #117
Thanks for the update - I'll give it a try

[2016-01-06 20:55] csmoore commented on #117
@jeconley I test this with the GDB [here](https://github.com/Esri/military-features-data/blob/v.next/data/mil2525d/core_data/gdbs/MilitaryOverlay.gdb.zip) and the only thing I noticed was some spurious markup got inserted for one of the entries:

![image](https://cloud.githubusercontent.com/assets/3090809/12154480/af51cd26-b48d-11e5-9d41-5c876cc0c9f7.png)

Originally looked like this in metadata v

[2016-01-07 18:36] jeconley commented on #117
I am looking into this.  I was trying to repro and ran into a crash with the latest build.

[2016-01-07 20:14] Dbarnes1 opened #187 "Feature Layers with Sub types cannot be edited properly in Server 10.4"
Feature Layers with Sub types, when symbolized using the dictionary renderer in a hosted web map, do not allow for entity changes. Rather, they display the numeric entity code. Here is an example of an Air feature created in a web map. The drop down has options to edit other attributes, but not entity type.
![image](https://cloud.githubusercontent.com/assets/13024357/12181600/1f837e32-b538-11e5-82

[2016-01-07 20:15] Dbarnes1 commented on #187
@csmoore @conklinbd

[2016-01-07 22:52] conklinbd commented on #187
@Dbarnes1 this may be a known issue and might require us to make changes in our schema. Clare or Mike M would know for sure or know if a fix is planned.

[2016-01-08 13:27] csmoore commented on #187
It would be relatively straightforward for us to unwind the subtypes and replace with a feature class/layer - it would just require the addition of these 6 feature classes: {Air Missile, Space Missile, Mine Warfare, METOC Oceanographic X 3} - Note: SIGINT never really needed a subtype since the codes/values/modifiers are the same for each subtype ( @Dbarnes1 I updated your table above to clarify w

[2016-01-08 14:42] conklinbd commented on #187
@csmoore I think that might be the best option. I agree that there is very little benefit and this might be the best time to make a breaking change. I would like to just have Dan confirm that this is known issue with Clare or Mike M prior to making this call.

[2016-01-08 15:47] jeconley commented on #117
The crash I was seeing has been fixed.  @csmoore I am not able to repro the spurious tags with todays daily build (4917) on my Win7 or Win 10 machines.  Can you try again?  I am hoping that whatever was causing the issue was fixed.

[2016-01-11 16:10] csmoore commented on #127
Verified with https://github.com/Esri/military-features-data/pull/188

[2016-01-11 16:10] #127 closed

[2016-01-13 20:57] csmoore opened #189 "Runtime Stylx readme enhancements to clarify Runtime use"
@mbranscomb recommended the following changes to the stylx readmes to clarify the runtime usage:

- [x] Remove “ArcGIS Runtime 10.3+” from the readme.md (under requirements) – there is no 10.3 release of ArcGIS Runtime. The next release will be ‘Quartz’.
- [x] Remove discussion of deploying the .dat files into the runtime symbols folder – we only support the symbol dictionaries which shipped with

[2016-01-14 15:06] Dbarnes1 commented on #187
Ben and I can confirm that we will need to make a breaking change for the next sprint

[2016-01-14 15:47] csmoore commented on #187
@Dbarnes1 Thanks for the update - I guess you know what you get to do next sprint. I don't think this will be a big/major change from the database/schema/GDB perspective (I'm actually hoping we can update&test @abouffard 's [GDB automation process](https://github.com/Esri/military-features-data/tree/v.next/data/mil2525d/utilities/military-features-utilities#create-military-feature-geodatabase-temp

[2016-01-14 16:59] abouffard commented on #187
Technically, IMHO, we'll also have to create a new feature class for each SIGINT symbol set code.  Codes 50-54.  The sector one modifiers in Table J-III in 2525D are all not applicable to all five symbol sets (dimensions - Air, Space, Land, Sea Surface, Sea Subsurface), that's why we have multiple SIGINT modifier one value domains.  They aren't all the same.

[2016-01-14 17:24] csmoore commented on #187
@abouffard - I guess I misinterpreted Appendix J,TABLE J-III (I originally thought they were the same) - but I think for now we will still just combine these into one feature class and accept as a known limitation/tradeoff. We already have the same (open) issue with the other symbolsets that certain modifiers only apply to certain icons/categories, so this is more of this same issue. We will just

[2016-01-22 15:22] csmoore opened #190 "2525D Style out of synch with JMSML data, "Planned" icon name change"
When I tried to do the [style merge process](https://github.com/Esri/military-features-data/tree/v.next/data/mil2525d/utilities/style-utilities/merge-stylx-utilities) I noticed that JMSML had made unexpected name changes that caused the merge process not to function properly for the frame symbols.

@abouffard should either:

1. Revert the names back to the old format ("**Planned/Anticipated/Suspec

[2016-01-22 15:31] csmoore commented on #184
@Dbarnes1 - I believe this issue is addressed. It probably wasn't clear, but I believe I addressed this issue in #186 and #188 - you may want to double check the latest mil2525d-lines-areas-labels-base-template.stylx file just to make sure. I think I updated Asana but didn't update this issue.

[2016-01-22 15:47] Dbarnes1 commented on #184
@csmoore verified and Closing.

[2016-01-22 15:47] #184 closed

[2016-01-22 17:48] abouffard commented on #190
@csmoore , I want to just clarify this.  Do the domain value names need to match the stylx names?  I'm assuming they do not, as long as the unique IDs do (aka 0_115_0)?

Are you ok with the domain names being "Planned/Anticipated/Suspect" and the stylx names being "Planned" or would you prefer they were both shortened?  I believe its important to keep the longer name in the domain if having them d

[2016-01-22 17:51] Dbarnes1 commented on #187
Fixing GDB by removing subtypes with this PR: https://github.com/Esri/joint-military-symbology-xml/pull/249. Can close when verified

[2016-01-22 18:24] csmoore commented on #190
The domains names and icon names can be different (there is no dependency) - so keeping the longer name for the domain is fine.

We just need to be careful about changing the icon names since it is now apparent that these names are used in the merge step and any name change there will require the entire style be generated from start (SVGs) to finish - and we don't want to require this every time w

[2016-01-22 18:26] abouffard commented on #190
Thanks for clarifying.  I'll revert back to "Planned" in stylx and leave the domain names as they are.

[2016-01-30 00:34] abouffard commented on #190
The reversion back to "Planned" has been completed locally and is just waiting to be merged into JMSML on GitHub.

[2016-02-01 14:03] csmoore commented on #190
@abouffard - thanks for the update - is there a commit or PR associated with this?

[2016-02-01 15:38] abouffard commented on #190
Not yet, but there will be in the beginning of this next sprint.

[2016-02-01 17:57] csmoore opened #192 "Only show "/" in label expressions when needed"
A few of the label expressions have forward slashes "/" that result in a strange label when the field is not present (see image below).

@abouffard says these "/" are optional and we can substitute with a space which will address the issue shown in the screenshot.

![image](https://cloud.githubusercontent.com/assets/3090809/12726012/57caebea-c8e3-11e5-950b-b111e3d45d08.png)

[2016-02-09 17:06] csmoore commented on #117
Tested on 1.2.5003 and issues are resolved. @jeconley - thanks for your help getting this fixed (and sorry for my delay retesting).

![image](https://cloud.githubusercontent.com/assets/3090809/12923890/7fe99b74-cf25-11e5-9cea-954a4e63c093.png)

[2016-02-09 17:06] #117 closed

[2016-02-09 17:12] csmoore commented on #190
I verified this was updated in the JMSML source data (option 1 -  "Planned/Anticipated/Suspect ==> Planned) - [that PR is pending](https://github.com/Esri/joint-military-symbology-xml/pull/250).

[2016-02-09 17:12] #190 closed

[2016-02-09 17:18] csmoore commented on #139
Closing as non-repro

[2016-02-09 17:18] #139 closed

[2016-02-09 17:30] abouffard commented on #190
Thanks for verifying @csmoore

[2016-02-09 17:54] csmoore commented on #69
I re-tested on 1.2.5003 and this issue still appears - but only if you zoom out greater than the extent of the basemap:

Ex1 (Full Extent):
![image](https://cloud.githubusercontent.com/assets/3090809/12925120/c6d7955e-cf2a-11e5-9649-a28d62536973.png)

Ex2 ( > Full Extent):
![capture](https://cloud.githubusercontent.com/assets/3090809/12925409/1cdfe4f0-cf2c-11e5-8672-8570d18878d1.PNG)

I am going t

[2016-02-09 18:29] csmoore commented on #111
Changed milestone - this will be addressed when we can address #108 in Pro

[2016-02-10 19:01] csmoore opened #195 "CIM 1.2 mil2525c and app6b style missing outline in Runtime"
Runtime Quartz added code to convert a text outline to a text halo, but when we upgraded these styles from 1.1 to1.2 the width attribute was lost/set to zero. As a result these text symbols do not have a Text Outline/Halo:

See if we can set this back without affecting Pro 1.2.

Old/CIM 1.1:

[code]

New/CIM 1.2:

[code]

Works if we use CIM 1.1 style:
![image](https://cloud.githubusercontent.com/

[2016-02-12 23:35] Dbarnes1 commented on #93
@csmoore if put in a readme, will Archie's test dataset documentation cover this issue? if not I can create a readme file from this doc:
[Steps to Join XLS Table to fishnet points.docx](https://github.com/Esri/military-features-data/files/128856/Steps.to.Join.XLS.Table.to.fishnet.points.docx)

[2016-02-15 19:19] csmoore commented on #93
@Dbarnes1 - this issue was specific to the pairwise (which Archie hasn't started working on) - but the pairwise and comprehensive test dataset creation workflow should be 60% similar and can be combined if possible/helpful.

[2016-02-17 17:31] csmoore opened #197 "Mil2525D Symbol Keys/Icon Ids Missing for a few symbols"
While testing in runtime, I noticed that the symbols below were missing a symbol key in the [mil2525d.stylx](https://github.com/Esri/military-features-data/blob/v.next/data/mil2525d/core_data/stylxfiles/mil2525d.stylx). This appears to be similar to the issue observed in #190 where @abouffard made some minor name icon changes that necessitated that the stylx file be [regenerated end-to-end](https:

[2016-02-17 23:50] jrweakland commented on #65
@csmoore - I believe that this issue belongs to you now.

[2016-02-18 15:47] csmoore commented on #65
Still an issue - not sure why it wasn't in our current list of bad weather symbols - https://github.com/Esri/military-features-data/issues/146 , but I just added there and will close this one as a repeat for simplicity.

![image](https://cloud.githubusercontent.com/assets/3090809/13148719/7b5e8ff2-d62c-11e5-877b-b17040b7791d.png)

[2016-02-18 15:48] csmoore commented on #65
Closing - duplicate of https://github.com/Esri/military-features-data/issues/146

[2016-02-18 15:48] #65 closed

[2016-02-19 22:37] joebayles commented on #174
@Dbarnes1
For Boundary Lines (25110100), there should always be two labels, identifying the two units on either side of the boundary. There should also be a single echelon indicator in the middle of the line.
![image](https://cloud.githubusercontent.com/assets/5016557/13191076/1a1871e6-d716-11e5-96df-9d830c070cf9.png)

My understanding is that Unique Designation and Unique Designation 2 should be

[2016-02-22 13:49] csmoore commented on #174
I see this Boundary Line issue also (Pro 1.2, mil2525.1.2 screenshot below). @Dbarnes1 did make a good faith effort to check all the Control Measure symbols and labels (comprehensive [test dataset of this here](https://github.com/Esri/military-features-data/blob/v.next/data/mil2525d/test_data/projects/ControlMeasuresAll.ppkx) ) - but that symbol lacks a clear template that demonstrate the labels/a

[2016-02-22 14:20] joebayles commented on #174
Agreed the standard is vague - @abouffard can you work with the team to draft a CR requesting clarification?

[2016-02-22 14:36] csmoore commented on #174
@Dbarnes1 - at some point (during 1.3) we probably need to take another pass at capturing an accurate master list of the labels problems in style. Looking at the test dataset it shows only about 15 symbols (X 4 affiliation) with missing labels and that number may be low (ex. it doesn't include the symbols listed in this issue). Also the test dataset still shows issues that appear to be fixed, ex:

[2016-02-22 15:18] Dbarnes1 commented on #174
@csmoore thanks for the clarification. I agree that we should update the style to improve accuracy for 1.3

[2016-02-22 15:57] ottenw commented on #174
IMHO the 2525D pictures of boundary lines is extremely confusing.  We did not have this problem in 2525A/B/C.  From 2525C:
![boundary example](https://cloud.githubusercontent.com/assets/6909159/13223616/a3a22336-d94a-11e5-8af2-1bb59065d649.JPG)

[2016-02-22 16:46] abouffard commented on #174
@ottenw , let's work together to draft a CP to make the boundary doc in 2525D Change 1 better.

[2016-03-02 15:40] csmoore commented on #135
@jeconley @Dbarnes1 - just an update - I retested with Pro 1.2 and this is a little better. DictionaryRenderer multilayer marker symbols at Pro 1.2 do appear to be drawing with billboards now (screenshots below) - although I am not sure how to resize them (or set to a fixed size) – and the central/component icons do at times flicker(turn on/off).

![billboardunits](https://cloud.githubusercontent.

[2016-03-02 15:41] csmoore commented on #189
Fixed in https://github.com/Esri/military-features-data/pull/199

[2016-03-02 15:41] #189 closed

[2016-03-02 15:57] csmoore commented on #55
Moving to next milestone. I also updated the original issue description to clarify

@Dbarnes1 - issues like this are probably another reason we need a top-level task to review label placements

[2016-03-02 16:05] csmoore commented on #105
I'm going to close this issue if there are no objections.

The Military Overlay template as well as all the sample projects at https://github.com/Esri/military-features-data/tree/v.next/data/mil2525d do have templates included with them - and most will start with one of them.

The auto-populate tags from style tags is a good idea though - it would really save us time creating template -  @Dbarnes1

[2016-03-02 16:05] #105 closed

[2016-03-02 16:08] csmoore commented on #174
Moving to next Milestone - we should probably do a comprehensive label placement check and do a single table/issue for that like we did last summer with the missing labels

[2016-03-02 16:12] csmoore commented on #132
Moving to next milestone. This has improved greatly but I still do see from time to time with larger/more complex symbol datasets so if possible we would like get to the bottom of this for 1.3.

[2016-03-02 16:17] csmoore commented on #129
Moving to next milestone.

@Dbarnes1 @abouffard - this will be a bigger issue with the legacy renderer which currently assumes that there are 4 versions of each controlmeasure symbol (like it does with full frame icons) - so these likely will not display at all there and we may need to fix these as part of that effort (or come up with a way of having the legacy table communicate which control meas

[2016-03-02 16:18] csmoore commented on #140
And again

[2016-03-02 16:21] csmoore commented on #197
Assigning to @Dbarnes1 to check these since he is recreating the style from scratch this week

[2016-03-03 02:51] joebayles commented on #174
:+1:

[2016-03-03 20:03] joebayles commented on #135
@csmoore it's just a guess, but the flickering may be due to a conflict with the depth priority. Right-click on the layer, and select Depth Priority > Bring to Front.

[2016-03-03 20:26] jeconley commented on #135
This could be a z-fighting issue since these are likely multilayer symbols.  @mbriat is confirming that we push everything into one symbol.  I will try to confirm that this is what the issue is.  Unfortunately, z-fighting is a known limitation in some cases in 3D.  The only way to avoid it may be to alter some of the properties of the symbols.  I will let you know once I investigate some.

[2016-03-03 20:37] mbriat commented on #135
Actually, it seems like each individual component of the symbol is its own graphic, so z-fighting is the most likely problem here. We need to evaluate an update in the pro dictionary renderer (which would be similar to what runtime does actually). The reason it is like this is for a more efficient caching logic, but it  does not appear to be the correct approach.

[2016-03-11 19:44] csmoore commented on #187
Verified the workaround of removing the subtypes

[2016-03-11 19:44] #187 closed

[2016-03-15 20:56] joebayles opened #202 "Center Point changes with Echelon"
I've noticed that the _center_ point changes when adding an echelon modifier to a symbol. Interestingly, the _anchor_ point does not change.

ArcGIS Pro 1.2 Final (Build 5023)
[Military Overlay Template](http://solutions.arcgis.com/defense/templates/military-overlay/)
1. Create a unit, like the one above (Edit > Features > Create)
2. Rotate that unit (Modify Features > Alignment > Rotate)
3. Expec

[2016-03-15 20:56] joebayles opened #203 "Rendering equipment without the frame"
We should provide a method to easily render equipment without the frame and colored appropriately, like Table VI MIL-STD-2525D 5.3.4:
![image](https://cloud.githubusercontent.com/assets/5016557/13792809/f7a33b56-eab0-11e5-9aa9-55ab3a55ba22.png)

I suggest adding an attribute in the Land Equipment symbol set that is binary (Framed/Unframed), and it renders properly.

[2016-03-15 21:08] joebayles opened #204 "Unable to Rotate Dictionary Renderer Symbols"
### Tasks
- [ ] Is this currently fixed (verify by a PE)

### Initial Comments
I've noticed that I am unable to rotate symbols.

ArcGIS Pro 1.2 Final (Build 5023)
[Military Overlay Template](http://solutions.arcgis.com/defense/templates/military-overlay/)
1. Create a unit, like the one above (Edit > Features > Create)
2. Rotate that unit (Modify Features > Alignment > Rotate)
   - Expected Behavio

[2016-03-15 22:34] csmoore commented on #202
Can you provide some more detail on how you are showing/enabling these center/anchor points in Pro. And do these points vary from the actual **feature** point?  When I turn on the feature point I don't notice this issue:

![image](https://cloud.githubusercontent.com/assets/3090809/13796334/85df3e44-eadc-11e5-99db-e70b1e9c675b.png)

[2016-03-15 22:38] joebayles commented on #202
Sure, sorry my initial explanation was vague. You're right, the feature point hasn't changed at all. The issue is that if you went to rotate that unit symbol, the rotation won't center on unit symbol but on the echelon modifier (not that it matters anyway, because it won't rotate). Is that more clear? Thanks @csmoore

[2016-03-21 18:44] csmoore commented on #203
The way this was previously discussed and recorded (in previous team meetings and in cim_rule_engine/issues/69 which has not yet been implemented ) was as a global renderer setting - but sounds like you would like this a as a per-feature attribute so we should discuss if you would like that referenced issue changed.

But setting this to deferred for now unless this is needed for a specific project

[2016-03-21 18:47] csmoore commented on #204
@joebayles - can you provide a more detailed repro-case (using this version of Pro, load the data from here, do this, etc.) - so we can use this issue to propose a Pro CR.

Also please indicate if this needed for a project or just an enhancement request.

[2016-03-21 18:52] csmoore commented on #202
Sounds like this can be deferred until https://github.com/Esri/military-features-data/issues/204 is addressed unless this is a high priority and should be addressed at the same time, if so please provide a more detailed [repro case similar to the comments here](https://github.com/Esri/military-features-data/issues/204#issuecomment-199421758)

[2016-03-21 23:18] joebayles commented on #203
Deferment is fine until issue solution is implemented. At a minimum documentation on how to turn equipment frames on and off. Best case scenario, default one way or another and have the ability to change individual ones.

[2016-03-21 23:39] joebayles commented on #204
ArcGIS Pro 1.2 Final (Build 5023)
Military Overlay Template (from NSEC portal)

1. Create a unit, like the one above (Edit > Features > Create)
2. Rotate that unit (Modify Features > Alignment > Rotate)
  * Expected Behavior: Symbol rotates on anchor point (center of rectangle)
  * Unexpected Behavior:
    * Without echelon modifier: Symbol moves like it is being rotated on center of rectangle, bu

[2016-03-21 23:42] joebayles commented on #202
ArcGIS Pro 1.2 Final (Build 5023)
Military Overlay Template (from NSEC portal)

1. Create a unit, like the one above (Edit > Features > Create)
2. Rotate that unit (Modify Features > Alignment > Rotate)
* Expected Behavior: Rotation tool circle centers on the center of the rectangle
* Unexpected Behavior: Rotation tool circle centers on the center of the echelon modifier

This and #204 are linked.

[2016-03-22 12:29] csmoore commented on #204
@joebayles - thanks for the very good repro cases - I directly edited the original issue descriptions with these (so this info is there) and linked to a public version of the template (so other teams who will need to work on this will  have access to)

[2016-03-22 12:33] csmoore commented on #204
@jeconley - we would like to propose a Pro 1.3 CR for this if possible

[2016-03-22 12:44] csmoore commented on #203
Sounds like the requirement is indeed to be able to display both framed and unframed symbols in the same layer so the approach in cim_rule_engine/issues/69 (use a global setting on the layer or renderer) will not work.

Do we need to re-evaluate (and edit) that issue (cim_rule_engine/issues/69 ) before the DictionaryRenderer software and CIM is changed to work with that approach?

[2016-03-22 16:46] csmoore opened #205 "Update Readme &/| CONTRIBUTING.md with level of support for legacy standards"
Once our team comes to a consensus on the level of support for legacy standards (2525C, APP6B) we may want to update the Contributing and/or Readme with this information so users will see this information when they go to record new issues.

https://github.com/Esri/military-features-data/blob/master/CONTRIBUTING.md

Examples of a few cases where this issue has come up and where we want to have some

[2016-03-22 17:25] jeconley commented on #204
Can you tell me a specific symbol to try with and without the echelon?  I can repro the problem without the echelon but haven't located a feature template yet that has one.

[2016-03-22 18:43] csmoore commented on #204
@jeconley - sorry I didn't realize the echelon thing was in this issue (I thought it was just rotating DictionaryRenderer symbols in general):

To edit a feature to change this, pick one of the symbols in the LandUnits layer and change the "echelon" attribute.

![image](https://cloud.githubusercontent.com/assets/3090809/13963494/fc453b56-f03b-11e5-8b26-ecef3629b705.png)

[2016-03-22 19:12] jeconley commented on #135
CR329504 has been entered and is currently marked priority yes for Pro 1.3.

[2016-03-22 19:13] jeconley commented on #204
Thanks @csmoore.  CR329504 has been entered and is currently marked priority yes for Pro 1.3.  It looks like this has the same underlying causes as issue with the z-fighting.

[2016-03-23 18:08] csmoore opened #206 "Add GetSymbolImage/GeneratePreview to Pro SDK CIMDictionaryRenderer"
Our military symbol SDK users often have the need to create a “Complete Preview Symbol” for military symbols`*`. These are useful for a number of Military Symbol scenarios that don't involve drawing on a map - for example:

1. So the user can see the full/completed symbol (in a custom SDK plugin) to verify it is correct before adding to the map [as done in this app/repo (Internal) ](https://github

[2016-03-23 18:20] csmoore commented on #206
@jeconley - sorry this is a somewhat complicated one, but we were wondering if you can add this CR as a 1.3 request. This is for the Pro SDK so I'm not sure if there is anything we need to do differently.

@tlauver - can you also look this over (& feel free to edit the original issue if you notice any errors)

[2016-03-23 18:33] jeconley commented on #206
@csmoore We will take a look.  I will talk to @mbriat and make sure it is feasible.

[2016-03-23 19:29] csmoore commented on #206
@jeconley - thanks again - I was hoping this issue/work would be related to and/or able to be combined with the work to get 3D images and rotation working by treating these markers as a single discrete/cached image (like I believe Runtime does)

[2016-03-25 15:29] mbriat commented on #204
I don't see anything that will persist the rotation as expected. I'm seeing the same behavior with a simple renderer. Seems like the rotation tool should not be available if the angle cannot be persisted.
I'm seeing a Symbol Size and Symbol Rotation field, but they cannot be used with a Dictionary renderer like other renderers (burger/review connected attributes/Rotation-Size).

[2016-03-25 23:22] mbriat commented on #204
Some echelons have really large sizes and it seems the rotation centers in the middle of the bounding box. This happens to fall on the echelon mark for some echelon values. Here is the bounding box as seen by the scale tool
![image](https://cloud.githubusercontent.com/assets/7505455/14056100/e01821c6-f2a4-11e5-9ce0-707eda69ade5.png)
Happens for Battalion/Squadron, Company/Battery/Troop and Regimen

[2016-03-28 13:31] csmoore commented on #204
@mbriat - thanks for having a look - I don't recall having to do anything special with those when I was just drawing with the SVGs but we can have a closer look - especially if this is the only issue causing this behavior.

@Dbarnes1 - while we are planning on editing a bunch of SVGs this sprint we may want to take a look at these 3 - and if they don't already have the "reference frame" embedded w

[2016-03-29 22:37] jeconley commented on #204
A fix has been installed and will be available in build 5603

[2016-04-01 14:55] jrweakland opened #209 "Duplicate Domains?"
There seems to be duplicate domains in the Military Overlay geodatabase located at http://www.esri.com/apps/products/download/index.cfm?fuseaction=download.main&downloadid=1857.

- [x]  CountryCodes and CountryCodes_1
- [x] Credibility and Credibility_1
- [x] TrueFalse and TrueFalse_1

[2016-04-01 15:20] csmoore commented on #209
I can have a look but I would suspect that this has more to do with having created the template multiple times, perhaps even at the same location, than anything in the source data.

Can you try from a new project or perhaps deleting/renaming the folder/project at (ex. at `\Documents\ArcGIS\Projects`)?

[2016-04-01 15:26] csmoore commented on #209
I stand corrected - I do see the problem also - I have no idea how they could of gotten there - but the problem is also in the version here: https://github.com/Esri/military-features-data/tree/master/data/mil2525d/core_data/gdbs (so at least they are the same/consistent):

![image](https://cloud.githubusercontent.com/assets/3090809/14211446/25355088-f7fc-11e5-96c9-8b70e3605259.png)

Assigning to @

[2016-04-01 17:13] Dbarnes1 commented on #209
I'll fix this and include it in the template update, thanks for the catch @jrweakland

[2016-04-01 22:53] Dbarnes1 commented on #209
https://github.com/Esri/military-features-data/pull/210
Updated GDB has duplicate domains removed on GitHub. I'll update the gdb in the template next

[2016-04-04 15:09] Dbarnes1 commented on #209
https://github.com/Esri/military-features-data/pull/210
fixed gdb has been incorporated into new Template, Project, Project Package, and Layer Package. I'll get it on the downloads site next.

[2016-04-07 20:59] Dbarnes1 commented on #209
New GDB is in Military Overlay template version 1.0.1 which is downloadable here: http://www.esri.com/apps/products/download/index.cfm?fuseaction=download.main&downloadid=1873

and documentation is ready for april release of solutions website.

[2016-04-07 21:09] csmoore commented on #209
@jrweakland is the issue originator so would normally be assigned to verify - but I don't mind doing as part of PR #210 (Jim may want to test the download item)

[2016-04-08 17:07] abouffard opened #211 "Boundary Text Is Not Drawing Correctly"
_From @abouffard on April 8, 2016 7:26_

This might not be an issue with the editor, but was noticed when testing.

The unique designation text is not being drawn correctly.  The two strings should be drawn on opposing sides of the line.

![boundary label](https://cloud.githubusercontent.com/assets/4564846/14376663/7d466530-fd30-11e5-97eb-d14e9d13957b.JPG)

Here is the boundary guidance from 2525:

[2016-04-08 17:07] abouffard commented on #211
_From @csmoore on April 8, 2016 12:5_

@abouffard That is definitely an issue with the data - can you move this issue to https://github.com/Esri/military-features-data ( I would guess it already exists there - ex. these look similar:  https://github.com/Esri/military-features-data/issues/66 & https://github.com/Esri/military-features-data/issues/174 )

But if even you are unsure - then that tells

[2016-04-08 17:08] abouffard opened #212 "Moving a Point Feature Shows the Selected Feature In an Unexpected Place"
_From @abouffard on April 8, 2016 7:13_

This is probably not an issue for the editor but was observed when editing features while testing, so is being entered here.

When selecting an air feature to move it, the yellow filled circle that appears is not centered on the air frame itself.  It seems to be off-center, left of where I'd expect it to be.

When moving a sea surface feature, the filled ye

[2016-04-08 17:08] abouffard commented on #212
_From @csmoore on April 8, 2016 12:10_

See comments at: https://github.com/ArcGIS/military-symbol-editor-addin-wpf/issues/27#issuecomment-207401506 - there was a similar issue involving rotating symbols with the echelon ( https://github.com/Esri/military-features-data/issues/202 )

Assigning @abouffard to move issue and/or add to https://github.com/Esri/military-features-data/issues/202

[2016-04-14 17:06] csmoore commented on #209
I verified that the extra `_1` domains are no longer present in the militaryoverlay.gdb in PR #210

![image](https://cloud.githubusercontent.com/assets/3090809/14536666/89fe914c-0241-11e6-965b-fb787a19a466.png)

![image](https://cloud.githubusercontent.com/assets/3090809/14536676/95166780-0241-11e6-8206-6be4cd0c7d35.png)

[2016-04-14 17:06] #209 closed

[2016-04-19 14:16] csmoore commented on #204
@joebayles - sounds the **rotation** issue (third step/issue in description) is ready to verify on Pro 1.3.5603+

This doesn't address the second step/issue in the description - **anchor/center point changing with echelon issue** but that issue appears to be a repeat of - https://github.com/Esri/military-features-data/issues/202 (and perhaps also https://github.com/Esri/military-features-data/issu

[2016-04-19 14:23] csmoore commented on #202
MarcO said the symbol scale is out-of-whack for the echelons once they are in the Pro Style - https://github.com/Esri/military-features-data/issues/204#issuecomment-201580021

But I don't see that in the source SVGs (image of echelon overlaid on reference octagon on left)- so presumably this is happening in the conversion process:
![image](https://cloud.githubusercontent.com/assets/3090809/1464228

[2016-04-25 14:19] jeconley commented on #206
CR331592 has been added.

Additional information from Charlie Macleoad regarding the best approach for adding this to SDK:
We have a capability for symbol preview already on the style item so we definitely want to use that. The trick, if you will, is getting “the” symbol to preview. We already have a static factory class “SymbolFactory” that is capable of generating symbols so we will modify ~that

[2016-04-25 15:11] csmoore commented on #206
@jeconley - many thanks for the update & CR - changing the design/implementation sounds fine. The original method/example was mainly to motivate the user requirement of being able to generate a high-res preview for a composed(with all its parts-frame, icons, etc.) military symbol.

We have a workaround for this (just draw them from the source SVGs ourselves) - but we do feel this will be an import

[2016-04-25 17:44] joebayles commented on #204
@csmoore thanks for clarifying which issue the fix was installed for.

I updated today (Build 5682), and downloaded a fresh version of the Military Overlay template 1.0.1 (though the name of the aptx is still 1.0.0, something for @Dbarnes1).

I attempted to change the rotation by:
- using the Rotate tool.
- changing the _Direction_ attribute.

Neither worked.

[2016-04-25 18:55] csmoore commented on #204
@joebayles - thanks for testing - I understand step 3 in the original issue description better now - but there is nothing in MilitaryOverlay that does anything with these properties - was that expected? (in ArcMap you could add layer properties to rotate based on an attribute but not sure if this exists in Pro - @Dbarnes1 might know)

@jeconley - just checking what the fix was expected for CR32950

[2016-04-25 20:24] jeconley commented on #204
@csmoore The CR essentially just combined the different symbol elements into one symbol.  This will not have an impact with the editing tools.  Based on what Marc-O has said, it is my understanding that the rotation editing tool will only 'work' even there is a place to store the rotation, in other words the rotation is being driven from a field.  I haven't had a chance to try it myself but I can

[2016-04-27 00:03] joebayles commented on #204
@csmoore no problem, happy to do it. I assumed that nothing would happen when I edited that attribute, but I checked anyway. I did expect based on the CR that the Rotate Tool would work. To answer your question about user expectation, I would expect that:
- I would have the ability to choose if I want to rotate a symbol based on any heading/bearing/direction attribute.
- I would have the ability t

[2016-04-27 12:03] csmoore commented on #204
So to try to translates this into something a user would like to do in Pro with a feature layer - do we have 2 issues (neither of which probably have any short term solution - but I would like to at least understand the product problem and the CR we'd like to write):

1. Pro does not support rotating a feature layer symbol based on an attribute ( @Dbarnes1 @BobBooth - do we know this is a fact, I

[2016-04-27 14:17] jeconley commented on #204
@csmoore Pro does support rotating a feature layer symbol based on an attribute.  There are two ways in Pro to do this.

The first is to set it at the layer level which will apply the rotation to all of the symbols in the layer.  This is supported for the single symbol, unique value and graduated symbol renderers.  This is found under the 'Review connected attributes' option in the menu on the ren

[2016-04-27 15:05] csmoore commented on #204
@jeconley - many thanks for showing us how to map symbol attributes for a (non-dictionary) layer (I will learn that hamburger button one day) - I guess we do need to work together to figure out how to get rotation and scale working similarly for the dictionary renderer

@joebayles - if you need a rotation indication before 1.4 the method Jamie outlines will likely be your only near term choice - a

[2016-05-04 13:20] esride-sju opened #215 "BUG-000090773 SIDC symbol for APP6-B standard doesn’t provide correct symbology"
This Issues is an issue in the symbol dictionary and should be logged here.

It is already listed:

BUG-000090773: SIDC symbol for APP6-B standard doesn’t provide correct symbology for ArcGIS Runtime for Qt 10.2.6 version

[2016-05-04 13:21] esride-sju opened #216 "MessageProcessor() should support the display option “Frame=on, Fill=on, Icon=on", often called framed"
This Issues is an issue in the symbol dictionary and should be logged here.

It is already listed:

ENH-000090652 - MessageProcessor() should support the display option “Frame=on, Fill=on, Icon=on", often called framed

[2016-05-04 13:21] esride-sju opened #217 "BUG-000090614 Modifiers and designators are not applied correctly to some military symbols in the ArcGIS Runtime SDK for Qt C++ API"
This Issues is an issue in the symbol dictionary and should be logged here.

It is already listed:

BUG-000090614 - Modifiers and designators are not applied correctly to some military symbols in the ArcGIS Runtime SDK for Qt C++ API.

****
LDF Update 2/7/2018
Reported on Runtime 10.2.6
data is here: ...\PRD\Attachments\Defects\BUG-000090614

1. Download the attached "ImageProblems2.zip" file. Unz

[2016-05-04 13:22] esride-sju opened #218 "BUG-000090508 Some identity and status options for military symbols in the ArcGIS Runtime SDK for Qt API are not honored"
This Issues is an issue in the symbol dictionary and should be logged here.

It is already listed:

BUG-000090508 - Some identity and status options for military symbols in the ArcGIS Runtime SDK for Qt API are not honored.

LDF 1/31/2018: Updated with additional information from the issue:
1. Download the attached "MilitarySymbols.zip" file. Unzip this file. Note the file contains a Qt Project an

[2016-05-04 13:22] esride-sju opened #219 "The MessageProcessor class does not support the full set of keywords defined by the MIL2525C and APP6-B military symbol standards"
This Issues is an issue in the symbol dictionary and should be logged here.

It is already listed:

ENH-000090547 The MessageProcessor class does not support the full set of keywords defined by the MIL2525C and APP6-B military symbol standards

[2016-05-04 13:56] csmoore commented on #219
The list of 2525C attributes supported is here: https://github.com/Esri/military-features-data/tree/master/data/mil2525c#modifier-label-fields

Can you provide an example/list of keywords/attributes not supported?

[2016-05-06 19:58] jeconley commented on #206
Fix has been installed and will be available in build 5717 or later.  @csmoore when the build is available can you verify that everything is working as expected.  I am not able to easily verify this and will need someone to do the testing so I can verify the CR.  Thanks.

[2016-05-09 06:50] Ricksson83 commented on #219
The MessageProcessor supports some keywords like
Message message;
QUuid uuid = QUuid::createUuid();
message.setMessageId(uuid.toString());
message.setProperty("_type", "position_report");
message.setProperty("_action", "update");
message.setProperty("_control_points", "7846271.25206,4091857.83028");
message.setProperty("sic", "SFGPUCRRL--E---");
message.setProperty("_wkid", "3857");
message.setPro

[2016-05-09 12:43] csmoore commented on #206
Sure - I'll give it a test out early this week (hopefully today) - thanks for getting this in & letting us know

[2016-05-16 13:02] gradzevicius opened #221 "APP6(C,D) versions for ArcGIS Desktop"
When versions APP6(C,D) will be provided for ArcGIS Desktop?

[2016-05-16 13:57] csmoore commented on #221
MIL-STD-2525D which I believe is equivalent to APP-6(D) is provided with ArcGIS Pro 1.0+ but it is not included with ArcGIS Desktop 10.X.

The highest supported version of APP-6 in Desktop 10.X was (B) as a Military Feature Template (a set of styles and GDB with create feature templates): http://www.arcgis.com/home/item.html?id=80eb1c0e1cca4036af4cf00f28cf6398

[2016-05-18 05:27] #221 closed

[2016-05-25 21:15] Dbarnes1 commented on #174
These label issues are persisting with some of the lines/areas for the 2525C implementation. Thanks to @BobBooth for noticing this in our 2525C test dataset. I think that this serves as a reminder that we should do a comprehensive label placement check once our current project ends.

[2016-05-31 17:55] joebayles commented on #203
@csmoore I can't see that cim_rule_engine issue anywhere.

[2016-05-31 18:05] csmoore commented on #203
@joebayles - it is there - perhaps an access issue?

[2016-06-01 14:56] joebayles commented on #203
A combination of that and user error. Figured out that I could just log in with my credentials, but now I realize I don't have access to anything.

[2016-06-01 15:21] csmoore commented on #203
I can provide the synopsis - we are waiting for the settings capability to be released with Runtime Quartz and then update the API+plugin for Pro - so probably late 2016 in before it would show up in Pro (the issue doesn't mention a specific product - but the capability will show up in Runtime first).

This will provide the settings capability, but also an issue/dependency - we don't yet have a wa

[2016-06-02 15:01] joebayles commented on #203
Understood @csmoore . I think separate layers is fine, they're be thought of differently anyway.

Joe

[2016-06-08 10:28] haider-ali opened #224 "Importing Mil2525D in java runtime + 2525d runtime documentation error"
I have  created a folder in **{Runtime Install}\resources\symbols\** as **mil2525d** and placed **mil2525d.dat**(Renamed the file extension from .stylx to .dat) in it, now how can i use this style in my java app .

I was following the instructions in this [link](https://github.com/Esri/military-features-data/tree/master/data/mil2525d/core_data/stylxfiles#usage)

[2016-06-08 12:53] csmoore commented on #224
Unfortunately, 2525D/Delta won't officially be available in Runtime until Quartz (it is available in Pro 1.0+ if that helps).

There may have been some betas/engineering previews with this capability (there would be a `"resources/plugins"` folder instead of a `symbols` folder in this case), but I don't think there were any official releases (until Quartz)

[2016-06-08 16:05] haider-ali commented on #224
i was following this [https://github.com/Esri/military-features-data/tree/master/data/mil2525d/core_data/stylxfiles#usage ](url)

[2016-06-09 14:04] csmoore commented on #224
Sorry - that documentation is an error - we were expecting the 2525d capability in 10.2.4 but it got removed - sorry about that - I will assign this issue to me to fix the page

[2016-07-21 20:14] csmoore commented on #135
I'm pretty sure this is fixed (since I saw @Dbarnes1 demo) - but assigning to @Dbarnes1 to verify

[2016-07-21 21:34] Dbarnes1 commented on #135
@csmoore verified

[2016-07-21 21:34] #135 closed

[2016-07-22 13:25] csmoore commented on #86
As of Runtime Quartz Beta, these files have been removed from Runtime now that the DictionaryRenderer is a full-featured renderer - those settings have been moved to renderer properties (all except symbol-scale factor which is still being worked/added for final)

[2016-07-22 13:25] #86 closed

[2016-07-22 13:30] csmoore commented on #197
Fixed in latest style in v.next

[2016-07-22 13:30] #197 closed

[2016-08-12 15:51] csmoore commented on #206
This has been added to Pro 1.3 SDK - we have a separate issue raised to be able to export images >64 pixels but we can close this one

[2016-08-12 15:51] #206 closed

[2016-08-12 15:54] csmoore commented on #71
This API has been changed at Runtime Quartz so this issue should be resolved there with the new search capability and swatch export - I removed the old test apps for now (in branch https://github.com/Esri/military-features-data/tree/v.next/test ) until these apps are updated to Quartz (there is a Qt sample there)

[2016-08-12 15:54] #71 closed

[2016-08-23 22:12] Dbarnes1 commented on #93
@csmoore closing this issue. Pairwise test data has been documented, updated so that it is repeatable. https://github.com/Esri/military-features-data/tree/v.next/data/mil2525d/utilities/pairwise-testing

[2016-08-23 22:12] #93 closed

[2016-09-29 15:57] csmoore opened #241 "HigherFormation label missing in unit labels"
###### Summary of Issue Encountered:
- [x] Add a descriptive Title and brief/summary comment

Reported by customer - the HigherFormation Label is missing

![image](https://cloud.githubusercontent.com/assets/3090809/18961482/3835882e-863b-11e6-8ed9-19d83d878041.png)
- [x] Describe the product and version where issue was encountered

Pro 1.0+, Runtime 100.0 Beta
- [x] Include the military symbology

[2016-09-29 20:21] csmoore commented on #241
Fixed in generator script in #242

![image](https://cloud.githubusercontent.com/assets/3090809/18970773/a0b04b62-8660-11e6-884f-76f863aa10e4.png)

[2016-10-04 19:48] csmoore commented on #241
Verified fixed in styles in #243

[2016-10-05 12:41] csmoore opened #244 "Reinforced Label/Domain incorrect for Military Points/Units"
#### Summary of Issue Encountered:
##### Add a descriptive Title and brief/summary comment:

The label for Reinforced/Reduced (Field ID F) is incorrect. It shows as a "0" "1" "2" instead of "+" "-" "+/-"

![image](https://cloud.githubusercontent.com/assets/3090809/19112662/2057eb8c-8ad4-11e6-88a0-b451bc1d7c62.png)

This is because the [domain is incorrect for the field "reinforced"](https://github

[2016-10-06 14:59] Dbarnes1 commented on #204
@joebayles @csmoore I recently touched base with the Pro team about creating visual variables for the dictionary renderer, which would enable attribute based symbol rotation (the first option Jamie presents above) and they entered it in their backlog for Pro 2.0 (v.next after 1.4)

[2016-10-24 13:17] csmoore opened #245 "MilitaryOverlay.lpkx feature class names have '_1' added to name"
When the latest version of the [MilitaryOverlay.lpkx](https://github.com/Esri/military-features-data/blob/v.next/data/mil2525d/overlay_templates/layerpackages/MilitaryOverlay.lpkx) is added to Pro (1.2+) the feature class names have an extra '_1' on the name.  As a result, these incorrect names cause the Pro Symbol Editor to fail to find the correct feature class/schema to work with the app.

Mili

[2016-11-01 21:40] csmoore opened #248 "Add Fringe Attribute to Style Meta Table"
For 100.0, Runtime needs to add a new attribute to the meta table with this value/default:

![image](https://cloud.githubusercontent.com/assets/3090809/19908850/60291730-a05b-11e6-8e2f-49dedc1caa60.png)

The 2 styles and source table should be updated with this attribute:
https://github.com/Esri/military-features-data/tree/master/data/mil2525c_b2/core_data/stylx
https://github.com/Esri/military-fe

[2016-11-02 15:29] Dbarnes1 commented on #245
@csmoore I was able to verify this issue is fixed- closing

[2016-11-02 15:29] #245 closed

[2016-11-02 17:31] Dbarnes1 opened #250 "Military Overlay assistance with portal publishing workflow"
Yesterday, I recieved an email from an account manager (DM) asking to assist contractors working with his customer on getting our Military Symbology solution working. It looks like they are having trouble publishing feature services that are using the dictionary renderer to display 2525B Change 2 symbols from ArcGIS Pro 1.2 to their instance of Portal 10.4.1. Here is the specific text from that em

[2016-11-02 18:04] nfeuerstein commented on #250
Thank you @Dbarnes1 for making this issue visible!

It sounds like, at this point, it is still a conversation in order to identify the root cause of the issue.  If a BUG is identified, after the conversation tomorrow, then please log it here and add it to the backlog.  I'll prioritize....and it will be a high priority.

[2016-11-02 19:50] ACueva commented on #250
@Dbarnes1 Who is "we"?  First thing, ArcGIS Server logs need to be viewed.  We should be able to get clearer indication of what exactly is going on.

@nfeuerstein @lfunkhouser, my initial thoughts are we should involve support.  Let them be the first line of defense.  If they identify the issue is with our solutions then we can hop in and assist.  At this point it could just be an issue with their

[2016-11-02 20:23] Dbarnes1 commented on #250
@ACueva I'm currently working with @elinz on the publishing workflow. Looks like the meeting may get pushed back anyway, but I"ll send you an invite.

The reason I didn't redirect to support is because this template has been released, but the most recent version (2525Bc2 support in Pro 1.2) is the one that we handed off to the customer directly outside of our normal release cycle. One of our remai

[2016-11-02 20:35] ACueva commented on #250
@Dbarnes1 No worries on the invite.  I'm sure you're in good hands with @elinz.

The question was more for @nfeuerstein and @lfunkhouser to chime in.  In my opinion we need to figure out whether or not the customer has a functioning ArcGIS Server/Portal configuration prior to us being called in.  The workflow of publishing a service from ArcGIS Pro may actually be what's failing.  We risk getting

[2016-11-02 20:45] elinz commented on #250
@nfeuerstein I had discussed this earlier with @Dbarnes1 and this template has not been released.

[2016-11-02 21:08] nfeuerstein commented on #250
And that's our answer @ACueva - in order to send our customers to support first, the template must be released.

[2016-11-02 21:40] elinz commented on #250
@nfeuerstein I just finished testing the same template the customer has and I've been able to successfully publish a feature/map service using 2525D symbology to 10.4.1 final server/portal. At this point, I don't believe it's an issue with the template, but possibly an issue with their server/portal environment. The issue that the customer is having is with running the out of the box "Share as Web

[2016-11-02 21:45] nfeuerstein commented on #250
@elinz @Dbarnes1 @ACueva - thank you for looking into it, and I think your suggestion is spot on.

[2016-11-09 17:18] Dbarnes1 commented on #248
@csmoore this has been updated on GitHub, closing

[2016-11-09 17:18] #248 closed

[2016-11-24 15:31] NorbertThoden opened #254 "arrowhead on wrong side"
- [ ] Describe the product and version where issue was encountered
ArcGIS Runtime Qt (V100.0) - C++

- [ ] Include the military symbology standard and version/change set (ex. -2525D)
Mil2525D

I created a Mil2525D symbol using the DictionaryRenderer.
The direction of attack symbol has an arrowhead.
The arrowhead is defined to be a the startpoint (P1)
This was true at 10.2.6

Using quartz the arrow

[2016-11-25 17:00] csmoore commented on #254
I wasn't involved in testing this in Runtime v100, but the way I believe it works is:

1. If you use a line/**polyline** geometry the style just follows the line
2. If you use a **multipoint** geometry, the point ordering from the standard should be used

Can you try using a multipoint geometry to see if that works?

Note: for these arrows, the line styles are defined with the arrowhead as the las

[2016-12-02 11:46] NorbertThoden opened #255 "ArcGisRuntimeQt - 3D: Displaying a (multipoint) sidc using the DictionaryRenderer is wrong"
Context:
I use a basic SceneGraphicsView and like to render a couple of sidcs using the DictionaryRenderer.
set to a GraphicsOverlay (DynamicRenderingMode)

Detail:
The first sidc is just a single point sidc, which is displayed fine.

The real sidc '10042500002701000000' is an obstacle.
This is a polygon using a 'decorated' line.
This is display in 2D correct.

![basicsceneview_symbology_building_

[2016-12-02 12:09] NorbertThoden commented on #255
The description is valid for RenderingMode Dynamic.
Using RenderingMode Static, the displayed object is correct
(see known issues: [https://developers.arcgis.com/qt/latest/cpp/guide/release-notes.htm#ESRI_SECTION1_80FE0BCCFC0E4EEC80D82C50EEFF684F](url)

[2016-12-14 11:55] NorbertThoden commented on #254
Hi Chris!
I read the answer, but didn´t recognize the difference. For me it sound weird.
But in the meantime my colleague work on other multipoint graphics like attack and so on.
He assumed that it´s not realistic, that so many sidc does NOT work.
So he played a little bit with MultiPartBuilder, PolylineBuilder and PolygonBuilder.
And success. His sidc and mine (of this post) work now
Now i unders

[2016-12-14 11:55] #254 closed

[2016-12-14 12:06] NorbertThoden opened #256 "Dictionary: Semantik of 'key'"
While working with the Dictionary of V100 i ran into a couple of problems/questions around the result, especially the result.key.

In the first comments i will post these questions, so you can reply to every single question.

All questions are within this document:
[2016-12-13_SymbologyQuestions.pdf](https://github.com/Esri/military-features-data/files/651656/2016-12-13_SymbologyQuestions.pdf)

**

[2016-12-14 12:07] NorbertThoden commented on #256
Question 1: Key containing chars?
About 42 times the key does not contain digits but chars:
(Other problematic keys are: SN/A, SM/A, SL/A, SK/A, SJ/A, SD-/A

Is that intended or a bug?

![grafik](https://cloud.githubusercontent.com/assets/23724249/21181427/2c9e3840-c1fe-11e6-91ed-44361e82cd67.png)

[2016-12-14 12:10] NorbertThoden commented on #256
Question 2: Key and it´s suffix “_C”
About 344 times i got a key containing the suffix “_C”:
(Ok, C is for Charlie. And Charlie could mean Mil2525Charlie.)
![grafik](https://cloud.githubusercontent.com/assets/23724249/21181466/5f2667ce-c1fe-11e6-8121-22089e60bf36.png)

Ok, according to the standard this sidc is an area:
![grafik](https://cloud.githubusercontent.com/assets/23724249/21181471/6929fb0

[2016-12-14 12:11] NorbertThoden commented on #256
Question 3: Key and it´s suffix “_1”, “_2” ...
Often the key of 8 digits has a postfix like “_1”, “_3”, “_4”, “_6”.
First i assumed that this is the identity: “_1” for Unknown, “_3” for Friend and so on.
Here a screenshot my assumption is based on:
![grafik](https://cloud.githubusercontent.com/assets/23724249/21181538/bc9e72a2-c1fe-11e6-91cf-52587478740a.png)

But after a while I found many entrie

[2016-12-14 12:12] NorbertThoden commented on #256
Question 4: Key is empty
About 13 times the key is empty:

![grafik](https://cloud.githubusercontent.com/assets/23724249/21181585/f5ac687e-c1fe-11e6-9ed9-d11f9f638335.png)

The 13 names of these entries are like
-	(1) Protections Line : Mine Cluster
-	(4) Protections Points : Nuclear…
-	(4) Maneuver Areas : Limited Access Area
-	(4) Fire Areas : Area Target

Is that intended or a bug?

[2016-12-14 14:39] csmoore commented on #256
Here is a quick/high-level answer:

1. Most of the key conventions were taken from the naming conventions of the source SVGs documented here:
https://github.com/Esri/joint-military-symbology-xml/tree/dev/svg
(These have the convention: 0 - Unknown,  1 - Friend,  2 - Neutral,  3 - Hostile)

2. However some of the data came from elsewhere, and also represented some of the same symbols, so has a diff

[2016-12-14 14:41] csmoore commented on #255
Sorry for the delay - this 3D rendering issue should be reported directly to customer support. This repo is intended to be used specifically for the issues with the data/styles.

[2016-12-14 15:27] NorbertThoden commented on #255
Hi Chris!
As already posted: it´s a known issue.

[2016-12-14 15:27] #255 closed

[2016-12-15 09:12] NorbertThoden commented on #256
Hi Chris!
Thank you very much for your quick answer!
It´s very helpful.

Just one more related to Question 3: Key and it´s suffix “_1”, “_2” ...:
The first screenshot is showing 5 results:
a) one entry with key 25270100
b) four entries with key 25270100_x
From my point of view they are addressed be your note:

correct?
If so, which part will maybe removed in future?
Or in other words: Do you recom

[2016-12-15 13:34] csmoore commented on #256
You can just use the (a) version - that is the style symbol part you need to get a symbol preview and get the tags/key needed to construct the symbol.

There are no plans to remove these particular entries, these other 4 entries are there:

1. in Control measures (set 25) to have different colored versions
2. in other symbols to have 4 versions that match exactly to the frame  (but note for these

[2016-12-16 07:36] NorbertThoden commented on #256
Hi Chris!
Thanks a lot for your precise answer!

[2016-12-19 17:51] #250 closed

[2016-12-20 16:20] JoergTurla opened #257 "ArcGISRuntime V100: How to display polygon symbols where the geometry is defined by one single anchor point?"
The MIL22525D defines some polygon symbols which requires one anchor point (see attachment). The
size of the shape is determined by additional attributes. For example the shape of
"Rectangular Target" symbol(Symbol Set 25, Code 240802) is defined by the target length and
target width in meters.

![rectangular_1_pt_25_240802](https://cloud.githubusercontent.com/assets/24681300/21357565/e3ecc1a2-c6d

[2017-01-10 23:05] joebayles commented on #202
@Dbarnes1 @csmoore any update on this one?

[2017-01-10 23:06] joebayles commented on #203
@csmoore any update here?

[2017-01-10 23:30] csmoore commented on #203
@joebayles - settings capability was added to Pro, but this was turned over to Core/Runtime, so you might have to ask @nfeuerstein or @lfunkhouser the best way to make this feature request there.

[2017-02-01 08:46] NorbertThoden commented on #257
I have the same question

[2017-02-01 13:27] csmoore commented on #257
Sorry I missed this question earlier. Those attributes:

* "radius"
* "length"
* "width"
* "orientation"

Should be valid field/attribute names (and documented as such). For the particular/odd case where only one width/height is used, I believe a 2 point *line* is expected as the base geometry (PT1 PT2 in the standard illustration-so it has some way to get the other dimension). But if that doesn't

[2017-02-01 14:50] ottenw commented on #257
WRT the "Rectangular Target" symbol (set 25, Code 240802), it is different from other rectangular areas by design.  The attributes of the rectangular target are defined in NATO and US doctrine.  A rectangular target is defined not only by the target length and target width in meters, but also by the target "Attitude", as represented in MIL-STD-2525D by amplifier "AN".  Target attitude is defined a

[2017-02-01 16:36] JoergTurla commented on #257
I checked the WRT symbol (set 25, Code 240802) again, setting now all 3 attributes (width,length, attitude). The result is the same as before. The symbol is not drawn and I get many error messages on console output window.

[2017-02-02 16:31] csmoore commented on #257
@JoergTurla You may just want to confirm that you are using a Multipoint (MultipartBuilder) geometry as the 1 or 2 Pt geometry - mentioned in a previous [issue here if you need more info](https://github.com/Esri/military-features-data/issues/254#issuecomment-262997987) - if that doesn't work you will probably need to submit an issue and use the "Irregular" target symbol versions (defined by only m

[2017-02-03 06:45] JoergTurla commented on #257
Hi Chris,

thanks for your last comment. I changed my implementation to your proposed workaround. Now the 4 verticies of the rectangle defines the geometry of the symbol. By using a PolygonBuilder this works now.

But what about the second expample ("Airspace Coordination Area (ACA) Circular" - symbol set 25, code 240103). The geometry of this symbol is a circle. It would really not be a practical

[2017-02-27 16:55] lfunkhouser opened #259 "BUG-000101873 Some entries in the Mil2525D.stylx file do not have a key"
This issue was logged through Support and Qt is tracking so they can test once it is fixed. This is an issue with the data so it is being logged here.

Repro steps:
1. Navigate to the mil2525d.stylx file that ships with your Qt Runtime 100.0 installation.
2. Open this file using DB Browser for SQLite or a similar program.
3. Click the "Browse Data" tab and then select the "ITEMS" table.
4. In the

[2017-02-27 17:13] csmoore commented on #259
I do see these blank entries (below) -probably because the symbol did not map from 2525C to 2525D (i.e. was "retired").

It is no problem to delete these retired entries on the next update (since they obviously are not used) - I'm not sure how this manifests itself as a bug though with the description provided.

![image](https://cloud.githubusercontent.com/assets/3090809/23371375/f0c29b86-fce5-11e

[2017-03-24 12:15] NorbertThoden commented on #259
Good to know, that esri is going ahead in this issue/bug 👍

[2017-03-24 12:21] NorbertThoden opened #260 "gctString empty 338 times (MIL2525D)"
#### Summary of Issue Encountered:
The Esri Dictionary/DictionarySymbolStyle (MIL2525D) contains about 6800 resultItems.
We reduce them to an amount of ~1900 items relevant for us: so-called Rde-Items.
(by skipping frame symbol, graphical modifier and so on...)

These Rde-Items can be divided into different geometry types: Point, Polyline and Polygon.

The Rde-Items of geometrytype Polyline and Po

[2017-03-24 13:31] csmoore commented on #260
I'm not sure I completely understand the issue - are you trying to determine if a symbol is a Point, Line, or Area symbol?

If so, there is a tag for that (that is actually always located in the index [:-3] if that helps): ex:
![image](https://cloud.githubusercontent.com/assets/3090809/24296114/171666e0-1074-11e7-8b40-aabb80777acf.png)

Those "GCT_" (I think it stood for "Geometry Conversion/Trans

[2017-03-27 08:32] NorbertThoden commented on #260
Hi Chris!

Thank you for answer!

No, i´m not trying to determining the geometry type. I saw the tag and we use that.
(Process the complete item list (~6800) after dictionary is loaded to have a map key to geometry type.
If required the geometry tye is available synchron, not only asynchron.)

But back to our question:

The "GCT_" means "Geometry Conversion/Transformation" - sounds likly.
As i und

[2017-03-27 08:33] NorbertThoden commented on #260
"closing" of the thread was unwanted...

[2017-03-27 12:30] csmoore commented on #260
That is correct, if there is not a "GCT_" string present, then there are no special drawing rules/constraints that apply to that (line/area) symbol.

[2017-03-27 13:00] NorbertThoden commented on #260
Hi Chris!
That´s sounds fine!

BTW: I´m very happy with this forum (and especially your support) 👍

Thx
Norbert

[2017-03-27 13:00] #260 closed

[2017-04-07 16:13] #259 closed

[2017-04-17 15:12] csmoore opened #263 "Implement Runtime/Pro Style Changes for next Release"
#### Summary of Issue:

Runtime has added some additional tables and meta table entries to enhance the dictionaryrenderer.  These changes should be made in the official/maintained version of these style in this repo and tested prior to the next release of these styles/renderers with Runtime + Pro. Just adding an issue now to announce and track this change. Screenshots of changes below - and we can

[2017-04-28 00:04] joebayles opened #265 "Line Control Measures have issues w/ Scale"
#### Summary of Issue Encountered:

##### Brief summary of issue encountered:

##### Describe the product and version used:
10.5 Portal

##### Include the military symbology standard and version/change set (ex. -2525D):

#### Reproduction Steps and/or Where to Obtain Test Data:
https://nationalsecurity.esri.com/portal/home/item.html?id=9b94ddf19dab424aa490f68153798747

##### Step-by-step descripti

[2017-04-28 13:07] csmoore commented on #265
This should be a known issue with the DictionaryRenderer in Pro & Runtime.

The only way to do this (not have the line styles scale) currently, is to set the Reference Scale on the Map.

[2017-04-28 17:12] joebayles commented on #265
Agreed, I had to run before I completely filled it out, but I did want to capture it as an issue.

[2017-05-16 16:47] jeconley commented on #132
@csmoore @Dbarnes1 Do you still see this issue?  I am not able to repro it with the test case I have?

[2017-05-16 16:52] Dbarnes1 commented on #132
I don't see this anymore, but can leave to @csmoore to close out.

[2017-05-16 16:56] csmoore commented on #132
I don't see testing with this dataset on Pro 1.4 - closing - thanks for the reminder

[2017-05-16 16:56] #132 closed

[2017-05-16 16:57] jeconley commented on #132
Thanks, I will mark our CR non-reproducible.

[2017-05-22 23:34] Dbarnes1 opened #266 "Assault Crossing (271300) symbol should be fixed, changed from polygon to line"
This issue stems from:  runtimecore/c_api/issues/7129

This is the issue they saw:

![image](https://cloud.githubusercontent.com/assets/13024357/26331366/66fac574-3f05-11e7-9eb0-0812dd31d445.png)
----
There are a couple of issues with the Assault Crossing symbol as it is currently being implemented.
Right now, it is a polygon symbol that has 3 layers:
- A marker symbol that outlines the correct sh

[2017-05-23 00:48] joebayles commented on #266
My suggestion is that this is a two-point line feature with a variable length and width, if possible. I agree with @Dbarnes1 that the same symbol can be used for Bridge and Assault Crossing, the user should know the difference in use case.

![image](https://cloud.githubusercontent.com/assets/5016557/26334008/d5c0c844-3f16-11e7-804d-d1fb577cd455.png)

Here they are used in a doctrinal publication,

[2017-05-23 11:31] csmoore commented on #263
@Dbarnes1 - just checking back on this to make sure as edits happen (ex: #266 ) they happen to the same controlled version

[2017-05-23 12:37] ottenw commented on #266
Is this symbol really a problem?  A bridge crossed a gap or river.  An assault crossing symbol straddles the gap or river.  When displayed with a map or image background it should be obvious.  Thoughts?

[2017-05-23 15:29] Dbarnes1 opened #267 "Support by fire is currently a line symbol with the angle arrows as the linear stroke symbol layers; width of support by fire is a point marker symbol layer"
Issue originally posted in: c_api/issues/7245#issuecomment-753196

Currently the Support by Fire symbol draws with the angle arrows as two line strokes, and the line that indicates width as a shape marker. The length of the angle arrows is actually not important to the symbol according to the standard, as @joebayles has already pointed out:
![image](https://cloud.githubusercontent.com/assets/13024

[2017-05-23 15:32] Dbarnes1 commented on #266
@ottenw when I think of a symbol that is titled "assault crossing," I would assume that the symbol would be crossing, or perpendicular to the obstacle that it crosses, not straddling the gap/river. Particularly because assault crossing and bridge are essentially the same symbol rotated at a different angle depending on the orientation of the obstacle.

[2017-05-23 15:40] Dbarnes1 commented on #263
@csmoore I was under the impression that these tables haven't been added to the stylx files yet, and won't happen for the update 1 release of runtime quartz or Pro 2.0. Our current source stylx files in the repo don't yet have these tables/changes

[2017-05-23 16:21] Dbarnes1 commented on #263
@csmoore checked with runtime, we're good to make changes for now, changes won't happen until 2.1/update2

[2017-05-23 16:26] csmoore commented on #263
@Dbarnes1 Thanks for checking - just making sure these different versions/fixes are being coordinated

[2017-05-23 17:54] joebayles commented on #266
@ottenw all correct. The issue is supporting this symbol the right way with intuitive draw rules/creation.

[2017-05-23 23:22] Dbarnes1 commented on #266
I've addressed this issue by fixing it in the lines-areas-labels-base-template.stylx. @csmoore I'm struggling to successfully merge this to create the final 2525d stylx so this edit is committed. I'll continue to troubleshoot tomorrow.

[2017-05-24 15:51] Dbarnes1 commented on #266
I've made the fix, and when I replace the stylx in Pro with my new stylx, everything appears to work fine. You'll see in the screenshot that the Assault Crossing symbol appears as a line. I'll notify when I feel comfortable with testing to open a PR

![image](https://cloud.githubusercontent.com/assets/13024357/26412526/e83a411a-405d-11e7-956b-77445bd8a19b.png)

[2017-05-25 21:02] Dbarnes1 commented on #267
for update 1 of runtime quartz, they are treating this as a Known Issue as it currently doesn't make sense to implement the symbol the way the standard specifies. Issue about the standard and this symbol located here: https://github.com/Esri/joint-military-symbology-xml/issues/337

[2017-05-25 23:52] Dbarnes1 commented on #241
it seems that these fixes have been overwritten, higher formation is no longer appearing

[2017-05-26 02:56] csmoore commented on #241
Does the issue happen with a particular symbol set? I just successfully tried with the style from https://github.com/Esri/military-features-data/pull/269

![image](https://cloud.githubusercontent.com/assets/3090809/26478871/4fd6d3ca-419d-11e7-8e88-9e26454f38f4.png)

[2017-05-26 14:16] Dbarnes1 commented on #241
@csmoore you're right, I'm going to close this out and re-open it because I think the issue I'm seeing is in the military symbol editor add-in

[2017-05-26 14:16] #241 closed

[2017-05-30 23:52] #266 closed

[2017-07-11 17:44] csmoore commented on #244
I was planning on fixing this in the next release (Sept 2017) of the template:

Changes Required :

- [ ] For 2525D and 2525Cb2
- [ ] Change all fields: "reinforced" from short to String type
- [ ] Change [Coded_Domain_Reinforced](
https://github.com/Esri/military-features-data/blob/dev/data/mil2525d/core_data/gdbs/name_domains_values/Coded_Domain_Reinforced.csv)  to

| Code | Description|
| --- |

[2017-07-11 20:14] Dbarnes1 commented on #244
@csmoore I haven't made any manual edits to the GDBs so you should be good to go when you make these edits

[2017-07-14 20:47] csmoore commented on #244
The schema changes have been completed to change this field/domain, this has been updated on staging and in forthcoming PR. Here is how this looks after fix:

![image](https://user-images.githubusercontent.com/3090809/28230218-0a87753e-68b4-11e7-8c14-27e13bf37da5.png)

[2017-07-18 15:56] csmoore commented on #244
Addressed on staging (so ready to verify from there) and in PR #270

[2017-07-18 17:13] BobBooth commented on #244
![image](https://user-images.githubusercontent.com/3801392/28330242-d86d229c-6bba-11e7-8cc3-0678483e1027.png)
I am seeing the domain, but the labels are not appearing on the feature.
Pro 1.4.1

[2017-07-18 17:29] csmoore commented on #244
I do see this issue on 1.4 also - where labels for reinforced or eval rating don't show up - I guess I was testing on Pro 2.0 above, where this does indeed work

This will likely have to be a known issue for <Pro 2.0 - @Dbarnes1 (or anyone else) - do we need to dig into this any further since it does seem to work at Pro 2.0 now?

[2017-07-18 17:48] Dbarnes1 commented on #244
@csmoore for the stylx file that we handed off to be included in Pro 1.4 and Runtime, this was indeed a bug. We ended up including an updated stylx in the install for Military Tools 1.1 for Pro 1.4. At Military Tools 2.0, the updated stylx compatible with 2.0 has this fix for reinforced/reduced, so we don't need to dig into this any further. I'll check on 2.0 to see the fix on my machine.

[2017-07-18 18:01] Dbarnes1 commented on #244
![image](https://user-images.githubusercontent.com/13024357/28332119-677e93fc-6ba8-11e7-9b8a-5d7a80a94f49.png)
grabbed it from staging, can verify it is working fine on Pro 2.0

[2017-07-18 18:03] #244 closed

[2017-10-03 17:01] lfunkhouser opened #272 "Transfer labels"
_From @lfunkhouser on October 3, 2017 17:0_

_From @lfunkhouser on October 3, 2017 16:48_

_From @lfunkhouser on October 2, 2017 15:24_

This issue is used to transfer issues to another repo

_Copied from original issue: Esri/solutions-grg-widget#119_

_Copied from original issue: Esri/solutions-geoevent-java#79_

_Copied from original issue: Esri/military-feature-toolbox#27_

[2017-10-03 17:01] lfunkhouser commented on #272
This issue was moved to ArcGIS/solutions-erg-widget#8

[2017-10-03 17:01] lfunkhouser commented on #272
This issue was moved to Esri/solutions-geoevent-java#78

[2017-10-03 17:19] lfunkhouser commented on #272
This issue was moved to Esri/coordinate-conversion-addin-dotnet#432

[2017-10-03 17:19] #272 closed

[2017-10-06 16:14] csmoore opened #273 "Style Creation - evaluate the direct import of SVGs into the styles at Pro 2.0"
Pro 2.0 supports the direct import of SVGs into the style (see:
http://pro.arcgis.com/en/pro-app/help/mapping/symbols-and-styles/marker-symbol-layers.htm ) so when the styles move to Pro 2.0 (current minimum Military Overlay supported version is Pro 1.4) we should evaluate directly importing the source symbol SVGs into the style in order to greatly simplify the [current Style creation process](htt

[2017-10-09 15:42] csmoore opened #274 "Reorganize repo and update readme(s)"
This is a task to clean up the repo to make it easier to understand and use the data stored here for our military symbology solutions. Here are the major solutions/component and how they will be organized/aligned:

* military-features - ArcMap-only solution - http://solutions.arcgis.com/defense/help/military-features/
* military-overlay - Military Overlay for ArcGIS Pro 1.4+ / ArcGIS Server 10.4.1

[2017-10-13 15:35] csmoore commented on #274
Repo reorg branch is here in case anyone wants to review/sanity check: https://github.com/Esri/military-features-data/tree/csm/%23274-reorg-repo

[2017-10-13 15:44] Dbarnes1 commented on #274
this is awesome. A quick click-through and it looks cleaned up and so much easier to navigate. Long overdue for us

[2017-10-13 20:55] ACueva opened #276 "Support APP6B Stylx for ArcGIS Pro and Runtime 100.2"
Style file
Military Features

- [x] Include correct wording from legal
- [x] ~~Put Data back into [Military Features Template](http://solutions.arcgis.com/defense/help/military-features/)~~ - (Follow up with @nfeuerstein )
- [x] ~~Put the APP6 option back into the [Military Features Tools](https://github.com/Esri/solutions-geoprocessing-toolbox/tree/dev/military_features)~~
- [x] Test latest app6.

[2017-10-16 23:09] #274 closed

[2017-10-18 13:06] csmoore commented on #276
@ACueva @nfeuerstein

I was going to start on this if we are ready - just checking back to see if:

1. We have the correct legal wording
2. Confirm we are updating the Military Features template(and the template tools) to add this back in

[2017-10-18 15:34] ACueva commented on #276
@csmoore Reviewed some notes I wrote down, Per @nfeuerstein, we do not need to go back and add APP6 to our existing templates.  She is also still waiting on the verbiage from legal.

[2017-10-19 15:38] csmoore commented on #276
In looking at the solutions page content for [military-symbology-styles](http://solutions.arcgis.com/defense/help/military-symbology-styles/) in order to add app6b.stylx back in - while we are updating this page - is there any reason to keep mentions of earlier versions of the styles?

That is earlier, than currently supported versions: Pro 1.4 & Runtime 100.0 (actually not sure what the current s

[2017-10-19 15:51] Dbarnes1 commented on #276
@csmoore  I'd say it'd be a good idea to just test to make sure the 1.4 style works in 2.0 and 2.1 and then put 1.4+ on there and get rid of the older styles. The mil2525c runtime 10.2.x style should stay up there, though, as I think Runtime still wants us to host that there for them. I'll post on their slack channel to check

[2017-10-19 16:10] Dbarnes1 commented on #276
feedback from Runtime, we should put 100.x as our supported version so we don't have to change our doc each time it updates

[2017-10-20 13:02] csmoore commented on #276
Just confirming (for the solution page update) for the older stylxs - app6b.stylx and mil2525c.stylx - the Runtime versions for these are **10.2.x** *and* **100.1+** (just making sure this is correct, since a little confusing for these)?

[2017-10-20 14:22] Dbarnes1 commented on #276
I haven't tested those older stylx files in Runtime 100.1, so I'm not sure whether they work with both

[2017-10-20 14:33] csmoore commented on #276
@Dbarnes1 - They seem to work there (Runtime 100.1 screenshot below using these styles) - so assuming this is officially supported?

Do we know what build of Pro 2.1 will support these? Is there anything else we need to do on our end to make sure this happens? It would be good to test these there also.

![image](https://user-images.githubusercontent.com/3090809/31825843-79b1ce72-b581-11e7-9285-c56

[2017-10-20 15:30] csmoore commented on #276
Everything should be ready to update once we have the legal/caveat wording - so marking this task impeded until we have that.

Everything we have so far (minus wording to add):

Repo Update branch:
https://github.com/Esri/military-features-data/tree/csm/%23276-readd-app6b

Solutions Pages Update branch:
https://github.com/csmoore/arcgis-solutions-website/tree/csm/update-military-symbology-styles

[2017-10-27 16:44] csmoore commented on #276
Download item - thanks @ACueva for creating (only one on team with access) now available at: http://arcgisfordefense.maps.arcgis.com/home/item.html?id=0ca4598346be4677a869b7c639545288
 ( @Dbarnes1 @joebayles  can you pass this on to Pro/Runtime/Server team and let them know they can add this back in for future release )

Solutions Page PR made:
https://github.com/ArcGIS/arcgis-solutions-website/pu

[2017-10-27 17:32] Dbarnes1 commented on #276
has this style been verified to work against Runtime 100.x? I just know that the last time it was released it worked with Runtime 10.2.x

[2017-10-27 17:42] csmoore commented on #276
@Dbarnes1 - it requires 100.1 or later ( I used Runtime 100.1 in the [screenshot above](https://github.com/Esri/military-features-data/issues/276#issuecomment-338224312) - so that is why the solution page uses this requirement for  app6b/mil2525c ( `100.1 or later` and not `100.x`)

[2017-10-27 17:43] Dbarnes1 commented on #276
ok, thanks for explaining, sounds good!

[2017-11-10 17:43] csmoore commented on #276
Solutions Page PR merged - closing/complete

[2017-11-15 15:41] lfunkhouser opened #281 "Create and test APP-6(b) test data with new Stylx file"
Create data to test APP-6(b) stylx

[2017-11-15 16:04] csmoore commented on #281
I wasn't on the assignee list but I am almost done converting the previous 2525C OPlan to App6

[2017-11-15 19:08] csmoore opened #283 "Add Test Data back to repo"
During the repo reorg (https://github.com/ArcGIS/solutions-defense/issues/452), it wasn't clear if test data should be kept or not. It has been requested to:

1. Add test data back to repo
2. Ensure it is clear what standard (and maybe product/version) test data is used to test with

[2017-11-16 12:06] csmoore commented on #281
Sample dataset now at:https://github.com/Esri/military-features-data/tree/dev/military-symbology-styles/test-data/app6b/map-packages

[2017-11-16 15:43] csmoore commented on #219
Closing since Message Processor was removed at Runtime 100.0 (also never heard back)

[2017-11-16 15:43] #219 closed

[2017-11-16 15:51] Ricksson83 commented on #219
Hi,

that’s ok.

Regards,
Martin Rick

++
Martin Rick
Head of Sales
Defense & Intelligence

Esri Deutschland GmbH
Rheinallee 24
53173 Bonn
Telefon +49 89 207 005 1720
m.rick@esri.de<mailto:m.rick@esri.de>
esri.de<http://www.esri.de/>

Geschäftsführung: Jürgen Schomakers
Sitz: Kranzberg, HRB 186099, Amtsgericht München
Ust. IDNr. DE 271 819 187
++

Von: Chris Moore [mailto:notifications@github.com]

[2017-11-21 21:35] #283 closed

[2017-11-21 21:48] csmoore commented on #281
Available test data now at: https://github.com/Esri/military-features-data/tree/dev/military-symbology-styles/test-data/app6b

[2017-12-05 13:09] csmoore commented on #205
This is no longer an issue - all of the standards are now back at: https://github.com/Esri/military-features-data

[2017-12-05 13:09] #205 closed

[2017-12-05 13:10] csmoore commented on #224
This should no be an issue now that 2525 D, C, B available in 100.0+

[2017-12-05 13:10] #224 closed

[2017-12-05 21:27] csmoore commented on #67
I think the warning messages have improved enough to close this:

![image](https://user-images.githubusercontent.com/3090809/33631573-fd415aa2-d9d8-11e7-8363-8a1a124c375c.png)

![image](https://user-images.githubusercontent.com/3090809/33631600-0f3666f8-d9d9-11e7-9bcc-16453dfba1e0.png)

[2017-12-05 21:27] #67 closed

[2017-12-05 21:29] csmoore commented on #281
Setting this to Review/QA to see if this test data is sufficient

[2017-12-15 09:16] topowright opened #286 "Transfer labels"
_From @topowright on December 15, 2017 9:8_

## Context

## Problem, Idea, or Engagement

## Possible solution or next step

_Copied from original issue: ArcGIS/solutions-defense#532_

[2017-12-15 09:16] topowright commented on #286
This issue was moved to Esri/coordinate-conversion-addin-dotnet#462

[2017-12-15 09:16] topowright commented on #286
This issue was moved to Esri/distance-direction-addin-dotnet#481

[2017-12-15 09:16] topowright commented on #286
This issue was moved to Esri/visibility-addin-dotnet#252

[2017-12-15 09:16] topowright commented on #286
This issue was moved to Esri/military-symbol-editor-addin-wpf#205

[2017-12-15 09:16] topowright commented on #286
This issue was moved to Esri/military-tools-desktop-addins#36

[2017-12-15 09:16] topowright commented on #286
This issue was moved to Esri/solutions-geoprocessing-toolbox#641

[2017-12-15 09:16] topowright commented on #286
This issue was moved to Esri/military-tools-geoprocessing-toolbox#261

[2017-12-15 09:16] topowright commented on #286
This issue was moved to Esri/solutions-erg-widget#66

[2017-12-15 09:16] topowright commented on #286
This issue was moved to Esri/solutions-grg-widget#122

[2017-12-15 11:27] lfunkhouser commented on #276
Reopening issue. Issues reported with the APP6B stylx being supported in Pro and Runtime.

[2017-12-15 18:03] topowright commented on #276
This styleX file will only work with the symbolID code

Need to understand how this is supported in:

- [ ] ArcGIS Pro 2.1 dictionary render.
- [ ] ArcGIS Pro 2.2 dictionary render.
- [ ] Runtime 100.2

[2017-12-21 08:20] topowright commented on #281
Moving this item to Jan 2018 Sprint Two based on the current sprint goals

[2017-12-21 14:28] csmoore opened #287 "Spatial Index Error using Pro Layer Packages (LPKX)"
While testing the latest  Pro Layer Packages (LPKX):

https://github.com/Esri/military-features-data/tree/dev/military-overlay/mil2525d/lpkx
https://github.com/Esri/military-features-data/tree/dev/military-overlay/mil2525b2/lpkx

Got spatial index error below when trying to create lines/areas using the Military Symbol Editor Addin (on Pro 2.1) - I didn't realize this was still an issue. I thought

[2017-12-21 18:50] topowright commented on #287
This issue might have already been captured in the issue #189. Need clarity if we are going to need to close the other issue and work on this one or close this issue.

[2017-12-22 16:52] topowright commented on #287
Looking at the PR now

[2017-12-22 17:33] topowright commented on #287
This has been fixed. No documentation is needed. No checklist updates are needed

[2017-12-27 18:24] #287 closed

[2017-12-27 21:38] #286 closed

[2017-12-30 07:09] lfunkhouser commented on #176
Is this documented? Can this issue be closed? @csmoore

[2018-01-02 16:15] Dbarnes1 commented on #176
this issue can be closed, as it doesn't impact anything post Pro 1.2

[2018-01-02 16:19] csmoore commented on #176
Correct - this is no longer an issue

[2018-01-02 16:19] #176 closed

[2018-01-02 19:09] topowright commented on #276
We need the updated style files from Runtime team to address this issue.

[2018-01-03 17:12] topowright commented on #281
This item is not able to be worked on until we get updated stylx files from core.

[2018-01-03 18:41] BobBooth commented on #276
I am attempting to check if this is working with recent Pro 2.1 build.
The steps I followed are:
1) Navigate to:  C:\Program Files\ArcGIS\Pro\Resources\Dictionaries
2) Create a new folder called "app6b" in this location.
3) Copy the "app6b.stylx" ArcGIS Pro StylX file into this folder (I got this from Box, updated today by @csmoore ).
4) Open the test data Project Package (App6bComprehensiveTestDa

[2018-01-03 19:37] BobBooth commented on #276
Who is the POC with Pro team? Craig W?
@csmoore  @ACueva  @topowright

[2018-01-03 21:01] BobBooth commented on #276
So, I emailed Kerry and Ralf about this. Kerry is out till 1/5. Will see if Ralf has any info.

[2018-01-03 23:12] BobBooth commented on #276
Ralf says he is seeing this behavior on Pro 2.2 build 11338.

[2018-01-03 23:33] BobBooth commented on #276
@csmoore - when I try setting the symbology of the sample points (the ones that start of as generic features) to Dictionary Renderer, I get the same error message.
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/58414e1e-d001-4c23-aeb1-888b9014452e)

[2018-01-04 02:42] Dbarnes1 commented on #276
I think @csmoore can confirm, but at Pro 2.1 this workflow is no longer supported. This is an intentional change that core made. Any New supported dictionaries will have to be approved through the pro team.
________________________________
From: Bob Booth <notifications@github.com>
Sent: Wednesday, January 3, 2018 10:42:01 AM
To: Esri/military-features-data
Cc: Daniel Barnes; Mention
Subject: Re:

[2018-01-04 11:14] topowright commented on #276
@BobBooth are you testing from the new files that we received from core?

[2018-01-04 16:06] BobBooth commented on #276
@Dbarnes1 - I was trying to test whether the new stylx would work with Pro 2.1 - is it the case that the only way APP6B could work in Pro 2.1 would be with some other core modification?
Do you know what the workflow would be?
@topowright - yes, tested with the one @csmoore put on box, then, working with Ralf, tested with one he shared with me from his machine (the one Chris got it from, by the nam

[2018-01-04 17:26] topowright commented on #276
@lfunkhouser currently the file that was given to us does not work in ArcGIS Pro 2.1 and we are not sure what version of Runtime this would work on. We need to follow up with this issue to understand when we will be able to finish this work.

[2018-01-05 01:05] topowright commented on #281
I was able to get the updated stylx files and attempt to test the data; however, I am not gettting good results. The dropdown menu is not honoring the APP6B capabiliy when adding that folder to the dictionary folder. It also seems to mess up the other capabilities such as 2525bC2

[2018-01-05 01:35] csmoore commented on #276
I emailed runtime & cc'd team to let them know that using Runtime 100.2 and latest stylx only a small number of the features seem to show a symbol.

Here is what I tried:

1.	Created a .geodatabase from the sample data at: https://github.com/Esri/military-features-data/tree/dev/military-symbology-styles/test-data/app6b/map-packages
2.	Create a runtime .NET/WPF Sample to load the data
3.	Only a few

[2018-01-05 16:15] BobBooth commented on #281
@topowright - sounds like what I saw a couple of days ago, as described here:
https://github.com/Esri/military-features-data/issues/276

[2018-01-05 16:38] topowright commented on #281
This is the current behavior I get when dealing with the stylx file is captured in the image below. However, I also do not see the correct behavior for the other stylx files that are included in side of ArcGIS Pro.
I also need some guidance on symbology. @csmoore @lfunkhouser I do not see a 2525Bc2 option in core, which I think needs to be there based on the conversations that have happened in the

[2018-01-05 16:45] topowright commented on #281
This issues seems to be talking about the same work that is being done in the following issue:
**APP6B Stylx for ArcGIS Pro**
https://github.com/Esri/military-features-data/issues/276

I would like to close this issue to allow us to focus on this issue in one location.

[2018-01-05 17:20] topowright commented on #281
We need to talk about this further as a team before this can be closed.

[2018-01-05 18:33] topowright commented on #9
This needs to be tested by the Product Engineers on RunTime 100.2.

We also need to make sure that we have an ongoing way to review Runtime issues.

[2018-01-08 16:43] topowright commented on #9
@csmoore do we have a better understanding of this for our current solution? Also, could you provide an estimate?

[2018-01-08 16:53] csmoore commented on #9
@topowright - I thought this was going to be tested by PEs on the current supported versions of the products.

I did have an action to provide a version of the runtime test app that anyone could run. This application is posted at: https://esri.box.com/s/dt7ejubj12h566mabxotvk1l0fwh4og9 - let me know if that is sufficient.

[2018-01-08 19:50] topowright commented on #276
This is the current behavior I get when dealing with the stylx file is captured in the image below. However, I also do not see the correct behavior for the other stylx files that are included in side of ArcGIS Pro.
I also need some guidance on symbology. @csmoore @lfunkhouser I do not see a 2525Bc2 option in core, which I think needs to be there based on the conversations that have happened in the

[2018-01-08 19:51] topowright commented on #276
Last comment was copied from two days ago, which I made in another issue that is now closed. That issue is issue : #281

[2018-01-08 19:52] topowright commented on #281
Closed based on the fact that we have already created test data.

[2018-01-08 19:52] #281 closed

[2018-01-08 19:59] topowright commented on #276
I am currently working on build 10257 and this is what I see when I try to populate symbology using the stylx for APP6B.
![image](https://user-images.githubusercontent.com/5488313/34689678-3ee9df0e-f46b-11e7-83bf-5df7f5805b4c.png)

[2018-01-08 19:59] csmoore commented on #276
@topowright - you may have to remove the app6b file/folder for the others to work correctly

[2018-01-08 19:59] topowright commented on #276
I also seem to be having a problem with other functionality with the other dictionaries.

[2018-01-08 21:13] BobBooth commented on #276
@Dbarnes1 - does the Pro team have to ship the stylx, and/or do something else to enable it?

[2018-01-08 21:32] Dbarnes1 commented on #276
@BobBooth if you get a completely fresh install of Pro 2.1, I believe the only .stylx files you'll get are 2525c_b2 and 2525d, which cover 2525B Change 2, 2525C, and 2525D.

Back in the Pro 1.0-1.2 days, there was a workflow where you could take your own code for a dictionary renderer (APP6B) and the stylx and copy/paste that into your install dictionaries folder for Pro in order to get it to work

[2018-01-08 21:56] jeconley commented on #276
The multiscale mapping team has a PBI for adding support for APP6B.  It is https://devtopia.esri.com/ArcGISPro/multiscale-mapping/issues/374.

We will need to grab some updates from runtime before we can consume this.  Also we will need the most up to date dictionary and test data.

Is https://github.com/Esri/military-features-data/blob/dev/military-symbology-styles/app6b/app6b.stylx the correct d

[2018-01-08 23:12] topowright commented on #9
We are not going to currently work on this because of an open issue in Devtopia, which will then fix the stylx file.

[2018-01-08 23:25] topowright commented on #276
@jeconley previous comment is correct accept the updated stylx file is not located in the directory above. Instead, it is attached to the issue in Devtopia.

[2018-01-09 00:26] topowright commented on #276
![image](https://user-images.githubusercontent.com/5488313/34699160-b743927c-f490-11e7-8f4d-307a84bf4ee6.png)

[2018-01-09 03:05] kerryrobinson commented on #276
I was testing with build 10247 last month (Dec 14) and was able to create a folder named 'app6b', copy the updated style file in it, and successfully select it in the drop down list of dictionaries (sic was the only available field listed, as expected). Today I tried again using the same build  (10247) and I see the same issue Bob is reporting. I do not see this issue if I remove the app6b folder.

[2018-01-09 13:32] csmoore commented on #276
@kerryrobinson - I wasn't able to get a simple runtime (.NET) app6b sample to work (in 100.1 or 100.2) using the latest stylx ralf provided. Only some of the symbols seemed to draw - is there someone who can look at the sample to see if I am doing something wrong. The sample is here: https://esri.box.com/s/dt7ejubj12h566mabxotvk1l0fwh4og9

[2018-01-10 18:55] topowright commented on #276
There will be no APP6B support for ArcGIS Pro until version 2.2 .

We will need to update the AGO item to allow customers to use this capability in ArcGIS Runtime 100.2

[2018-01-10 19:00] topowright commented on #276
This issue needs to split this into two different issues:
- [ ] Runtime 100.2 support
- [ ] ArcGIS Pro 2.2

[2018-01-10 19:11] csmoore commented on #276
Additional note for runtime testing/support:

I've updated the app6b test data in: #289

And the runtime data loader sample app (using 100.2) at:  https://esri.box.com/s/dt7ejubj12h566mabxotvk1l0fwh4og9

Using the sample app (and ArcMap data creation steps in sample app readme) - you should be able to create and view sample data in Runtime.

Here is how the comprehensive data set looks in the samp

[2018-01-10 19:54] kerryrobinson commented on #276
@csmoore Do we think that 3% are invalid symbol IDs or symbols which need to be fixed in the style file?

[2018-01-10 20:29] csmoore commented on #276
@kerryrobinson - for the yellow clovers, probably a bad style entry - though we can't completely rule out a problem with out [truth data](https://github.com/Esri/military-features-data/blob/dev/military-symbology-styles/test-data/app6b/truth-data/App6bTruthData.csv) or drawing, but once we can edit/see data in Pro - it will probably be much easier to see what is going on.

[2018-01-11 21:44] BobBooth commented on #276
I have grabbed the test app
https://esri.box.com/s/dt7ejubj12h566mabxotvk1l0fwh4og9
and run it successfully on my machine.

[2018-01-12 17:10] topowright commented on #9
We need to understand how this relates to this issue:
https://github.com/Esri/military-features-data/issues/276
The end result is we need a list of symbols that we do not draw and the steps documented on how we can find those symbols.

[2018-01-12 20:48] csmoore commented on #9
@BobBooth is putting together a more comprehensive list of symbols not drawing but for the particular symbols mentioned in this issue, here is how they currently draw at 100.2:

Here is how the symbols above are currently drawing:

**Not Drawing**
S-UPNA--------- /  S-UPNBW-------- / S-UPNM---------

Draw: S-UPNBR--------

![image](https://user-images.githubusercontent.com/3090809/34894454-794039e

[2018-01-12 22:41] BobBooth commented on #9
I have added a table to the wiki showing the OIDs, SICs, and descriptive info from the comprehensive test data set cross-referenced against the APP6-B standard PDF for those symbols that were drawing with the unknown quatrefoil (or which were not drawing at all) in the runtime test app.
https://github.com/Esri/military-features-data/wiki/Issues-with-APP6-B-symbols-identified-using-Runtime-app-Xref

[2018-01-12 22:49] BobBooth commented on #9
24 out of 53 are errors in the test data.
Out of those 24, 13 were top-level placeholder items with no symbol in the standard.
About 8 appear to be due to string errors in the test data (VE should be VM, or PG should be PF).
In some cases I could not determine why the symbol was not drawing.

[2018-01-12 22:50] BobBooth commented on #9
So, probably about 25 of these are errors in the STYLX.

[2018-01-12 22:54] BobBooth commented on #9
[BadAPP6BSymbolsInComprehensiveTestData.zip](https://github.com/Esri/military-features-data/files/1627752/BadAPP6BSymbolsInComprehensiveTestData.zip)

[2018-01-12 23:02] BobBooth commented on #9
[BadAPP6BSymbolsInComprehensiveTestData.zip](https://github.com/Esri/military-features-data/files/1627772/BadAPP6BSymbolsInComprehensiveTestData.zip)
This version of the spreadsheet is sorted on the notes and color coded to indicate an issue with the test data (yellow) or probable issue with the STYLX (orange).

[2018-01-12 23:06] BobBooth commented on #276
I checked the quatrefoil symbols and the features that were not drawing at all in the runtime app against a version of the data in ArcMap and against the APP6B standard PDF.
https://github.com/Esri/military-features-data/wiki/Issues-with-APP6-B-symbols-identified-using-Runtime-app-Xref-with-ArcMap-and-PDF-of-standard

[2018-01-12 23:20] BobBooth opened #290 "Create test data for APP6B with symbols below"
Tasks to finish this issue:
- [x] Create a test table and project based on what has been captured in the wiki
https://github.com/Esri/military-features-data/wiki/APP6-B-Symbology-Status
- [x] Test all symbols below

After a review of the symbols not drawing in the runtime app using the app6b stylx, a number of cases were identified where the test data was incorrect.
**This is where all the data is

[2018-01-12 23:22] BobBooth commented on #290
@csmoore  @topowright @dfoll @ACueva

[2018-01-12 23:23] BobBooth commented on #9
I have created this issue https://github.com/Esri/military-features-data/issues/290 to track errors in the test data.  Some are typos in the SIC, some are top level items with no symbol in the standard, which should be deleted from the test data.

[2018-01-12 23:29] BobBooth opened #291 "Remove all spaces after semi colons in the APP6-B STYLX"
Issues identified during a review of APP6B symbols not drawing in the runtime app, probably due to issues with the STYLX.
Comprehensive test data at:
https://github.com/Esri/military-features-data/tree/dev/military-symbology-styles/test-data/app6b
Used Runtime app created by @csmoore, from his comment on
https://github.com/Esri/military-features-data/issues/276
"...
And the runtime data loader sam

[2018-01-12 23:31] BobBooth commented on #291
@csmoore  @topowright @dfoll @ACueva

[2018-01-12 23:31] BobBooth commented on #9
I have created this issue to track probable issues with the STYLX for app6b:
https://github.com/Esri/military-features-data/issues/291

[2018-01-13 00:44] lfunkhouser commented on #291
@BobBooth Please add additional information to this issue. Add the screenshots of both the expected symbol and the symbol that is rendered in Runtime in your issue. Do these same symbols render correctly using the style file in the ArcMap solution?

[2018-01-16 16:34] csmoore commented on #290
@BobBooth - thanks for finding these errors - started addressing in https://github.com/Esri/military-features-data/tree/csm/%23290-app6-truth-data-errors

[2018-01-16 18:54] topowright commented on #276
Currently our stylx file does not draw correctly in ArcGIS Pro and ArcGIS Runtime

[2018-01-17 16:45] csmoore commented on #9
I cross-checked the [symbols output above](https://github.com/Esri/military-features-data/issues/9#issuecomment-357349742) against #291 and ensured/verified all of them are included in that new issue as requested.  I also updated the [original issue comment](https://github.com/Esri/military-features-data/issues/9#issue-25610041) to better indicate which are not drawing

[2018-01-19 15:57] lfunkhouser opened #293 "APP-6(D) Dictionary/Stylx"
Support for APP-6(D) is needed for compliance with NATO systems.
The APP-6(D) dictionary will support Runtime and ArcGIS Pro.

(Updated with potential tasks/plan)

### Preparation

- [ ] Identify the set of differences between APP-6(D) and MIL-STD-2525D

### Stylx (Icons)

- [ ] Update stylx creation process to use Pro 2.0
    * Create Pro App/Addin to directly create stylx from SVG icons
    * No

[2018-01-19 19:42] csmoore commented on #290
Errors with the test data should be fixed in #292 - should be ready for QA/QC

[2018-01-23 01:12] kerryrobinson commented on #276
Since the app6b style file that is currently published here http://solutions.arcgis.com/defense/help/military-symbology-styles/ doesn't work with Runtime 100.1+ as advertised, can we remove this reference until we've uploaded a version that does?

[2018-01-23 21:06] csmoore commented on #85
Issues also noted in #291 - looks like except for LANDING SUPPORT and UNIT GENERAL LIAISON all of these symbols are also included in the #291 list (so probably just double check those 2 before closing this as duplicate).

[2018-01-23 21:26] csmoore commented on #293
@lfunkhouser @joebayles - do we have:

1. The final version of the standard (or is Study Draft 2, JUNE 2016 the final version)
2. A list of differences from 2525D
3. The image files (SVGs) that were added to/changed in the APP-6D Version 1 from 2525D final?

I believe the added image files were confined to:

1. New Dismounted Individual symbol set
2. Symbol set/battle dimension frames that changed

[2018-01-24 00:02] topowright commented on #291
@csmoore  would this tool be something that we could use to compare what we have vs what we need:

https://github.com/yahoo/blink-diff

[2018-01-24 00:14] lfunkhouser commented on #276
@kerryrobinson We need to get a better understanding of what symbols aren't drawing and how to test this better. 100.1 is supported with issues; however, the list of known issues needs to be better understood.

[2018-01-24 13:57] csmoore commented on #291
@topowright - there are a few different image compare tools and ways to approach this. But this one might be good if you go with an HTML image table approach. This might justify creating a new issue to capture this testing capability.

[2018-01-25 13:30] csmoore commented on #291
Moved in progress for QA task to create and doc app to export images and create verification table

[2018-01-25 15:09] joebayles commented on #293
@csmoore we have the final version of APP-6D in Box. I believe you are correct with everything else. Check https://github.com/Esri/joint-military-symbology-xml/pull/396 for the SVGs.

[2018-01-25 17:53] BobBooth commented on #290
I confirm that all of the above errors are fixed in https://github.com/Esri/military-features-data/pull/292, tested in ArcMap against https://github.com/Esri/military-features-data/blob/dev/military-symbology-styles/test-data/app6b/map-packages/Comprehensive-app6b.mpk

[2018-01-25 17:56] BobBooth commented on #290
This issue is ready to be closed.
@topowright

[2018-01-26 14:37] csmoore commented on #276
@lfunkhouser @kerryrobinson

The latest/current version of the [app6.stylx ](https://github.com/Esri/military-features-data/tree/dev/military-symbology-styles/app6b) that we were provided by Runtime [is currently here](https://github.com/Esri/military-features-data/tree/dev/military-symbology-styles/app6b) - it is **not yet posted** to the [stylx download page](http://solutions.arcgis.com/defense/

[2018-01-26 16:19] kerryrobinson commented on #276
@csmoore Yes, we were just about to notify you of that.  Ralf can give you an updated style file with the correct CIM reflected, which will work in 100.1 and 100.2.

[2018-01-26 22:27] csmoore commented on #291
Removing QA label:

Added style to SIDC image export test app at:
https://github.com/Esri/military-features-data/wiki/Runtime-Test-Apps

And used app to create a more complete set of Image Test Outputs for App6b from the style file:

Just the issues observed (about 20 symbols aren't being created):
https://github.com/csmoore/mil2525-testing/blob/add-app6b/app6b/App6b-Test-Results-Issues-Only.md

T

[2018-01-26 22:39] csmoore commented on #276
Updated with the newly provided stylx that uses CIM/Pro 2.0, Runtime 100.1 in PR #294, just needs review/merge

Additional note: the known issues with this style are recorded in #291 (and also here:
https://github.com/csmoore/mil2525-testing/blob/add-app6b/app6b/App6b-Test-Results-Issues-Only.md)

[2018-01-27 02:15] kerryrobinson commented on #291
We found something else in our testing.  All tags in this style file are preceded with a space (there is a space after each semicolon).  This makes it difficult to search for specific tags in Runtime, and is inconsistent with the 2525[x] stylx files:
[code]
![image](https://user-images.githubusercontent.com/3383476/35467548-7eafc2ea-02c4-11e8-8686-29fda73062b0.png)

We should remove these spaces b

[2018-01-29 15:10] csmoore commented on #291
@kerryrobinson - that is a simple fix ( ex. `UPDATE ITEMS SET TAGS = REPLACE(TAGS, '; ', ';')` ), this fix is included with #294

[2018-01-31 16:57] csmoore commented on #217
Important note: this issue concerns the planned/dashed frames which was not supported in the app6b renderer

[2018-01-31 16:58] csmoore commented on #218
Note: this issue concerns the planning/dashed frames which were not supported in the app6b renderer

[2018-01-31 17:08] lfunkhouser commented on #215
More information from the Bug:
User is using  APP6-B: S*G*EVATW-***** symbol in the ArcGIS Runtime for Qt application. The symbol shows in the map doesn't match the symbol provided by the documentation. The symbol is located at the annex B in the below documentation.

App6-B
https://www.google.de/url?sa=t&rct=j&q=&esrc=s&source=web&cd=3&ved=0CC0QFjACahUKEwiBg4T4yunHAhXGuxQKHWRCC50&url=http%3A%2F%2

[2018-01-31 17:09] topowright commented on #290
How do we verify that this is done.

[2018-01-31 17:22] topowright commented on #218
We need to understand how we will address this issue. @csmoore has shared a few ideas based on how we built/support 2525-B

[2018-02-01 16:39] lfunkhouser commented on #218
@csmoore This issue was reported for 2525C, not APP-6(B).

[2018-02-01 16:43] csmoore commented on #218
@lfunkhouser - my bad - this should be working with 2525C and ready to retest now using Runtime 100.0+.

To test, I recommend using the symbol [export app](https://github.com/Esri/military-features-data/wiki/Runtime-Test-Apps#runtime-symbol-id-export-app)

[2018-02-01 18:03] lfunkhouser commented on #218
Thanks, @csmoore Good to hear!
@topowright, @ACueva @dfoll Please estimate the remaining effort, remove the `epic` designation and  log a detailed issue for APP-6(B).

[2018-02-07 15:52] csmoore commented on #293
Just to update this task - when I looked this a couple weeks ago - here is what I found and updated

The changes from 2525D.0 (06/2014) to App6D.1 (10/2017) that were readily identifiable by just skimming the standard were:

1.	Small Changes to the labels associated with each symbol set (screenshot below). Ex. country label added
2.	Addition of Dismounted Individual Symbol Set (Set 27)
3.	Addition

[2018-02-07 17:21] lfunkhouser commented on #217
@csmoore This issue is related to 2525C not APP6B

[2018-02-07 17:22] csmoore commented on #290
To verify this you can either follow these instructions from a similar issue - https://github.com/Esri/military-features-data/issues/291#issuecomment-360921959

Or also test in Pro 2.2 daily

[2018-02-07 22:09] topowright commented on #218
I am taking a closer look at this now.

[2018-02-07 22:28] topowright commented on #218
With @csmoore help I now understand how to test these symbols, but I need to find the symbols that we know are not drawing in this issue.

[2018-02-07 23:49] topowright commented on #218
Looking at the customer information provided here is a better breakdown of what they have found as not supported:

  // Page 15 and 16 in MIL-STD-2525C document explains the identities
  m_sidcs << QLatin1String("SPGPUCD-----");   //P - Pending, yellow, dotted line   //Not Working
  m_ctrPnts << QLatin1String("1, 1");
  m_sidcs << QLatin1String("SAGPUCD-----");   //A - Assumed Friend, blue, dotted

[2018-02-07 23:50] topowright commented on #218
I will move forward with showing these examples for each code given. I will be able to finish this work tomorrow. I wanted to share what I have found thus far.

[2018-02-07 23:57] topowright opened #295 "APP-6(B)/(D) needs to support identity and status options for military symbols"
Based on the issue following issue:
https://github.com/Esri/military-features-data/issues/218

We need to be able to support the idnetity and status options for APP6B and APP6D that are outlined in the 2525c standards book on pages 15, 16 and 51.

@ACueva @BobBooth @csmoore @dfoll I have not looked thru the APP6 standard, but if you are familiar with those locations in that standard please update

[2018-02-07 23:57] topowright commented on #218
I have captured the need for APP6 in the following issue asking for a bit of help from team members to add additional information if needed in the following issue:

https://github.com/Esri/military-features-data/issues/295

[2018-02-08 13:10] csmoore commented on #218
@topowright - those ones listed above seem to be drawing OK for me - attached is the export script I used to test and screenshot of the output.

[bug_test-mil2525c-BUG-000090508.bat.txt](https://github.com/Esri/military-features-data/files/1707099/bug_test-mil2525c-BUG-000090508.bat.txt)

![image](https://user-images.githubusercontent.com/3090809/35974386-e3258dc2-0ca6-11e8-9ff8-dcb64d919100.png)

[2018-02-08 15:37] BobBooth commented on #218
@topowright - per your request (https://github.com/Esri/military-features-data/issues/295) here is the APP-06(B) affiliation/battle dimension matrix.
![image](https://user-images.githubusercontent.com/3801392/35981426-387b5c34-0cbb-11e8-92c1-578395d71952.png)
![image](https://user-images.githubusercontent.com/3801392/35981560-844d3970-0cbb-11e8-8b83-6154ee82e91c.png)
![image](https://user-images.g

[2018-02-08 16:39] csmoore commented on #295
I tested using the Export App and found these 4 conditions were not honored in **app6b** ( this issue also mentions **APP6D** - was this tested there also? )

Example SIDC         Status/Frame type
SFGAUCI--------     PLANNING/ANTICIPATED (DASHED FRAME OUTLINE)
SPGPUCI--------     PENDING (DOTTED FRAME OUTLINE)
SAGPUCI--------     ASSUMED FRIEND (DOTTED FRAME OUTLINE)
SSGPUCI--------     SUSPECT (

[2018-02-08 19:02] BobBooth commented on #88
I met with @csmoore on how to begin approaching this.
Have installed Pro 2.0 and downloaded the latest app6B stylx from https://github.com/Esri/military-features-data/pull/294

Copied this into the Runtime symbol generator app and ran the ExportApp6b-SmallGoodFaithTest.bat test.
Currently checking the results generated against intended results.

[2018-02-08 20:38] topowright commented on #218
These symbols are support:
![image](https://user-images.githubusercontent.com/5488313/35996985-fd89a6f0-0ccc-11e8-869f-5c9cd74fd2a1.png)

[2018-02-08 20:50] topowright commented on #218
![image](https://user-images.githubusercontent.com/5488313/35997542-a3cd48b8-0cce-11e8-9fd6-69f1cbd73fd5.png)

[2018-02-08 20:57] topowright commented on #218
Based on the two images above we are drawing everything correctly except the color of the cyan rectangle is really:
blue: 0,0,255

It should be: cyan 128,224,255
This is from page 19
![image](https://user-images.githubusercontent.com/5488313/35997650-f5e6703e-0cce-11e8-9666-8cee16e9f53a.png)
@lfunkhouser @csmoore  is this something that we should worry about?

[2018-02-08 21:19] topowright commented on #218
[symbolexamples.zip](https://github.com/Esri/military-features-data/files/1708827/symbolexamples.zip) Here are the output symbols that were generated.

[2018-02-08 21:54] BobBooth commented on #88
Ran the runtime symbol generator on this set:
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/77e54c79-f013-4007-b175-d68367a964ee)

Results text:

C:\RuntimeSymbolExport\RuntimeSymbolExport\RuntimeSymbolExport\bin\Debug>Runtime
SymbolExport.exe app6b SFS*CMMD--*****

C:\RuntimeSymbolExport\RuntimeSymbolExport\RuntimeSymbolExport\bin\Debug>Runtime
SymbolExport.exe app6b

[2018-02-08 22:24] BobBooth commented on #88
In the 1.x.4 set, SFS-CMMS-------  seems to be an error with the standard - the same code is used twice for Mine Sweeper and Mine Sweeper Support:
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/82529fe2-2ee4-4941-9d10-27fa36a628ae)
(page 247 / D-4-3)
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/b98b8d01-63c9-4a1f-ab2b-3c0e93e4ab85)
We have

[2018-02-08 22:55] topowright commented on #218
@csmoore  looking further into this issue I am finding that the blue box draws differently in ArcGIS Pro and Runtime. I have made sure that the runtime app has the same stylx file as the one I used in Pro.

The image on the right is based on the test Runtime app:
![image](https://user-images.githubusercontent.com/5488313/36002743-16fbfd5a-0ce0-11e8-927c-3448ff4e2878.png)

[2018-02-09 00:20] csmoore commented on #218
@topowright - it looks like you are comparing 2 different styles/standards - left looks like app6b (which I don't think has these status modifiers) and right looks like something else - 2525 ?

Also - those 2525 icons are provided to us - so any color discrepancies might need to be addressed in source data provided by gov't - ex:
https://github.com/Esri/military-features-data/blob/dev/military-sym

[2018-02-09 16:55] csmoore commented on #88
@lfunkhouser @topowright @ACueva @dfoll

Can you check with Core if this step is still necessary before editing / creating the stylx to be compatible with Runtime :

https://github.com/Esri/military-features-data/tree/dev/military-symbology-styles/utils-and-source-data/style-creation-utilities#important-warning-on-runtime-compatibility-before-you-begin

@BobBooth  wanted to double check since thes

[2018-02-09 17:12] BobBooth commented on #88
Also, @lfunkhouser - do you have copies of the original SVG files used to make these symbols? Would be handy to have, so the bits share the same reference system/scale/etc...

[2018-02-09 17:16] topowright commented on #218
@lfunkhouser can you give us a path forward.

[2018-02-09 17:35] topowright commented on #218
@csmoore looking at the issue based on your last comment it seems like the blue symbol shows up in ArcGIS Pro as well. You were correct that I was looking at the APP6B style. Here is the screen shot using MSE:

![image](https://user-images.githubusercontent.com/5488313/36041149-8082b5d8-0d7c-11e8-86b3-f773772c161e.png)

[2018-02-09 20:04] BobBooth commented on #88
I found the archive of 2525C SVGs, the other_submersible_(rescue,_research,_underwater_tug) set seems to be working.
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/d1728cde-48a7-4a7f-9623-5afa81340237)
The symbol comes in as 10 pt, looked tiny compared to the unmodified ones, so I boosted it to 25pt (like the others in this group) and it seems to scale correctly.

[2018-02-09 20:24] BobBooth commented on #88
Updated STYLX with imported symbol from 2525C source SVGs is working in the runtime app:
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/ba92a4df-efe4-466b-80d4-7549febf60a2)
@csmoore @topowright
@lfunkhouser
This seems to be the correct way forward.

[2018-02-09 20:35] BobBooth commented on #88
Adapted batch script to test each affiliation:
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/360aedb3-94e4-4526-808a-89d66fbc2d59)

[2018-02-09 21:14] BobBooth commented on #88
The Repair Ship symbol case is strange. I can search the style in Pro and it shows up with the AR symbol. However, when I run the runtime app test script I'm getting the AA symbol.
Is this a case of mis-tagging in the STYLX?
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/c6488c88-6907-451a-8d4c-779285e19bb2)
@csmoore

[2018-02-09 21:42] BobBooth commented on #88
ENY Patrol Antisurface Warfare preview image is drawing in Pro at 20 pixels high while similar ENY symbols are 28 pixels high.
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/e7bf3703-ceb0-4657-88e5-0edc2b5066ad)
Both are supposed to be displayed at 25 point font, so perhaps the SVG for ENY Patrol Antisurface Warfare is smaller than those used for the other symbols
The o

[2018-02-09 21:49] BobBooth commented on #88
I will pick this up on Monday with MCM Support
MCM SUPPORT	1.X.4.1.3.4	SFS*CMMS-------

[2018-02-09 22:56] topowright commented on #218
This issue can be closed, but it did span other questions that will be addressed here:
https://github.com/Esri/joint-military-symbology-xml/issues/484

@lfunkhouser are you okay with us closing this issue?

[2018-02-12 13:33] csmoore commented on #88
@BobBooth RE: Repair Ship  - there must be another symbol with the same "key" and it is finding that one first - finding and changing the key for the bad symbol is probably the solution - just ping me if you can't locate (since I'm not sure if you can search by "key" in Pro)

[2018-02-12 16:05] BobBooth commented on #88
@csmoore - actually, the standard itself looks broken. Perhaps there is an errata document for it?
SFS*NR--------- maps to two different symbols in the PDF.
The original poster mentioned:
"...
This error is present in NATO APP6B document (same sic has been used twice) addressed by BUG-000086889
..."

[2018-02-12 16:40] BobBooth commented on #88
S*S*CMMS-- also maps to two items in the standard document.
This is an error in the standard. Unless there is an errata document correcting this for the standard, I'm not how we are supposed to decide which one it should display as.
@csmoore

[2018-02-12 16:47] BobBooth commented on #88
I'm marking this as impeded again.
The things that could be fixed have been.
Two items remain:
MCM Support (S*S*CMMS- maps to Minesweeper and MCM Support)
Repair ship (S*S*NR--) maps to Underway replenishment and repair ship)
both are due to errors (duplicate use of the same codes) in the standard itself.

It would be nice to have @csmoore's question answered.

[2018-02-12 16:52] csmoore commented on #88
@BobBooth - an Errata for these standards would definitely be helpful since they do have errors, but I don't think one exists.

Just need some guidance whether to (1) Pick one over the other, change the other's "Key", add an "Error in the Standard" tag -or- (2) Draw neither -or- (3) something else

[2018-02-12 17:08] ACueva commented on #88
@lfunkhouser Please let us know what to do with these two errors in the standard.

[2018-02-12 18:53] BobBooth commented on #85
MEDEVAC ROTARY WING -  replaced symbols with SVGs from 2525C, observed symbols display larger.

[2018-02-12 19:04] BobBooth commented on #85
Updated Keys and Tags for SFGPUCFRS****** set - they were incorrectly tagged with duplicates of the SFGPUCFR**SS** series.

[2018-02-12 19:17] lfunkhouser commented on #88
@ACueva or @dfoll Please follow up with this issue.

We implement the standard, so if it is an issue with the standard, it should be reported to the JSP/SSMC through @joebayles. Before moving forward with @csmoore options for a solution, please fully understand after working with Joe if anything has been reported with these symbols and what the JSP's recommendation is for the duplicate entries.
In

[2018-02-12 19:18] lfunkhouser commented on #88
Assigning to @ACueva and @dfoll to dig into this issue

[2018-02-12 19:23] BobBooth commented on #85
Updated Keys and Tags for SUGPUCFMSW- set - they were incorrectly tagged with SUGPUCFMW-
(missing the S before the last W).

[2018-02-12 19:42] BobBooth commented on #88
@lfunkhouser  - the APP6-B standard has the same SIC for Repair Ship and Underway Replenishment.
What we draw, when given the input code, is the first one that is comes to, which is the AA (UNDERWAY
REPLENISHMENT) symbol, rather than the AR symbol.
https://camo.githubusercontent.com/e2a2c6a37f14a14ca43aa19a52d293b9d8962b74/68747470733a2f2f696d616765732e7a656e68756275736572636f6e74656e742e636f6d2f3

[2018-02-12 20:01] BobBooth commented on #85
Updated Keys and Tags for SFGPUCRLL-- set. They were incorrectly tagged with SFGPUCRL--
(missing final L).

[2018-02-12 20:27] BobBooth commented on #85
There are a couple of issues with Landing Support:  SFG-UUX-
According to the APP6-B PDF, the SIC should be SFG-UUL-
![image](https://user-images.githubusercontent.com/3801392/36117766-d8772e0c-1008-11e8-992e-b52753c88c38.png)

However, this SIC is also duplicated in the standard and represents Law Enforcement Units:
LAW ENFORCEMENT UNIT 1.X.3.1.2.3 S*G*UUL---*****
![image](https://user-images.git

[2018-02-12 20:59] BobBooth commented on #85
SFG-USAW-
When I search the style in Pro  for Moral, I find a number of symbols with this SIC series:
SFGPUSAL--  and with the name prefixed with "Placeholder"
Pro symbols tagged with "Placeholder"
![image](https://user-images.githubusercontent.com/3801392/36119229-540ccf50-100d-11e8-8b9c-f7cee92437b3.png)

I think we need to import the symbols from 2525C (like sfgpusaw--
![image](https://user-ima

[2018-02-12 21:18] BobBooth commented on #85
Updated the whole Moral Welfare series (theater and corps level, in addition to the basic one).
Updated symbols from 2525C SVGs, updated tags, updated keys.
![image](https://user-images.githubusercontent.com/3801392/36120126-315bf6a4-1010-11e8-951c-a4c832610e64.png)
SFG-USAW---
SFG-USAWT---
SFG-USAWC--

[2018-02-12 21:32] BobBooth commented on #85
Will wrap these up tomorrow, starting at UNIT GENERAL LIAISON

[2018-02-13 00:13] ACueva commented on #88
@lfunkhouser E-mail sent to Runtime team for clarification on @csmoore 's questions.

[2018-02-13 15:28] BobBooth commented on #85
For Unit General Liaison  1.X.3.1.7   SFG*GL---- it appears the ArcGIS Pro style matches the standard PDF. The reason the symbol is not drawing for the user is that the wrong SIC is being requested. User states "SFG-UHGL-------" - has extra UH before the GL, which does not appear in the standard. This one is user error.
![image](https://user-images.githubusercontent.com/3801392/36157690-60eb34fa-1

[2018-02-13 15:35] BobBooth commented on #85
Update Tank Light Recovery series tags and keys.
Standard specifies:

TANK LIGHT RECOVERY | 1.X.3.2.2.1.1.1.1 | SFG-EVATW------
![image](https://user-images.githubusercontent.com/3801392/36158125-85d5b3ac-10a9-11e8-804e-7767bb71b381.png)
Pro has SFGPEVATLR key. Changingt to SFGPEVATW

[2018-02-13 15:42] BobBooth commented on #85
For  TANK MEDIUM RECOVERY | 1.X.3.2.2.1.1.2.1 | SFG-EVATX------
Changing Pro tags and Keys from SFGPEVATMR to SFGPEVATX
![image](https://user-images.githubusercontent.com/3801392/36158532-8ae0efdc-10aa-11e8-9fef-ff00520e5fcb.png)

[2018-02-13 15:45] BobBooth commented on #85
For  TANK HEAVY RECOVERY | 1.X.3.2.2.1.1.3.1 | SFG-EVATY------
Changing Pro tags and Keys from SFGPEVATHR to SFGPEVATY
![image](https://user-images.githubusercontent.com/3801392/36158707-f2ec3eba-10aa-11e8-8bf2-8bfc27445b1e.png)

[2018-02-13 15:52] BobBooth commented on #85
For SEA SURFACE INSTALLATION, OIL RIG / PLATFORM | 1.X.3.4.1 | SFG-IRR---H----
The standard specifies:
![image](https://user-images.githubusercontent.com/3801392/36158807-34884472-10ab-11e8-85d7-c5073d7f27c4.png)
We have a key of: SFGPIRSR-- should be SFGPIRR---H  (tag says SFGPIRSR--H****)
Changing tags and keys.
![image](https://user-images.githubusercontent.com/3801392/36159152-07fa255a-10ac-11

[2018-02-13 15:58] BobBooth commented on #85
Adding symbols to automated test BAT file.

[2018-02-13 16:41] ACueva commented on #88
Path forward:
Research behavior in 2525B to see if there is a typo or other minor issue.
@BobBooth will research this behavior in 2525B
Result: Table with differences. Provide this table for @joebayles and @lfunkhouser.

[2018-02-13 16:51] ACueva commented on #88
Reached out to Ralf G. on the Runtime team:
Q: 1.	Do we still need to perform the following steps before editing/creating a stylx for it to be compatible with runtime?
https://github.com/Esri/military-features-data/tree/dev/military-symbology-styles/utils-and-source-data/style-creation-utilities#important-warning-on-runtime-compatibility-before-you-begin

A: "... they don’t look necessary anymore

[2018-02-13 17:09] topowright commented on #88
This was tested in Runtime 100.1

[2018-02-13 17:11] topowright commented on #88
Next step will be for @ACueva to log an issue in the :

https://github.com/Esri/joint-military-symbology-xml/issues

[2018-02-13 17:18] topowright commented on #85
If you need to test this in Pro 2.2 any build after 11391 should work.

[2018-02-13 17:35] lfunkhouser commented on #88
MIL-STD-2525B Change 2 has a symbol for Underway Replenishment, SIDC: S*SPNR---*****
This symbol should be drawn for the SIDC
![image](https://user-images.githubusercontent.com/3800729/36164437-2f133a06-10a1-11e8-9157-06b7dba9dc0c.png)

[2018-02-13 20:11] BobBooth commented on #85
Ran BAT file. Numerous display errors resulted. Debugged with @csmoore  and determined that I had not matched the expected SIC convention in the style. Going back through and fixing.

[2018-02-13 20:51] BobBooth commented on #85
Got key/tags updated.
![image](https://user-images.githubusercontent.com/3801392/36173032-c9e0dcda-10d5-11e8-8890-5f0757effe24.png)

Almost all displaying properly now, except for the Moral Welfare series.
For some reason, although they preview in Pro with the MWR text on them, it does not appear when exported using the Runtime tool.

[2018-02-13 20:55] BobBooth commented on #85
This shows the Moral Welfare symbols displaying with MWR text in Pro:
![image](https://user-images.githubusercontent.com/3801392/36173220-40ae3e02-10d6-11e8-8498-2a6ebb7c6afb.png)

[2018-02-13 21:05] BobBooth commented on #88
@ACueva  @dfoll
There are a couple of issues with Landing Support:  SFG-UUX-
According to the APP6-B PDF, the SIC should be SFG-UUL-
![image](https://user-images.githubusercontent.com/3801392/36117766-d8772e0c-1008-11e8-992e-b52753c88c38.png)

However, this SIC is also duplicated in the standard and represents Law Enforcement Units:
LAW ENFORCEMENT UNIT 1.X.3.1.2.3 S*G*UUL---*****
![image](https:/

[2018-02-14 01:27] #218 closed

[2018-02-14 15:14] csmoore commented on #85
I can confirm that Pro 2.2 daily does support the current app6b stylx (Tested on ArcGISPro 2.2.11600)

We may need to doc the steps a bit:
1. Copy app6b.stylx from this repo to
2. `Pro\Resources\Dictionaries\app6b` (create folder `app6b` here if it does not exist)

![image](https://user-images.githubusercontent.com/3090809/36211456-45d156a0-116f-11e8-9f09-d4701a4069b8.png)

[2018-02-14 15:22] csmoore commented on #73
I can confirm that this is still an issue with the latest stylx (red dot denotes center point). Some air are centered on top some on bottom of dot - probably just needs to be made consistent (make whatever is used most common):

![image](https://user-images.githubusercontent.com/3090809/36211862-6351a33c-1170-11e8-95a3-d42c0c1db9a1.png)

Adding dev tag and re-estimating.  Additional note - this sh

[2018-02-14 16:26] topowright commented on #9
@BobBooth please summarize the remaining work on this issue

[2018-02-14 16:28] topowright commented on #9
@dfoll @ACueva one of us needs to own this issue to have a full understanding on what work is remaining.  This needs to be a PE driven effort from @lfunkhouser

[2018-02-14 16:29] lfunkhouser commented on #88
@dfoll @ACueva @topowright Please read all comments in this issue, understand the issue, and identify the remaining work that needs to be completed.

[2018-02-14 16:31] lfunkhouser commented on #291
@dfoll @ACueva @topowright Please read all comments in this issue, understand the issue, and identify the remaining work that needs to be completed.

[2018-02-14 16:31] lfunkhouser commented on #290
@dfoll @ACueva @topowright Please read all comments in this issue, understand the issue, and identify the remaining work that needs to be completed.

[2018-02-14 16:34] lfunkhouser commented on #85
@dfoll @ACueva @topowright Please read all comments in this issue, understand the issue, and identify the remaining work that needs to be completed.

[2018-02-14 16:36] lfunkhouser commented on #73
@dfoll @ACueva @topowright Please read all comments in this issue, understand the issue, and identify the remaining work that needs to be completed.

[2018-02-14 16:37] BobBooth commented on #291
Many of these are fixed in
https://github.com/Esri/military-features-data/issues/85
and
https://github.com/Esri/military-features-data/issues/88
@lfunkhouser  @dfoll @ACueva @topowright

[2018-02-24 01:01] csmoore commented on #293
Note: Updated the original issue [comment above](https://github.com/Esri/military-features-data/issues/293#issue-290022266) with high-level plan, potential subtasks, etc.

[2018-02-27 09:20] NorbertThoden commented on #276
Hi!
I try to read the app6b.stylx file but "File not found"

I am using the Runtime SDK Qt V100.2.0 and V100.2.1 (QML)
Error: code=14 domain=0 , extendedErrorType=-1, message='File not found'.

I ask at the forum: https://community.esri.com/thread/209736-readingloading-app6bstylx
I logged a case: Logged to support: "Case #02068526 - reading/loading app6b.stylx fails"

But i don´t get the answer, h

[2018-03-08 14:17] csmoore commented on #263
I don't think these changes were ever made to the **2525D/C_B2 styles/renderer** so I believe this issue can be closed.  @topowright @ACueva @dfoll @lfunkhouser you may want to just confirm with Core there are still no plans to do this.

These changes were completed to the **app6.stylx** so that work is done also.

[2018-03-08 17:48] csmoore commented on #293
This is in the [Sprint plan](https://github.com/ArcGIS/solutions-defense/wiki/Release-2018-April#sprint-6-mar-07---mar-13) so going to move in progress and verify there are no issues creating a style with the latest SVGs using **Pro** only.

[2018-03-08 21:10] BobBooth commented on #9
Getting back up to speed. Updating stylx in my fork of the repo.

[2018-03-08 21:55] lfunkhouser commented on #293
@csmoore This is an epic and needs to be broken down into issues not just pulled in and worked on. There is no understanding among the team of what this issue means. The high-level plan needs to be broken down into manageable issues that can be worked on and closed out.

[2018-03-09 12:17] csmoore commented on #293
@lfunkhouser - OK - I was just going to work on the first task above "Update stylx creation process to use Pro 2.0" but can wait until this complete item is planned+ready to work on - moving task back

[2018-03-09 19:45] BobBooth commented on #9
Ran the comprehensive APP6B bat file. Out of 1,186 items, 11

drew with yellow quatrefoil and one other error (waves going

beyond bounding box for SFGPUUMSEJ--) were found.

| SIDC| Display Issue| Should be |

|SFUPNM---------.png | yellow quatrefoil|  |
|SFUPNBW--------.png | yellow quatrefoil|  |
|SFUPNBR--------.png | yellow quatrefoil|  |
|SFUPNA---------.png | yellow quatrefoil|  |
|GHOPPCU-

[2018-03-12 15:25] BobBooth commented on #9
@csmoore  - in the description of this issue there are several search area items (FHNU for Left and Right)
I'm seeing one output search area item that matches the SIDC pattern in the runtime output:
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/eafe0d55-7be8-4a1a-a695-5656aa39940b)
Can you clarify what the issue is with this?

[2018-03-12 16:06] csmoore commented on #9
@BobBooth - sorry if my [comments above were confusing](https://github.com/Esri/military-features-data/issues/9#issuecomment-357349742) - I was saying these were drawing (each item has a "Not Drawing" "Drawing" description).

[2018-03-12 19:50] BobBooth commented on #73
Checked in Pro 2.2 to see which Air symbols were offset.
Determined that there were three that needed fixing.
SFAPMFRZ------
SFAPMFPN------
SFAPWMAS------
Offset Y axis of symbol by 18% for each.
![image](https://user-images.githubusercontent.com/3801392/37306096-00adebbc-260d-11e8-989b-a410ce1d4b80.png)

[2018-03-12 20:12] BobBooth commented on #73
Applied -2% offset to Air to Air missile symbol.
![image](https://user-images.githubusercontent.com/3801392/37307103-320b309a-2610-11e8-9d65-f11bdaf162b0.png)
SFAPWMAA
--

[2018-03-13 14:05] BobBooth commented on #73
@csmoore - updated Medevac rotary wing symbol that was showing up too large.
![image](https://user-images.githubusercontent.com/3801392/37346597-18e3b42a-26a6-11e8-9cf6-080d72f3f207.png)

[2018-03-13 15:31] BobBooth commented on #73
I think with that last change, this issue is done. Removing the Dev tag.
Still needs verified.

[2018-03-13 17:24] BobBooth commented on #85
Working on fixing the Moral Welfare symbols.
Opened up the SVGs for 2525C and re-centered the (strangely offset) text and frames, saved them out.
The fixed symbols look good in the Pro symbol editor, but the font component does not get created in the Runtime symbol export tool.
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/bcd5cf4a-eff8-4984-bfe5-a05a0f6e4ae2)
![image.

[2018-03-13 17:39] BobBooth commented on #85
The font is apparently Arial.
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/128a9cb4-af0b-43a8-bed6-29766a41cc21)
@csmoore      are you aware of any issues with Runtime and the Arial font?

[2018-03-13 19:01] BobBooth commented on #85
Making progress.
I was able to open one of the svgs, extract the MWR text, and save it to a svg1.1 file, converting the font to outlines. This new MWR.svg was added as a layer on top of one of the symbols, and the text is now appearing. Must be a font issue.
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/66c38adb-9866-4896-a465-0134f581829b)
I will save the other copies

[2018-03-13 19:25] BobBooth commented on #85
MWR issues fixed.
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/e1dc0352-7bda-484f-abf4-1d481194e903)
Converted all of the fonts to outlines, reloaded the symbols.

[2018-03-13 19:48] BobBooth commented on #85
This issue should be complete except for an executive decision on what to do about the two cases where the standard has duplicate SIDCs pointing at different symbols (LANDING SUPPORT and UNIT GENERAL LIAISON).
@lfunkhouser  @topowright  @dfoll  @ACueva   @csmoore

[2018-03-13 20:31] BobBooth commented on #215
Is this for "TANK LIGHT RECOVERY" (S*G*EVATW-*****)?
That is fixed as part of the work on https://github.com/Esri/military-features-data/issues/85

[2018-03-14 18:29] csmoore opened #296 "Create an app to create stylx file"
### Background

The stylx creation process has changed since Pro 1.2.

At Pro 2 support was added for

1. Directly add SVG to styles
2. Mobile Styles that are supported both in Pro and Runtime

The old process at: https://github.com/Esri/military-features-data/tree/dev/military-symbology-styles/utils-and-source-data/style-creation-utilities

is no longer necessary (in addition to being overly comp

[2018-03-14 18:44] csmoore opened #297 "Create APP-6(D) Mobile Style/Stylx with new Dismounted icons"
### Background

An APP-6(D) dictionary (Mobile Style/Stylx) should be provided to work with the Runtime/Pro/Server Dictionary Renderer.

APP-6(D) and MIL-STD-2525D are very similar except for the Addition of Dismounted Individual Symbol Set (Set `27`).

### Current State

There is no APP-6(D) Mobile Style/Stylx

### Steps to Reproduce / Requirement / Workflow

For simplicity, the APP-6(D) Mobile S

[2018-03-14 20:28] csmoore opened #298 "Identify the set of differences between APP-6(D) and MIL-STD-2525D"
### Background

APP-6(D) data products will be created from ones produced for MIL-STD-2525D. These data products include:

1. Mobile style
2. Schema/GDB
3. Metadata used to produce Mobile style, GDB

In order to create these products the team should first produce a short synopsis/document that highlights and identifies the set of differences between APP-6(D) and MIL-STD-2525D.

### Current State

[2018-03-14 21:59] csmoore opened #299 "Provide app6d.stylx to Core and coordinate Renderer Rule Engine Changes"
### Background

APP-6(D) symbols, similar to 2525D, etc. will be drawn with the Dictionary Renderer. App6d will be able to use the existing Dictionary Renderer mil2525d rule engine

However, certain changes like

1. The additional of a new symbol set (Dismounted /  Set `27`)
2. A new frame style for the Friendly Dismounted set only

will require changes to the rule engine to enable these to be dra

[2018-03-14 22:24] ACueva opened #300 "Add Leadering display capability."
_From @nfeuerstein on August 24, 2017 19:28_

Military symbol deconfliction: leadering.

_Copied from original issue: national-security-ideas-engagements#56_

[2018-03-14 22:24] ACueva commented on #300
_From @nfeuerstein on September 1, 2017 6:47_

Feedback from 4ID on Leadering
![image](https://user-images.githubusercontent.com/4732590/29958289-27d78acc-8eaf-11e7-9f96-1de4cbc029d5.png)

https://esri.app.box.com/file/148610732719

[2018-03-14 22:24] ACueva commented on #300
_From @nfeuerstein on September 1, 2017 6:52_

Feedback from the Swiss Army:
The primary use case is for Military Symbology is for Planning:
*WYSIWYG Sketching of UEI (Points) and Tactical Graphics (lines/areas), or in their terms ‘N-point Symbol’
*Stacking
*Leadering

We know that features are stored in a geodatabase in Oracle, however we areunsure how the leadering & stacking is done; we think t

[2018-03-14 22:24] ACueva commented on #300
_From @nfeuerstein on September 6, 2017 21:19_

As a topographic engineer, I can group and offset/deconflict units to create a more meaningful military overlay when large numbers of units are used.

A tool or workflow is available that can take in a Military Overlay Layer and produce/output a new layer with grouped/offset units and offset indicators. This tool can be provided to the customer to ob

[2018-03-14 22:29] ACueva opened #301 "Add Stacking display capability"
_From @nfeuerstein on August 24, 2017 19:27_

Military symbol deconfliction: stacking.

_Copied from original issue: ArcGIS/national-security-ideas-engagements#55_

[2018-03-14 22:29] ACueva commented on #301
_From @nfeuerstein on September 1, 2017 6:46_

Feedback from 4ID on stacking:
![image](https://user-images.githubusercontent.com/4732590/29958250-fd7052d2-8eae-11e7-8c5d-54b24cab4e52.png)

https://esri.app.box.com/file/148610732719

[2018-03-14 22:29] ACueva commented on #301
_From @nfeuerstein on September 1, 2017 6:52_

Feedback from the Swiss Army:
The primary use case is for Military Symbology is for Planning:
*WYSIWYG Sketching of UEI (Points) and Tactical Graphics (lines/areas), or in their terms ‘N-point Symbol’
*Stacking
*Leadering

We know that features are stored in a geodatabase in Oracle, however we areunsure how the leadering & stacking is done; we think t

[2018-03-14 22:43] adgiles opened #302 "Draw military symbology in the web client side"
#### Summary of Issue Encountered:

As a user I want to be able to draw military symbology from the relevant information held within a feature class. Ideally this should be done client side making use a javascript library.

##### Brief summary of issue encountered:

Functionality does not yet exist

##### Include the military symbology standard and version/change set (ex. -2525D):

All currently s

[2018-03-14 22:53] ACueva opened #303 "Military Symbology should be scale dependent"
#### Summary of Issue Encountered:
As a user I should be able to zoom in to a map and have my military symbology draw based off of preset scales set for Command/Brigade/Battalion/ etc.
As a user I should be able to set the scale threshold on when each type of military symbology draws.

##### Current State:
This functionality is currently not possible.

### Expected Results / Behavior

Scale depend

[2018-03-14 23:00] adgiles opened #304 "Edit military symbology in the web"
#### Summary of Issue Encountered:

As a user I want to be able to edit/create military symbology in the web client side. To do this I would like a simple GUI editor to create my symbol then the option to add it to the map and it persist in a feature layer.

[2018-03-14 23:07] ACueva opened #305 "Add ability to right click on Military Symbology on a map and update its values."
#### Background:
As a user I want to be able to right click on a Military Symbol on a map and modify/update its values.
##### Current State:
This functionality currently does not exist.

##### Steps to Reproduce / Requirement / Workflow:
User right clicks and sees the option to edit the symbology.

##### Expected Results / Behavior:
Changes made after clicking save/update should be immediate.

###

[2018-03-14 23:08] csmoore commented on #298
Quick Note: a very quick/high level diff analysis is here: https://github.com/Esri/military-features-data/issues/293#issuecomment-363813115

@joebayles - the APP-6D standard does mention cyberspace is several sections (Ex: A-6, Table A-4: Symbol Set) - are you sure this has been removed?

[2018-03-14 23:14] llsjr2 opened #306 "Add a status for combat power and status for APP6D symbols"
#### Summary of Issue Encountered:
APP6D allows for a box under the symbol to display the current status of a unit/equipment.  Need to be able to edit the symbol to reflect the change.  Unit is currently not designed for this option, but if necessary a analyst can include that into there display.

The symbol should have the box available and the color of the box should reflect the standard status

[2018-03-14 23:20] adgiles opened #307 "Export Military Features Layer to KML/KMZ"
As a user I would like to be able to export a military feature layer I have created in ArcGIS Pro to a KML/KMZ so that it can be displayed in other systems such as Google Earth or Falcon View.

The exported layer should include all the symbology that was present in the feature layer within ArcGIS Pro.

[2018-03-14 23:26] csmoore commented on #299
Update:

app6d.stylx is available at:  https://github.com/Esri/military-features-data/tree/csm/app6d-dev/military-symbology-styles/app6d

Here are the Rule Engine changes I believe are needed to support the new Dismounted Symbol Set:

1. Add new supported Symbol Set  enum value

/mil2525d/blob/master/src/mil2525d_types.h

[code]

2. Add mappings for this new symbol set

/mil2525d/blob/master/src/m

[2018-03-14 23:29] ACueva opened #308 "Add the ability to view Military Symbology in 3D"
### Background:
As a user I would like to be able to view military symbology in 3D from within ArcGIS Pro.

### Current State:
This feature is not currently available in our solution.

### Steps to Reproduce / Requirement / Workflow:
3D capability should be available seamlessly from within ArcGIS Pro 2.x

### Version:
Pro 2.2

[2018-03-14 23:30] kgonzago opened #309 "Make Military Features layer time aware"
#### Summary of Enhancement:
Military Features layer should be time aware to allow for animation to playback past maneuvers/positions. This will also allow users to view rehearsal of an exercise before the exercise is performed.

[2018-03-14 23:56] adgiles opened #310 "Convert existing features without an SIDC into a military features layer"
#### Summary of Issue Encountered:

As a user I want to be able to take an existing feature class or shapefile that does not contain column with SIDC values and convert that to a military feature layer that I can then use with the military symbol editor to assign the relevant military symbology.

The workflow could be that i have a csv file with my unit locations that i bring into Pro and convert

[2018-03-14 23:59] llsjr2 opened #311 "Export the Military Overlay into Multiple file format with SIDC code included"
The DOD has multiple file input format.  After an analyst create the overlay, it needs to be distributed to multiple systems of record.
File types required is
[] .cxv
[] .shp
[] .txt

In the file it must include the SIDC for the system that use it for it's symbology.  example CPOF.

[2018-03-15 00:42] ACueva opened #312 "Add ability to convert features from one standard to another."
### Background:
As a user I want to convert features from one standard to another.

### Current State:
This capability is currently not available.

### Steps to Reproduce / Requirement / Workflow:
1. User should be able to convert from any of supported standards to any other supported standard.

### Version:
Pro 2.2

[2018-03-15 18:20] BobBooth commented on #291
Updates to stylx and to comprehensive test data (some sidcs wrong).
Includes fixes for:
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/a7020df0-7b04-4476-a40e-4a790d38e5e6)

[2018-03-15 18:24] csmoore commented on #296
@dfoll @topowright - a quick app to create a new Pro Style from SVGs is now available to test at: https://esri.box.com/s/s042ujvrzrhtx7kufz6o8srxcweibeaq

This App takes as input:

1. The SVGs provided to us by the symbol committee - available at: https://github.com/Esri/military-features-data/tree/csm/app6d-dev/military-symbology-styles/utils-and-source-data/svg
2. A CSV file that matches the des

[2018-03-15 22:36] topowright opened #313 "Add symbol sets for Cyberspace for APP6-D"
#### Summary of Issue Encountered:
We currently use the 2525-D style file as a starting point to create APP6-D. APP6-D lists the cyberspace areas seperately where 2525-D lists them all under one section. We need to add the sections for APP6-D

##### Brief summary of issue encountered:
The areas in red are the differences between APP6-D and 2525-D:

![image](https://user-images.githubusercontent.co

[2018-03-16 15:11] csmoore commented on #296
@topowright @dfoll

Updated addin app is now available to test at: https://esri.box.com/s/s042ujvrzrhtx7kufz6o8srxcweibeaq

Should look like this now and eliminate the edit-csv step (I crossed out above):

![image](https://user-images.githubusercontent.com/3090809/37528241-87964ad4-290a-11e8-88ce-e3bbf7f645ef.png)

[2018-03-16 16:33] BobBooth commented on #291
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/90b5cc61-0f57-4e8e-a621-5ed4aec05f7d)
Written propaganda, Enemy Main Axis of Advance Templated, Confirmed, Jamming, Composite fixes.

[2018-03-18 21:01] joebayles commented on #298
@csmoore it hasn't been removed. I should clarify: MIL-STD-2525D Change 1 has brand-new cyberspace symbology (including it's own frame shape). MIL-STD-2525D and APP-6D have the same cyberspace symbols. I apologize for the confusion.

[2018-03-19 16:23] BobBooth commented on #215
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/ca7a2840-5c66-438e-a529-a1a066eb5559)
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/ec888084-30e3-4316-af8b-136ae0fa47c8)
This is done.

[2018-03-19 19:44] BobBooth commented on #85
We should stick with our current SIC SFGPUUP--- for Landing Support and SFGPUUL--- for Law Enforcement, these match the usage in the 2525C standard, the APP6B stadard PDF seems to be in error).

[2018-03-19 19:46] BobBooth commented on #88
We should stick with our current SIC SFGPUUP--- for Landing Support and SFGPUUL--- for Law Enforcement, these match the usage in the 2525C standard, the APP6B stadard PDF seems to be in error). See notes in https://github.com/Esri/military-features-data/issues/85

[2018-03-19 20:37] BobBooth commented on #88
Changed our symbol for Underway Replenishment to the AR symbol, updated tags in stylx.

[2018-03-19 20:50] BobBooth commented on #88
Changed our App6B symbols for MCM Support to use SFSPCMMA-- SICs instead of SFSPCMMS--
This is the way it is in 2525C. MS is minesweeper.

[2018-03-19 20:55] BobBooth commented on #88
![image](https://user-images.githubusercontent.com/3801392/37621721-33121554-2b96-11e8-9a6f-6fd0f7cedb44.png)
![image](https://user-images.githubusercontent.com/3801392/37621758-4d43d502-2b96-11e8-9133-764057f5fbb1.png)

[2018-03-20 18:37] BobBooth commented on #85
Test script to generate these symbols.

[Issue85_problems_all_affiliations.zip](https://github.com/Esri/military-features-data/files/1830668/Issue85_problems_all_affiliations.zip)

Script output:
![image](https://user-images.githubusercontent.com/3801392/37675680-3efd409e-2c4c-11e8-81d7-b6115845a4fc.png)

[2018-03-20 18:43] BobBooth commented on #88
Script to test Issue 88:
[Issue88_test.zip](https://github.com/Esri/military-features-data/files/1830725/Issue88_test.zip)
Issue 88 test script output:
![image](https://user-images.githubusercontent.com/3801392/37675885-ca0954d4-2c4c-11e8-9be3-2a34319df55b.png)
![image](https://user-images.githubusercontent.com/3801392/37675913-de7cf7d6-2c4c-11e8-9328-cf44525bd241.png)
![image](https://user-images

[2018-03-21 16:51] BobBooth commented on #291
Image output for all symbols in this issue.
![image](https://user-images.githubusercontent.com/3801392/37724098-6cab3950-2d06-11e8-9a10-c382b31c6f46.png)
[Issue291_test.zip](https://github.com/Esri/military-features-data/files/1834288/Issue291_test.zip)
Test bat file to generate these images.

[2018-03-22 14:47] BobBooth commented on #73
![image](https://user-images.githubusercontent.com/3801392/37777594-519d54b4-2dbe-11e8-8735-448ca7e4b22e.png)
[Issue_73_test_data.zip](https://github.com/Esri/military-features-data/files/1838006/Issue_73_test_data.zip)
Images and test script to generate them with the runtime app.

[2018-03-22 16:57] BobBooth commented on #24
Tested with Runtime symbol test app from @csmoore.
Three of these (Reef and Submarine cable line symbols and Flatbed Trailer point symbol) seem to be drawing correctly (green in graphic, below).
Lighthouse point marker symbol needs to have rays added to PNG and symbol reloaded - this is an easy fix.
The Wind Plot symbols are a duplicate SIC error with the standard; multiple symbols are related to

[2018-03-23 19:18] BobBooth commented on #295
@csmoore - what do you think is a good way forward for the APP6-B dashed and dotted frames?
Do we need to re-create all of the symbols, the way we have separate symbols for F,H,N,U?  Is it possible to inform the dictionary rendered to drop a generic dotted or dashed overlay on the existing symbols, given a known affiliation?

[2018-03-26 14:24] csmoore commented on #296
The style creation addin app has been updated to add the step of merging the lines-area-labels style and point style:

This eliminates this step in the old process:  [Merge](https://github.com/Esri/military-features-data/tree/dev/military-symbology-styles/utils-and-source-data/style-creation-utilities/merge-stylx-utilities) - part of [Overall Process](https://github.com/Esri/military-features-data

[2018-03-26 15:33] ACueva commented on #73
APP6B Standard
![2018-03-26_8-27-26](https://user-images.githubusercontent.com/3093940/37915977-8893dbbe-30cf-11e8-8a15-26e140554ec0.jpg)
Verified SFAPMFO--------in Pro 2.2 Daily Build 11859
![2018-03-26_8-22-42](https://user-images.githubusercontent.com/3093940/37915711-fbabebf6-30ce-11e8-9b61-59bd4311c92e.jpg)

Runtime 100.2
![2018-03-26_8-32-19](https://user-images.githubusercontent.com/3093940

[2018-03-26 16:55] ACueva commented on #73
In addition to verifying the symbols draw in Pro 2.2 and Runtime 100.2, the symbols align properly in relation to other symbols.
![2018-03-26_9-55-09](https://user-images.githubusercontent.com/3093940/37920476-c92af6e2-30db-11e8-9d40-451ecb08a0dc.jpg)

[2018-03-26 17:07] ACueva commented on #73
@topowright I've manually tested these items.  2 labels are still present. QC- Verify (Automated) and QC-Verify (Checklist).  I am not sure if these are applicable.

If they are not, this issue can be moved to Done.

[2018-03-26 18:12] ACueva commented on #85
@BobBooth I spoke with @joebayles RE: https://github.com/Esri/military-features-data/issues/85#issuecomment-372795206
He agrees with your way forward.  The likelihood of this APP6B issue being addressed by the symbology committee is low, the way forward is to make sure this has been fixed in APP6D.
I will work on verifying this.

[2018-03-26 20:32] ACueva commented on #85
@BobBooth @csmoore I'm reviewing the initial comment. https://github.com/Esri/military-features-data/issues/85#issue-87677204  The SIDC for Fixed Wing Medivac is SFG-IBN---H----  when I search for this item in the APP6B stylx the symbol does not appear.  The SIDC that does work for Aviation Rotary Wing Medvac is
![2018-03-26_13-31-31](https://user-images.githubusercontent.com/3093940/37931301-0439

[2018-03-26 20:50] ACueva commented on #85
APP6B Standard
![2018-03-26_13-48-36](https://user-images.githubusercontent.com/3093940/37932071-678bb4e6-30fc-11e8-9d79-a9a4d74ed54e.jpg)
ArcGIS Pro 2.2 Build 11859
![2018-03-26_13-49-03](https://user-images.githubusercontent.com/3093940/37932090-759516e0-30fc-11e8-934f-7fa22a03d807.jpg)

[2018-03-26 20:51] csmoore commented on #85
@ACueva - you are testing the correct symbol/SIDC- it looks like the SIDC entry(`SFG-IBN---H----`) in the original [issue/table](https://github.com/Esri/military-features-data/issues/85#issue-87677204) was in error (name / image match but not the SIDC)

[2018-03-27 15:04] BobBooth commented on #85
@ACueva - there are a couple of rotary wing MEDEVAC symbols
![image](https://user-images.githubusercontent.com/3801392/37975766-0aba12fa-31ae-11e8-8670-fd2abd21cee1.png)
![image](https://user-images.githubusercontent.com/3801392/37976022-897787a8-31ae-11e8-8bfd-7a3676d03b0f.png)

[2018-03-27 15:43] ACueva commented on #85
This addresses: https://github.com/Esri/military-features-data/issues/85#issuecomment-376260660
Landing Support in APP6D is mentioned once in the standard.
![2018-03-27_8-27-16](https://user-images.githubusercontent.com/3093940/37977536-bbdf9bf6-3198-11e8-95d0-a2ab9aa70219.jpg)
It appears the SIDC convention used in APP6B is no longer the same as APP6D.  As a result, there is no 1 to 1 comparison

[2018-03-27 15:45] ACueva commented on #85
Remaining labels are:  G-QA Create (Checklist)  G-QC Verify (Checklist)
I am not sure they are applicable.  Can you please confirm? @lfunkhouser @topowright, Thanks.

[2018-03-27 16:20] csmoore commented on #296
I looked at some different approaches to setting the LabelRules in the stylx (and see if these are exposed in any way in Pro):

That is - this column is the style that is not exposed:

![image](https://user-images.githubusercontent.com/3090809/37980117-530c23e0-31b8-11e8-83b2-74545821d017.png)

That associates a style item with this table/entry:
![image](https://user-images.githubusercontent.com/3

[2018-03-27 17:42] ACueva commented on #290
Verified Landing Support - ArcGIS Pro 2.2 Build 11859

SGUUL---***** refers to:
![2018-03-26_14-28-39](https://user-images.githubusercontent.com/3093940/37984454-2748538a-31ab-11e8-856e-18daf3720054.jpg)
SGUUP---***** refers to:
![2018-03-26_14-30-54](https://user-images.githubusercontent.com/3093940/37984516-50149c4c-31ab-11e8-9f72-a8721c81a1af.jpg)
This was done this way per:
https://github.com/

[2018-03-27 18:37] ACueva commented on #290
APP6B Standard:
OID 560 Shape Point sic SFGPEVEMV------ Label ARMOURED CARRIER WITH VOLCANO
Confirmed no such SIDC and corresponding symbol exists in the APP6B Standard.
![2018-03-27_11-03-57](https://user-images.githubusercontent.com/3093940/37985784-91aedd04-31ae-11e8-9077-c92b8ebadf0c.jpg)
![2018-03-27_11-10-59](https://user-images.githubusercontent.com/3093940/37986154-9c1edf68-31af-11e8-8e16-

[2018-03-27 19:03] csmoore commented on #290
@ACueva - there is probably some confusion with the branches - which is probably my fault since I didn't comment after #314 was merged - just ensure you are using the latest from "dev" versus the branch mentioned above:  https://github.com/Esri/military-features-data/tree/dev/military-symbology-styles/test-data/app6b/pro-projects

That entry should look like this in the latest (merged after #314):

[2018-03-27 19:06] ACueva commented on #290
Thanks @csmoore I'll grab the latest branch and test.

[2018-03-28 13:42] #85 closed

[2018-03-28 13:43] #73 closed

[2018-03-28 14:37] csmoore commented on #296
Added a step to addin to update/add the label rules to the style:

![image](https://user-images.githubusercontent.com/3090809/38035782-21157876-3273-11e8-9bfb-6bfb5f91122c.png)

1. 2 icons are failing to import into the style - these 2 should be investigated further and reported to Core as an issue (we may also try to remove the unsupported SVG)
2. Update the current docs/readmes
3. Test the new p

[2018-03-28 15:40] BobBooth commented on #295
@csmoore  - Q: how are the APP6B symbols stored in the stylx file - are they a blob data type? Any SQLITE utilites outside of ArcGIS/Runtime for extracting BLOBs from dataabase?  Can we do that and see what file type they might be? Wondering if they are EMFs or SVGs... Perhaps they can be exported as SVG?
If so, we may be able to do some of the frame modifiers (dotted, dashed) by identifying those

[2018-03-28 16:07] topowright commented on #276
@dfoll @ACueva To verify this issue you will need to use the comprehensive data and you should not see any yellow labels:
- [ ] ArcGIS Pro 2.1
- [ ] ArcGIS Pro 2.2
- [ ] Runtime 100.2
- [ ] Runtime 100.3

[2018-03-28 16:52] topowright commented on #263
This is no longer an issue. The issue came about from a misunderstanding of something we had to be done. It is no longer valid.

[2018-03-28 16:52] #263 closed

[2018-03-28 17:28] topowright commented on #267
Document if this is supported in 100.2 and ArcGIS Pro 2.1. We need to understand if this is an issue with APP6 - B as well.

[2018-03-28 17:34] topowright commented on #295
This needs to be logged in the Runtime repo.

[2018-03-28 17:47] topowright commented on #296
**PE**
- [ ] Identify labels for each symbol set

[2018-03-28 20:33] BobBooth opened #316 "APP6-B Equipment Mobility modifiers - some not drawing correctly"
Testing the App6-B Equipment mobility modifiers on a ground equipment symbol, Runtime Symbol export tool gives some errors.
Testing code combinations from "Table B-II. Symbol ID codes - size/mobility (cont'd)."(p. B4, B5)
M - MOBILITY EQUIPMENT
M F MOBILITY FIXED WING
M H MOBILITY HELICOPTER
M M MOBILITY MISSILE
MO MOBILITY WHEELED/LIMITED CROSS
COUNTRY
MP MOBILITY CROSS COUNTRY
MQ MOBILITY TRACKE

[2018-03-29 14:20] csmoore commented on #296
I hit a snag on this task L24 when testing the final/resulting style in Runtime/Pro - the final style was **not** compatible with runtime (i.e. crashed Pro / doesn't draw in Runtime) - I just need make a few changes to ensure each step of the process is working with a mobile style.

Also the 2 bad icons mentioned above were actually repeated unique keys, so this was an input data problem.

I'll up

[2018-03-29 16:14] BobBooth commented on #316
[Issue_316_Mobility.zip](https://github.com/Esri/military-features-data/files/1860965/Issue_316_Mobility.zip)
This is the bat file to check these modifiers.

[2018-03-29 17:17] topowright opened #319 "Issues with the gct offset in APP6-B"
#### Summary of Issue Encountered:
A customer using the APP6-B stylx files that is famialr wtih our stylx files from 2525 has found an issues with  gct_arrow_with_offset" to be within the TAGS Column

##### Brief summary of issue encountered:
The symbols are available within the stylx file. But they are missing the gct_strings that describe how to create this symbol. Normally they expect something

[2018-03-29 17:18] topowright commented on #319
@lfunkhouser

[2018-03-29 18:47] BobBooth commented on #316
Mobility indicator chart from the standard:
![image](https://user-images.githubusercontent.com/3801392/38107289-7b1ca42e-335f-11e8-8e44-ab1e687ed007.png)
I cannot seem to find the SIC code values for the "sled", "pack animal", and "amphibious" indicators. The ones I included in this issue are from table B-II in the APP6-B standard document.
![image](https://user-images.githubusercontent.com/380139

[2018-03-29 19:15] BobBooth opened #320 "APP6-B Country modifiers not drawing"
Per APP-6B standard PDF, "e) Country code, positions 13 and 14. These positions identify the country
with which a symbol is associated. Country code identifiers are listed in Federal Information Processing Standard (FIPS) Pub 10 series."

We do not draw a country code (or flag) using Runtime.
Needs to be checked in Pro (could be that we draw the country code value as a label in Pro; if not, we sho

[2018-03-29 19:32] BobBooth opened #321 "APP6-B Order of Battle modifiers not drawing"
The APP6-B standard indicates that **Order of battle**, position 15. This position provides additional information about the role of a symbol in the battlespace. For example, a bomber that has nuclear weapons on board may be strategic force-related, or a tactical graphic may also perform the role of a control point.
Position 15 indicates order of battle
A - AIR OB
E - ELECTRONIC OB
C - CIVILIAN OB

[2018-03-29 20:27] ACueva commented on #290
Merged test batch scripts.  They now live in this repo.

[2018-03-29 22:04] ACueva opened #322 "Test data not rendering at certain scales"
#### Summary of Issue Encountered:
At certain scale ranges our test data does not render

##### Brief summary of issue encountered:
1:580,332 scale renders like this:
![2018-03-29_14-38-11](https://user-images.githubusercontent.com/3093940/38115616-85c0c930-3361-11e8-8876-1709b9ae65d7.png)

1:371,413 scale renders like this:
![2018-03-29_14-37-40](https://user-images.githubusercontent.com/3093940/

[2018-03-29 22:14] ACueva commented on #290
@csmoore The stylx file you referenced here: https://github.com/Esri/military-features-data/issues/290#issuecomment-376638695 bring up the following error message:
![2018-03-29_15-11-40](https://user-images.githubusercontent.com/3093940/38116132-ae42e3c8-3363-11e8-9a7d-e548a1f43e44.png)

Was running a definition query on the Full SIDC searching for "EVEM".  The symbols still appear to render.
![20

[2018-03-29 22:32] ACueva commented on #290
@csmoore I tried viewing the attribute table and now it shows up.  Nothing changed other than I tried to view the attribute table a 2nd time.
![2018-03-29_15-29-10](https://user-images.githubusercontent.com/3093940/38116725-2f47c54a-3366-11e8-93f8-bc77b3233e74.png)

[2018-03-29 23:16] ACueva commented on #290
APP6B Standard:
OID 469 Shape Point sic SFGPEW--------- Label WEAPONS

|Annex|Affiliation|Full SIDC|Hierarchy Code|Name|
|-----|-----------|---------|--------------|----|
|D|Friend|SFGPEWM--------|1.X.3.2.1.1 |MISSILE LAUNCHERS|
|D|Friend|SFGPEWMA-------|1.X.3.2.1.1.1 |AIR DEFENCE (AD) MISSILE LAUNCH|
|D|Friend|SFGPEWMAS------|1.X.3.2.1.1.1.1 |SHORT RANGE AD MISSILE LAUNCHERS|
|D|Friend|SFGPEWMAI-

[2018-03-30 00:03] ACueva opened #323 ""Failed to load data" error message the first time a definition query is performed"
#### Summary of Issue Encountered:
"Failed to load data" error message the first time a definition query is performed using the APP6B Stylx

##### Brief summary of issue encountered:
When Performing a definition query on the "app6b_points_d" layer and specifying the following:

![2018-03-29_15-16-01](https://user-images.githubusercontent.com/3093940/38116252-1f5fc8d2-3364-11e8-8ab9-7feb742bfe58.pn

[2018-03-30 13:05] csmoore commented on #322
We have encountered this issue before: https://github.com/Esri/military-features-data/issues/132

Hopefully it is just an issue with the daily but should be reported to core.

[2018-03-30 13:59] ACueva commented on #323
Upon further review it doesn't appear to be an issue with our data.  This perhaps an issue with our daily build that we should verify @ holistic.  FYI @dfoll @topowright

[2018-03-30 14:44] #323 closed

[2018-03-30 20:40] csmoore opened #324 "Using Pro to create Mobile Style Files seems to create incompatible features with SVG Text"
#### Summary of Issue Encountered:

Using Pro 2.1 to create mobile style files compatible with the ArcGIS Pro and Runtime Dictionary Renderer is creating incompatible styles (the styles do not appear to work with Runtime 100.2/Pro 2.1 DictionaryRenderer).

##### Describe the product and version used:

Pro 2.1 / Runtime 100.2

#### Reproduction Steps and/or Where to Obtain Test Data:

1. Run ArcGIS

[2018-03-30 20:41] csmoore commented on #296
This task is impeded due to the issue reported in last comment - opened new issue #324 that should be reported to Core. @topowright @ACueva @dfoll

[2018-03-30 20:45] csmoore commented on #324
@dfoll @ACueva @topowright - can you  report this issue to Core? And also see if these can suggest a workaround to use in the short term - thanks

[2018-03-30 22:46] ACueva commented on #290
We have a way forward on displaying the symbols we have tested.  I am working on documenting this process and setting up how the results will be displayed.

[2018-03-30 22:48] ACueva commented on #290
I've increased the estimate as the scope of this issue has increased due to the addition of the results table and associated documentation.

[2018-04-02 15:08] lfunkhouser commented on #290
@ACueva please provide more information on the way forward for displaying the symbols?

[2018-04-02 20:50] lfunkhouser commented on #321
@BobBooth What is the bug here? From my understanding it is additional information captured in the 15 character code, but not a physical modifier added to the symbol.

[2018-04-02 20:54] lfunkhouser commented on #320
@BobBooth Where is the expected location of the country code label? Does APP-6(B) identify a location for the country code? A flag would be custom and not part of this issue.

[2018-04-02 22:36] ACueva commented on #290
https://github.com/Esri/military-features-data/pull/325 Addresses the supporting files needed for our verification scripts.

Wiki has been updated here:
https://github.com/Esri/military-features-data/wiki/Issue-verification-matrix

IMO this issue can be closed once PR #325 has been reviewed and merged.

[2018-04-03 00:34] csmoore commented on #296
The steps to use the app have been updated in branch: https://github.com/Esri/military-features-data/tree/csm/%23296-update-stylx-creation-process
At:
https://github.com/Esri/military-features-data/tree/csm/%23296-update-stylx-creation-process/military-symbology-styles/utils-and-source-data/style-creation-utilities

[2018-04-03 06:11] lfunkhouser commented on #322
@ACueva Please follow up with core after testing/verifing it is still an issue with an updated daily build.

[2018-04-03 13:29] lfunkhouser opened #326 "Customer reported 2525C symbol issues"
Runtime 100.2
2525C

Customer reported issues after updating their tests from Runtime 10.2.6 to 100.2 and saw the following issues with symbols. The number preceding the issue refers to the page number in the 2525C standard.

Dictionary_adapter::construct_cim_symbol_ FAILED to create_ SymbolX for id= S-G-USS2--_2, Inserted NULL, I am not finding that string in my test cases

91 - missing the littl

[2018-04-03 13:35] BobBooth commented on #320
@lfunkhouser - I looked in the standard doc and I don't actually see a specified location for country code labels.

[2018-04-03 14:42] csmoore commented on #326
About half of these (ex: the ones that mention sub icons being too close or in slightly different positions) seem consistent with the results from when we initially tested 2 years ago: https://github.com/csmoore/mil2525-testing/blob/master/mil2525c/Mil2525C-Test-Results.md

However the ones that report missing/invisible icons seem like different results and perhaps some new issues. Perhaps as a re

[2018-04-03 15:23] csmoore commented on #276
The 100.3 version of the Runtime Symbol Export App has been updated at: https://esri.box.com/s/j8hlknhl4n857sj3lcpor3ez0j20bcdo

[2018-04-03 15:46] topowright commented on #291
I am moving this to done being that it seems like this issue has a perpetual title that really does not allow us to understand what is next or what has been done. If this is not correct @dfoll @BobBooth @csmoore @ACueva I suggest we open other very clear small effort items to address what is needed.

[2018-04-03 15:49] topowright commented on #295
I stated above that I need to log an issue in Runtime, but I do not understand what I need to log in Runtime. Can someone provide clarity on what I need to log?

[2018-04-03 16:11] topowright commented on #295
@csmoore will provide guidance on this issue.

[2018-04-03 17:09] lfunkhouser opened #327 "APP-6(B) Support"

[2018-04-03 17:21] #321 closed, assigned to nobody

[2018-04-03 17:22] #320 closed, assigned to nobody

[2018-04-03 18:24] topowright commented on #291
This issue can be moved to done once this pull request has been reviewed:
https://github.com/Esri/military-features-data/pull/328

[2018-04-03 18:53] csmoore commented on #295
The general issue is with dashed lines for frames (on point symbols), lines, and polygon symbols.

Currently the icons for each app6b symbol in the style are a single symbol that includes the frame and other icon components within the frame:

![image](https://user-images.githubusercontent.com/3090809/38269003-84fc52fe-374d-11e8-8e97-805403ef02ad.png)

Because of this, it is currently impractical t

[2018-04-03 21:42] ACueva commented on #322
Working on a repro case to be able to provide to core.

[2018-04-03 21:53] topowright commented on #322
This was not marked for this sprint. Please choose something from the sprint backlog.

[2018-04-03 22:27] ACueva commented on #322
Tested Pro 2.1 and Pro 2.2 Daily build 11872.  I was unable to reproduce this behavior.

[2018-04-03 22:29] #322 closed

[2018-04-03 22:31] topowright commented on #295
@lfunkhouser is this a call we are supposed to make or is this something that should be made by core?

[2018-04-03 22:45] ACueva commented on #324
@topowright have you contacted core or would you like me to?

[2018-04-03 23:30] topowright commented on #276
This item can be closed once @dfoll accepts the pull request for the changes to the page

[2018-04-04 13:59] lfunkhouser commented on #88
All work was completed on this issue in a previous sprint by @BobBooth. The remaining effort is verifying that they are fixed. @ACueva Has this been verified as fixed?

[2018-04-04 14:05] lfunkhouser commented on #295
It is to my understanding that even if we could do #1, we couldn't support planned status for the point, line and area control measures using the provided source data. An issue to support this should be logged in core.

[2018-04-04 14:24] csmoore commented on #297
Because of the recently discovered issue creating mobile compatible styles using Pro 2.1 (see issue #324), I used the original [Style Creation Process](https://github.com/Esri/military-features-data/tree/csm/%23297-app6d-style/military-symbology-styles/utils-and-source-data/style-creation-utilities) to create an updated (and mobile compatible) version of the app6d stylx. I verified the original pr

[2018-04-04 17:47] #291 closed

[2018-04-04 18:46] #276 closed

[2018-04-06 19:12] lfunkhouser commented on #215
Moving to Next Release.

[2018-04-12 17:27] BobBooth commented on #267
APP-6B should probably match what we do with this. The point ordering is not specified in 6B.
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/d90877e6-cc87-4401-badc-309d3358c685)
In contrast, 2525C does specify the point order:
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/1533fbd8-1355-4ca5-ac76-f7b46b7a417b)
The Point 1 - Point 2 sequence,

[2018-04-13 17:50] topowright commented on #305
Use the MSE for updates or the attribute pane in Pro or ArcMap (default tools)

[2018-04-13 17:50] #305 closed

[2018-04-13 18:30] BobBooth commented on #319
@topowright - what is the actual scope of this change? Does this apply only to attack arrows, all features, or something in between?
What is the list of changes that need to be changed? Just "ct_arrow_with_offset"?  Are there others? Where are they?
@csmoore

[2018-04-13 19:26] lfunkhouser commented on #290
verified. Closing.

[2018-04-13 19:26] #290 closed

[2018-04-13 20:40] topowright commented on #319
@csmoore why was the gct_string not included in the APP6-B?

[2018-04-13 20:41] topowright commented on #297
This still needs to be tested once core includes this in the daily build.

[2018-04-13 20:46] #215 closed

[2018-04-13 20:46] #88 closed

[2018-04-14 00:51] jeconley commented on #297
@topowright @csmoore is there test data for this that I can add to the core display tests?

[2018-04-16 11:27] csmoore commented on #319
@topowright - I did not work on the development of this original style but that style probably preceded those tags/convention

[2018-04-16 13:59] jeconley commented on #297
@csmoore - thanks, I wasn't sure if there was something different needed for the "Dismounted Individual Symbol Set " mentioned above.  I will use the data I have for mil2525D

[2018-04-16 14:45] BobBooth commented on #319
Might be possible to to join to JMSML CSV to get this data?
https://raw.githubusercontent.com/Esri/joint-military-symbology-xml/master/samples/imagefile_name_category_tags/Military-All-Icons.csv

[2018-04-17 07:45] NorbertThoden commented on #319
Hi!
I am the customer who caused a case "Esri Case #02068526 - [BOS] reading/loading app6b.stylx fails"
While going forward in that case (thanks to Chris Moore https://github.com/Esri/military-features-data/issues/276#issuecomment-368871017) we were recognizing that all the gct_ strings are missing (in opposite to mil2525d.stylx).

To make the initial description https://github.com/Esri/military-f

[2018-04-17 21:12] ACueva commented on #9
Verified.  Ran the following bat file to produce Runtime 100.2 APP6B Military Symbology. https://github.com/Esri/military-features-data/blob/dev/military-symbology-styles/test-data/app6b/ExportScripts/ComprehensiveTestDataBasedOnCMooreFixes.bat

All requested symbols draw.
![2018-04-17_14-11-53](https://user-images.githubusercontent.com/3093940/38898202-595bbbc4-4249-11e8-9a7b-256e3809c363.jpg)

[2018-04-18 21:40] ACueva commented on #297
Attempted to test in Pro 2.1, 2.1.1, Daily build Pro 2.2.

I used the April 14, 2018 Stylx from https://github.com/Esri/military-features-data/tree/dev/military-symbology-styles/app6d

I got the following error in all 3 versions of ArcGIS Pro.
![2018-04-18_14-26-46](https://user-images.githubusercontent.com/3093940/38959610-22025c28-4316-11e8-9a84-97dcf585eb9a.jpg)

@csmoore I had to dig around th

[2018-04-18 21:45] jeconley commented on #297
@ACueva For it to work in Pro you will need a .stylx that has the rows below added to the meta table

![image](https://user-images.githubusercontent.com/8083702/38959872-29c0672e-4317-11e8-8504-94b349e74635.png)

[2018-04-19 12:30] t-foster commented on #326
I was the original issue writer.  One point about your test results is that they only appear to have checked friendly symbols, not neutral, hostile and unknown which have different shapes and sizes which can affect the symbols.

[2018-04-19 17:17] ACueva commented on #297
I've tested the new stylx mentioned in PR #331.  Tested Modifier1 and Modifier2 changes based off the following: https://github.com/Esri/joint-military-symbology-xml/issues/333.
This appears to be working in Pro 2.2 Daily Build 11999.

Work left:
- [ ] Test stylx in Pro 2.1
- [ ] Test stylx against Runtime 100.1 (Dependent on @csmoore 's changes to existing Runtime app)
- [ ] Test stylx against Ru

[2018-04-19 21:01] ACueva commented on #297
@csmoore Your initial comment refers to 100.1 https://github.com/Esri/military-features-data/issues/297#issue-305284005

I'm working on testing this on 100.2.  I believe it would be a good idea to see if this works at 100.1 as well.  Is rebuilding at an earlier version something that can be done fairly quickly?

[2018-04-19 22:27] ACueva commented on #297
I've tested on Runtime 100.2 using the Export App listed above.  https://github.com/Esri/military-features-data/issues/297#issuecomment-382834215

![2018-04-19_15-25-04](https://user-images.githubusercontent.com/3093940/39021533-fdbf5246-43e5-11e8-8bfe-ed47e0bd0afb.jpg)

[2018-04-19 22:29] ACueva commented on #297
Moving to impeded as the Runtime 100.1 testing is dependent on a new 100.1 build of the Export App.

[2018-04-19 22:42] topowright commented on #297
@lfunkhouser I feel like this should be a delivered for 100.2 and ArcGIS Pro 2.2 not 100.1. We have been actively testing this on 100.2 and not sure why we need to go back.

@ACueva If we needed only to test this on 100.2 we would be able to close this issue?

[2018-04-19 23:14] topowright commented on #297
@lfunkhouser, @ACueva  and I were working on this and we feel like we have a few options.

### Option one:

Show that we only support 100.3 for APP6-D due to the fact that there is code change happening with the validation methods that are in the core software now, which I do not think is going to happen. That could be a change the core team makes based on guidance from @kerryrobinson.

### Option

[2018-04-19 23:16] topowright commented on #297
Based on the fact that currently we can only test on 100.3 this issue needs to be changed to be 100.3. We need to recompile the app when the Runtime code is updated.

[2018-04-20 16:51] dfoll commented on #297
@topowright just want to confirm you made the changes your listed directly above this comment so that the  issue is now accurate.... i understand that the issue is now accurate .... for Pro 2.2 and 100.3?

we still need test data specific to app6d... right now I will edit the original issue text to reflect that we need test data as well.

[2018-04-24 15:58] topowright commented on #297
Closing this issue as all the future work will be done in this issue:
https://github.com/ArcGIS/solutions-defense/issues/681

[2018-04-24 15:59] topowright commented on #297
Not closing this issue yet. Instead I want to speak about this at sprint review.

[2018-04-24 16:00] topowright commented on #299
This issue will be closed after sprint review as a no count being that all the work needs to be done in this issue:
https://github.com/ArcGIS/solutions-defense/issues/681

[2018-04-24 20:17] #297 closed

[2018-04-24 20:18] #299 closed

[2018-04-24 21:46] lfunkhouser commented on #9
@topowright I changed the title back to the original title. This issue was logged in 2014 and it would not be accurate to say it was a bug at Runtime 100.2. There were several comments with respect to previous versions of Runtime (i.e. Runtime 10.2.2, 10.2.5, etc). This issue was logged for symbols not drawing at Runtime 10.2.2. The symbols have been fixed and tested at Runtime 100.2. What is the

[2018-04-30 08:38] lfunkhouser commented on #9
Has the Runtime and Pro teams been given the updated APP-6(B) stylx?

[2018-05-02 00:07] lfunkhouser commented on #9
@topowright @ACueva @BobBooth @csmoore Mentioning all who worked on this issue...
Please update on the status of the Search Area Reconnaissance Left and Right symbols. Also when was the stylx delivered?

[2018-05-02 15:24] BobBooth commented on #9
In the APP-06(B) standard, Search Area Reconnaissance (GFCPMGASS------) is specified like this:
![image](https://user-images.githubusercontent.com/3801392/39531103-6fc5becc-4df8-11e8-9bf6-52f71ab74426.png)
Our Stylx matches the SIC  (GFCPMGASS------) with this symbol, which can be used to draw both lines
![image](https://user-images.githubusercontent.com/3801392/39531220-ae7b085c-4df8-11e8-9781-39

[2018-05-02 16:36] BobBooth commented on #9
@lfunkhouser - I checked in the style, we do offer a Left and Right version of the symbol.
![image](https://user-images.githubusercontent.com/3801392/39536701-652a7a54-4e05-11e8-86ec-9d0543d0e650.png)

[2018-05-03 04:59] lfunkhouser commented on #9
Thanks @BobBooth

@csmoore verified that the AGOL item posted matches the latest updates in this repository. @topowright Can you confirm that the Pro team gets the stylx from the AGOL item?

[2018-05-15 17:23] #9 closed, assigned to ACueva

[2018-05-16 21:15] lfunkhouser commented on #326
Thanks @t-foster. We have updated many of our test cases to include the other affiliations.

[2018-05-30 18:20] kerryrobinson commented on #326
Bug number: BUG-000114174

[2018-07-06 16:39] lfunkhouser commented on #324
@ACueva @topowright @dfoll Did anyone talk to core teams on this issue?

[2018-07-06 16:42] ACueva commented on #324
@lfunkhouser I have not.

[2018-07-06 21:02] csmoore commented on #324
@ACueva @dfoll @lfunkhouser @topowright - this issue with incompatibility importing SVG text into Mobile Styles still seems at Pro 2.2.

There are also about 10 SVGs that used to import at Pro 2.1 that now fail at 2.2 so also tracking down what the new SVG incompatibility might be.

[2018-07-06 21:13] jeconley commented on #324
I believe this is the issue about text in a vector marker not being supported in RT.  Marc-O installed a fix for that this week.  Please try with the latest version of RT.

[2018-07-09 12:01] csmoore commented on #324
@jeconley thanks for the update - so Text in VectorMarkers should be supported in the **next** versions of Runtime (100.4) and Pro (2.3) dictionary renderer and at that point we can make all of our edits/changes in Pro

(UPDATE) It looks like the Runtime daily builds were turned off on 6/26 so I'll test this when they are running again.

[2018-07-16 18:11] csmoore opened #334 "Using Pro 2.2, some of the 2525D Source SVGs are failing to import into Pro Styles"
#### Summary of Issue Encountered:

Starting at Pro 2.2, some of the 2525D Source SVGs are failing to import into Pro Mobile Styles. The failing SVGs seems to have empty Path elements.

#### Brief summary of issue encountered:

After installing Pro 2.2 and attempting to load the following SVGs from:
https://github.com/Esri/military-features-data/tree/dev/military-symbology-styles/utils-and-source-

[2018-07-18 15:51] csmoore commented on #324
Just an update - and I think this was expected, since it looks like Style Text Markers won't be supported in Runtime until the **next** version based on @jeconley 's comments that this fix/change was just installed - but I tested the Style above on the released version of 100.3 and it no longer crashes, but the Text Markers and not displayed either.

So it looks like we will have to wait until the

[2018-07-20 15:34] csmoore commented on #324
Update: this just seems to be an issue with Runtime (100.3 or earlier) - the style files created on Pro 2.2 with TextMarkers do seem to work on Pro 2.2 with the Dictionary Renderer.

[2018-07-20 15:40] csmoore commented on #296
Created PR: #335 to address the original issue and some recommended enhancements/feedback this week:

1. Add Addin source+prebuilt app to the repo
2. Move documentation on using the app to the wiki ( https://github.com/Esri/military-features-data/wiki/Creating-Dictionary-Renderer-Style-Files )

The only 2 issues I have noticed using this app/process/stylx-created are noted in:

1. #324 - Runtime 1

[2018-08-27 17:09] lfunkhouser commented on #11
Closing. This is no longer an issue.

[2018-08-27 17:09] #11 closed

[2018-08-27 17:15] topowright-zz commented on #15
This issue was moved to Esri/military-symbology#260

[2018-08-27 17:15] #15 closed

[2018-08-27 18:07] lfunkhouser commented on #24
@BobBooth Please break out the 3 remaining symbols that are drawing incorrectly. Log these as individual issues in the https://github.com/Esri/military-symbology repo. Use https://github.com/Esri/military-symbology/issues/261 as a template.

[2018-08-27 18:12] topowright-zz commented on #31
This issue was moved to Esri/military-symbology#262

[2018-08-27 18:13] #31 closed

[2018-08-27 18:26] csmoore commented on #43
@topowright @lfunkhouser @dfoll - this issue can be closed - it was just capturing a known limit that any non-standard fonts used in the style text symbols (labels) wouldn't be drawn exactly in runtime and would be mapped to a generic font.

For instance you couldn't specify a text symbol/label in "Wingdings" and expect it to draw in Runtime. I don't think any issues about incorrect fonts have eve

[2018-08-27 18:32] lfunkhouser commented on #55
Closing. https://github.com/Esri/military-symbology/issues/263 has been created to address these issues.

[2018-08-27 18:32] #55 closed

[2018-08-27 18:37] lfunkhouser commented on #43
@mbriat @jeconley What font should military symbology be using in order for it to be supported across the platform?

[2018-08-27 18:42] topowright-zz commented on #66
This issue was moved to Esri/military-symbology#264

[2018-08-27 18:42] #66 closed

[2018-08-27 18:47] lfunkhouser commented on #69
Closing. Issue 122 has been logged in Enterprise GitHub in multiscale-mapping .

[2018-08-27 18:47] #69 closed

[2018-08-27 18:48] topowright-zz commented on #70
This issue was moved to Esri/military-symbology#265

[2018-08-27 18:48] #70 closed

[2018-08-27 18:54] topowright-zz commented on #108
This issue was moved to Esri/military-symbology#267

[2018-08-27 18:54] #108 closed

[2018-08-27 18:57] lfunkhouser commented on #111
Closing. Point order is being tracked in https://github.com/Esri/military-symbology/issues/267.

[2018-08-27 18:57] #111 closed

[2018-08-27 19:06] topowright-zz commented on #129
This issue was moved to Esri/military-symbology#268

[2018-08-27 19:06] #129 closed

[2018-08-27 19:09] topowright-zz commented on #319
This issue was moved to Esri/military-symbology#269

[2018-08-27 19:09] #319 closed

[2018-08-27 19:09] lfunkhouser commented on #327
Closing. Issue #319 will be addressed by https://github.com/Esri/military-symbology/issues/269

[2018-08-27 19:09] #327 closed

[2018-08-27 19:11] lfunkhouser commented on #140
Closing. This work is being handled by core development team.

[2018-08-27 19:11] #140 closed

[2018-08-27 19:12] topowright-zz commented on #146
This issue was moved to Esri/military-symbology#270

[2018-08-27 19:12] #146 closed

[2018-08-27 19:21] lfunkhouser commented on #168
@csmoore Please validate this is still an issue. For any outstanding issues, create issues in the https://github.com/Esri/solutions-geoprocessing-toolbox.

[2018-08-27 19:29] topowright-zz commented on #174
This issue was moved to Esri/military-symbology#271

[2018-08-27 19:29] #174 closed

[2018-08-27 19:32] topowright-zz commented on #192
This issue was moved to Esri/military-symbology#272

[2018-08-27 19:32] #192 closed

[2018-08-27 19:33] lfunkhouser commented on #203
Closing. This is being addressed by the core development team.

[2018-08-27 19:33] #203 closed

[2018-08-27 19:38] lfunkhouser commented on #195
@csmoore Is this still an issue in Runtime? It is not an issue in ArcGIS Pro 2.2.

[2018-08-27 19:46] csmoore commented on #195
@lfunkhouser using app6b on Pro 2.2 - I don't see a halo/outline:

![image](https://user-images.githubusercontent.com/3090809/44682005-30386100-aa10-11e8-934f-33b9394a3d79.png)

The others (mil2525d, mil2525c_b2, app6d) do have the halo/outline.  I don't believe the mil2525c.stylx is used anymore.

[2018-08-27 19:47] lfunkhouser commented on #204
Closing. The use case to rotate the military symbol on a map is not clear.

[2018-08-27 19:47] #204 closed

[2018-08-27 19:49] csmoore commented on #168
@lfunkhouser - this can be closed.

The major issues were addressed (subtypes not working and adding manual steps to the readme) - in latest version at: https://github.com/Esri/military-features-data/tree/dev/military-overlay/utils-source-and-test-data/schema-creation-utilities

The remaining issues were very minor code review issues from the old #165 PR review.

[2018-08-27 19:49] lfunkhouser commented on #202
Closing. Feature points do not change.

[2018-08-27 19:49] #202 closed

[2018-08-27 19:54] lfunkhouser commented on #168
Thanks @csmoore. Closing this issue with remaining issues not addressed.

[2018-08-27 19:54] #168 closed

[2018-08-27 20:00] lfunkhouser commented on #195
Thanks @csmoore for a better understanding of what the issue is. mil2525c_b2 was checked in ArcGIS Pro 2.2, not mil2525c. How can this be addressed for APP-6(B)?

[2018-08-27 20:04] BobBooth commented on #24
@lfunkhouser - I created a new issue for the foreshore symbol: https://github.com/Esri/military-symbology/issues/266
The Antitank Ditch/Wall conflict: https://github.com/Esri/military-symbology/issues/273
and Wind Plot symbol: https://github.com/Esri/military-symbology/issues/274

[2018-08-27 20:07] lfunkhouser commented on #211
Closing. Issue is being tracked here, https://github.com/Esri/military-symbology/issues/27.

[2018-08-27 20:07] #211 closed

[2018-08-27 20:46] csmoore commented on #195
@lfunkhouser - either manually adding the halo in Pro using the Style Editor (but there are a lot of Text Symbols, probably far more than needed) - or perhaps batch modifying the CIM text symbols through a script or Pro Addin.

[2018-08-27 20:50] jeconley commented on #43
@lfunkhouser I checked with Craig and he said that unfortunately there really isn't a single font that works best.  He recommended using something "mundane" like Arial which is most likely to flow the best because there are substitutions that are set for it.

[2018-08-27 20:59] topowright-zz commented on #212
Closed as non reproducible

[2018-08-27 20:59] #212 closed

[2018-08-27 21:00] topowright-zz commented on #216
This is no longer supported functionality. Closing this issue.

[2018-08-27 21:00] #216 closed

[2018-08-27 21:03] topowright-zz commented on #217
This issue is being addressed by multiple teams at esri. Moving this issue to the Military Symbology repo

[2018-08-27 21:03] topowright-zz commented on #217
This issue was moved to Esri/military-symbology#275

[2018-08-27 21:03] #217 closed

[2018-08-27 21:04] topowright commented on #195
https://github.com/Esri/military-symbology/issues/275

[2018-08-27 21:07] topowright-zz commented on #195
I was tracking  that all stylx files were created from the same source. If that is the case why are the labels being rendered differently.

[2018-08-27 21:16] csmoore commented on #195
I wasn't involved in this, but I believe the older app6b and mil2525c stylx's were created manually using 10.X (before Pro was available) and converted using a custom app - so they do have different source files (from app6d, 2525d, 2525c_b2).

[2018-08-27 21:22] topowright-zz commented on #256
This issue was moved to Esri/military-symbology#276

[2018-08-27 21:25] topowright-zz commented on #301
Closing this issue. This is not work that we will do; instead, this work will be done by the core team with support from our team.

[2018-08-27 21:25] #301 closed

[2018-08-27 21:29] topowright-zz commented on #308
This work will not be done inside this issue. Closing this issue.

[2018-08-27 21:29] #308 closed

[2018-08-27 21:32] topowright-zz commented on #309
This can be done by using the date time valid and the date time expired in the schema currently. @kgonzago can you add any missing features that we would need to add. Otherwise I think this should be closed.

[2018-08-27 21:34] topowright-zz commented on #304
This is in the product plan for 2019.

[2018-08-27 21:34] topowright-zz commented on #304
This issue was moved to Esri/military-symbology#278

[2018-08-27 21:34] #304 closed

[2018-08-27 23:39] lfunkhouser commented on #43
Thanks @jeconley for the guidance. Closing this issue.

[2018-08-27 23:39] #43 closed

[2018-08-27 23:41] topowright-zz commented on #313
Closing this issue until the symbology committee decides what the path forward will be for these symbols.

[2018-08-27 23:41] #313 closed

[2018-08-27 23:42] topowright-zz commented on #300
This is  a core limitation and if this capability is added it will not happen in this issue. Closing this issue.

[2018-08-27 23:42] #300 closed

[2018-08-27 23:44] topowright-zz commented on #302
This is a limitation of the core software. This work will not be done in this issue. Closing now.

[2018-08-27 23:44] #302 closed

[2018-08-27 23:48] topowright-zz commented on #303
Using the ability to showcase scale dependent layers based on echelons would be a great blog. This would showcase to our users how you can track elements from a company to a brigade.

[2018-08-27 23:49] topowright-zz commented on #303
This issue was moved to Esri/military-symbology#279

[2018-08-27 23:49] #303 closed

[2018-08-28 00:05] topowright-zz commented on #312
@kerryrobinson do you know of a current use cases for this issue?

[2018-08-28 00:06] topowright-zz commented on #310
This issue was moved to Esri/military-symbology#280

[2018-08-28 00:06] #310 closed

[2018-08-28 00:07] lfunkhouser commented on #24
@BobBooth Can you write up the final issue for Small/light flatbed trailer tractor trailer truck. This is SIDC SFGPEVCFL------ not SFGPEVCF-------. Are they both supported or just the one?

[2018-08-28 00:07] topowright-zz commented on #311
This issue was moved to Esri/military-symbology#281

[2018-08-28 00:07] #311 closed

[2018-08-28 00:09] topowright-zz commented on #307
Our current approach would be to share military symbology through a service and not as a flat file such as KML or KMZ. This will be closed.

[2018-08-28 00:09] #307 closed

[2018-08-28 00:23] kerryrobinson commented on #312
@topowright I don't have a solid use case from a customer, but I could see the case where you need to display a symbol given an SIDC from a legacy standard however prefer to visualize the updated symbol using the latest version of the standard, or give the end user the option to choose depending on their need.   This would be based on the assumption that the change made to the symbol from the lega

[2018-08-28 00:25] topowright-zz commented on #312
This issue was moved to Esri/military-symbology#282

[2018-08-28 00:25] #312 closed

[2018-08-28 00:26] topowright-zz commented on #324
This issue was moved to Esri/military-symbology#283

[2018-08-28 00:26] #324 closed

[2018-08-28 00:26] topowright-zz commented on #334
This issue was moved to Esri/military-symbology#284

[2018-08-28 00:29] topowright-zz commented on #326
This issue was moved to Esri/military-symbology#285

[2018-08-28 00:29] #326 closed

[2018-08-28 00:36] topowright-zz commented on #267
This issue was moved to Esri/military-symbology#286

[2018-08-28 00:36] #267 closed

[2018-08-28 00:38] topowright-zz commented on #296
This issue was moved to Esri/military-symbology#287

[2018-08-28 00:38] #296 closed

[2018-08-28 00:39] lfunkhouser commented on #273
Closing. Import SVGs into style file process has been updated.

[2018-08-28 00:39] #273 closed

[2018-08-28 00:40] topowright-zz commented on #293
This issue was moved to Esri/military-symbology#288

[2018-08-28 00:40] #293 closed

[2018-08-28 00:42] topowright-zz commented on #257
This issue was moved to Esri/military-symbology#289

[2018-08-28 00:42] #257 closed

[2018-08-28 00:43] topowright-zz commented on #298
This issue was moved to Esri/military-symbology#290

[2018-08-28 00:43] #298 closed

[2018-08-28 14:54] BobBooth commented on #24
@lfunkhouser - both these symbols SFGPEVCFL------ and SFGPEVCF------- and their U,H,N affiliation variants, are currently drawing correctly.
![image](https://user-images.githubusercontent.com/3801392/44731077-69281280-aab0-11e8-99df-5ff8b0ceaf17.png)
![image](https://user-images.githubusercontent.com/3801392/44731121-7cd37900-aab0-11e8-8fa1-17686d176dbb.png)
cd ..\RuntimeSymbolExport\bin\Debug
Run

[2018-08-28 15:23] topowright-zz commented on #309
This is going to be closed because the schema has  a place for time input.

[2018-08-28 16:10] lfunkhouser commented on #24
@BobBooth When I search for "flatbed" using the MSE, I only get 4 results - the version with affiliation = *. This was testing using MIL-STD-2525D (mil2525d.stylx) and MIL-STD-2525B w/CHANGE 2 (mil2525c_b2.stylx). This is not the same experience when searching for a unit, such as infantry. You get all affiliations. Was this intentional? @csmoore @topowright @dfoll

[2018-08-28 16:37] BobBooth commented on #24
@lfunkhouser - I'm seeing that behavior too in MSE with 2525B. Possibly a tagging issue?
The symbols with the correct frame/background are available, if you select the one that is returned by the search and then modify its Identifty/Affiliation on the Symbol tab.
@csmoore - do you think this was an oversight, or by design?

[2018-08-28 16:40] BobBooth commented on #24
@lfunkhouser - it seems to be equipment-specific behavior.  "Tank" and "Launcher" do the same thing.

[2018-08-28 17:16] csmoore commented on #24
I'm not sure I understand what the question is, but if the issue is that some symbols searches return 1 symbol and some return 4 symbols (1 for each affiliation) - that is because some symbols have 1 entry in the style (these don't touch the frame) and some have 4 entries (these have 4 different icons that touch the frame).

For example - one entry:

![image](https://user-images.githubusercontent.

[2018-08-30 15:47] lfunkhouser commented on #24
Thanks @csmoore for clarifying the design decision made. Closing.
- Full-frame icons have 4 entries in the stylx because the icon sizes will be different based on the shape of the frame
- Icons that do not extend beyond the octagon have 1 entry in the stylx based on the octagon fits within each frame shape

All other outstanding issues have been logged.